<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-03-13 21:48:23
@LastEditors  : xupingmao
@LastEditTime : 2022-06-26 19:21:01
@FilePath     : /xnote/handlers/test/page/example_btn.html
@Description  : 描述
 #} -->
{% extends base %}

{% block body %}

    {% include test/component/example_nav.html %}

{% init html1 = """
<button class="btn">按钮1</button>
<button class="btn btn-default">按钮2</button>
<button class="btn btn-danger">按钮3</button>
<button class="btn danger">按钮4</button>
""" %}

<div class="card">
    <p>按钮</p>
    <pre class="marked-code">{{html1}}</pre>
    <div class="row pad-top-5">
        {% raw html1 %}
    </div>
</div>

{% end %}