<!-- 移动单个笔记 -->
<style>
    .group-select-box {
        line-height: initial;
        font-weight: normal;
    }
</style>

<script type="text/template" id="group_select_tpl">
    <div class="note-group-select col-md-12 scroll-y">
        {{! if hasNoMatch }}
            <p class="align-center">没有匹配项,请重新输入关键字</p>
        {{!/if}}

        {{! each groups group }}
            {{! if group.isVisible() }}
                <h3 class="group-select-header">{{!group.title}}</h3>    
                {{! each group.children item }}
                    <p class="group-select-row">
                        <i class="fa {{!item.icon}}"></i>
                        <a class="link" data-id="{{!item.id}}">
                            {{!item.path || item.name}}
                        </a>
                        <span class="group-select-size">{{!item.children_count}}</span>
                    </p>
                {{!/each}}
            {{!/if}}
        {{!/each}}
    </div>    
</script>

<div class="group-select-box hide">
    <div class="group-select-search">
        <input id="groupSelectInput" type="text" class="nav-search-input" placeholder="搜索项目"/>
        <button class="nav-search-btn btn-default">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="group-select-data"></div>
</div>

<script type="text/javascript">
    // 移动笔记-平铺模式
    xnote.api["note.move.dialog"] = NoteView.selectGroupFlat;

</script>