<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-07-13 20:43:08
@LastEditors  : xupingmao
@LastEditTime : 2022-07-13 22:32:45
@FilePath     : /xnote/handlers/note/component/script/move_script.html
@Description  : 描述
#} -->

<div class="note-move-dialog hide">

</div>

<script type="text/javascript">

xnote.onMoveNoteClick = function (target) {
    var noteId = $(target).attr("data-id");
    console.log("noteId:", noteId);

    $.get("/note/group/select?view=tree&id="+noteId, function (html) {
        xnote.openDialog("移动笔记", html);
    });
}

</script>