<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Xnote</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="bookmark" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/xnote.css"/>
    <script src="/static/lib/jquery/jquery-2.2.3.min.js"></script>
    {% block head %} {% end %}
    
    <!-- base.html -->
</head>

    <body style="margin: 0">
      <div class="xnote-menu col-md-12" style="display: block;position: fixed;background: #ccc;">
          <li class="menu-item"><a href="/index">首页</a></li>
          <li class="menu-item"><a href="/index">资料</a></li>
          <!-- <li class="menu-item"><a href="/file/group?type=date">博客</a></li> -->
          <li class="menu-item"><a href="/wiki/tools.md">工具</a></li>
          <li class="menu-item"><a href="/">提醒</a></li>
          <li class="menu-item"><a href="/wiki/">wiki</a></li>
          <!-- <li class="menu-item"><a href="/">联系人</a></li> -->
          <!-- <li class="menu-item"><a href="/image/index">图片</a></li> -->
          {% if _is_admin %}
          <li class="menu-item"><a href="/fs/">文件</a></li>
          <li class="menu-item"><a href="/system/sys">系统</a></li>
          {% end %}
      </div>
      <div class="col-md-1" style="height: 10px;"></div>
      <div class="col-md-10">
            <div class="row" style="width:100%;padding-bottom:2em;height: 30px;">
            </div>
            <!--
              <div style="float:left;width:20%;padding-top:5px;">
                <a href="/">[Home]</a>
              </div>
              -->

            <div class="col-md-12">
              <form method="GET" action="{{?action,'/search/search'}}">
                  <div class="input-group" style="float:left;width:100%">
                  {% if _search_type =="full" %}
                      <input type="checkbox" name="full_search" checked/>
                  {% else %}
                      <input type="checkbox" name="full_search" />
                  {% end %} 全文搜索
                  </div>
                  
                  <div class="input-group" style="float:left;width:100%;padding-bottom:5px;">
                      <input type="text" id="key" name="key" value="{{?key}}" placeholder="Search for" style="height:2em;"/>
                      <button style="">Search</button>
                  </div>

              </form>
            </div>

            <hr/>
            {% if 'pathlist' in globals() %}
            <div style="float:right;">
              <a href="/file/archive?id={{id}}">[重新归档]</a>
              <a href="/file/add_child?parent_id={{id}}">[添加子页面]</a>
            </div>
            <div class="row">
              <a href="/">Home</a>
              {% for path in pathlist %}
                / <a href="/file/edit?id={{path.id}}">{{path.name}}</a>
              {% end %}
              
            </div>
            {% end %}
            <div class="row">
               {% block body %} {% end %}
            </div>
            <!-- Footer -->
            <div>
                <div class="col-md-12" style="height:20px;"/>
                <hr/>
                <div class="col-md-12" style="height:50px;"/>
            </div>
        </div> <!-- Main Part End -->
        <div class="col-md-1"></div>
    </body>
</html>