<!-- 笔记类型 -->
{% init note_types = xutils.call("page.list_note_types") %}
{% init msg_types  = xutils.call("page.list_msg_types") %}
{% init system_types = xutils.call("page.list_system_types") %}

<div class="card">
{% for item in msg_types %}
    <a class="list-link" href="{{_server_home}}{{item.url}}">
        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>
        
        <div class="float-right">
            <span class="book-size-span">{{item.size}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
{% end %}
</div>


<div class="card">
{% for item in note_types %}
    <!-- 隐藏的记录 -->
    {% if hasattr(item, "hide") and item.hide %}
        {% continue %}
    {% end %}

    <a class="list-link" href="{{_server_home}}{{item.url}}">
        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>
        
        <div class="float-right">
            <span class="book-size-span">{{item.size}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
{% end %}
</div>

<div class="card">
{% for item in system_types %}
    <a class="list-link" href="{{_server_home}}{{item.url}}">
        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>
        
        <div class="float-right">
            <span class="book-size-span">{{item.size}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
{% end %}
</div>

