<!DOCTYPE html>
<html>
{% include common/base_head.html %}

{% init search_placeholder = "搜索或指令" %}
{% init search_action = "/search/search" %}
{% init warn = "" %}

<style type="text/css">
    .base-left {
        width: 200px;
        float: left;
    }

    .base-right {
        padding-left: 10px;
        float: left;
        width: 800px;
    }

    /** 移动端样式放在最后 **/
    @media screen and (max-width: 800px) {
        /** mobile **/
        .base-left {
            display: none;
        }

        .base-right {
            padding-left: 0px;
            width: 100%;
        }
    }

</style>

<!-- 侧边栏布局 -->
<body>
    <noscript>
        <strong class="align-center row">抱歉，您的浏览器不支持访问该网站，建议更换更新版本的浏览器，例如Chrome/Firefox/Safari等</strong>
    </noscript>

    
    <div class="root">
        <!-- 导航/菜单栏 -->
        {% include common/base_nav.html %}
        {% include common/search/search_mobile.html %}

        <div class="x-body main-content">
            <div class="base-left">
                {% include common/theme/sidebar_left.html %}
            </div>

            <div class="nav-left-search">
                <form id="searchForm2" method="GET" action="{{_server_home}}{{search_action}}">
                    {% include common/search_box.html %}
                </form>
            </div>

            <div class="base-right">
                <div class="col-md-12">
                    {% if warn != "" and warn != None %}
                    <pre class="col-md-12 warn global-warn">
                        {{warn}}
                    </pre>
                    {% end %}

                    <!-- 主要内容 -->
                    {% block body %} {% end %}
                </div>
            </div>
        </div>

        <!-- 右边的侧边栏 -->    
        <div class="aside">
            {% block aside %} {% end %}
        </div>

        <!-- 页脚 -->
        <div class="footer">
        </div>
    </div>

    <!-- 弹窗的蒙版 -->
    <div class="x-dialog-background"></div>
    <div class="aside-background background"></div>

    <!-- 调整样式的js -->
    {% include common/script/adjust.html %}
    {% include common/script/debug_script.html %}
</body>
</html>
