{% extends base %}

{% block body %}

{% include system/component/system_css.html %}

<!-- TODO d3.js 展示内存和CPU日志 -->
{% import web %}

<div class="card">
    <div class="card-title btn-line-height">
        <span>{{T("设置")}}</span>
        <div class="float-right">
            {% if _is_admin %}
                <a class="btn btn-default" href="/system/admin">后台管理</a>
            {% end %}
        </div>
    </div>
</div>

<div class="col-md-12 card">
    <div class="settings-row">
        <div class="settings-key">我的账号</div>
        <div class="settings-value">
            <a href="/user/info">{{_user_name}}</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">关于系统</div>
        <div class="settings-value">
            <a href="/code/wiki/README.md">查看</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row admin-visible mobile-only">
        <div class="settings-key">文件管理</div>
        <div class="settings-value">
            <a href="/fs_list">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row admin-visible mobile-only">
        <div class="settings-key">插件管理</div>
        <div class="settings-value">
            <a href="/plugins_list">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">首页</div>
        <div class="settings-value">
            <select name="HOME_PATH" data-type="str" value="{{HOME_PATH}}">
                <option value="/note/group">笔记本列表</option>
                <option value="/note/all">笔记列表</option>
                <option value="/note/date">时间轴</option>
                <option value="/note/tools">功能列表</option>
                <option value="/message/log">随手记</option>
                <option value="/note/workspace">工作台</option>
            </select>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">字体大小</div>
        <div class="settings-value">
            <select name="FONT_SCALE" data-type="int" value="{{_user_config.FONT_SCALE}}">
                <option value="80">缩小</option>
                <option value="100">正常</option>
                <option value="120">放大</option>
            </select>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">{{T("Language")}}</div>
        <div class="settings-value">
            <select name="LANG" data-type="str" value="{{_user_config.LANG}}">
                <option value="zh">中文</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>

    {% if _is_admin %}
        {% include settings/component/admin_settings.html %}
    {% end %}

</div>

<script type="text/javascript">
    function updateSetting(key, value, type) {
        $.post("/system/config", 
            {key: key, value: value, type: type}, 
            function (data) {
                window.location.reload();
        }).fail(function (resp) {
            console.log(resp);
            alert("设置失败");
        });
    }

    $("[type=radio]").on("change", function (e) {
        var val = $(e.target).val();
        var key = $(e.target).attr("name");
        var type = $(this).attr("data-type");
        // alert(val);
        updateSetting(key, val, type);
    });

    $("select").change(function (e) {
        var key = $(this).attr("name");
        var val = $(this).val();
        var type = $(this).attr("data-type");
        updateSetting(key, val, type);
    });
</script>

{% end %}