{% init show_tags = False %}
{% set globals()["show_comment"] = False %}

<div class="card">
    {% include note/component/view_header.html %}
</div>

<div class="card">
    {% include note/component/note_path.html %}
</div>

{% set globals()["comment_class"] = "top-offset-1" %}
{% set globals()["comment_btn_text"] = T("添加清单项") %}
{% set globals()["comment_placeholder"] = T("请输入清单项...") %}
{% set globals()["comment_empty_text"]  = T("暂无清单项~") %}

<!-- 清单的底层就是直接复用的评论的能力 -->
{% include note/page/comment.html %}