{% init can_edit = False %}


<div class="card">
    {% include "note/component/view_header.html" %}
</div>

<div class="card">
    {% include note/component/note_path.html %}
</div>

<div class="card col-md-12">
    {% if file.content == "" %}
        {% include common/text/empty_text.html %}
    {% end %}
    
    <div class="row">
        <div id="markdown-input-div" class="col-md-6 hide">
            <textarea id="markdown-input" class="form-control" name="content" rows=50>{{file.content}}</textarea>
        </div>

        <div id="markdown-output-div" class="col-md-12 markdown-output-div">

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var input = $("#markdown-input").val();
        marked.parseAndRender(input, "#markdown-output-div");
    });
</script>
