<!-- 
@since 2018/03/06
@modified 2020/02/01 14:43:07
-->

{% init files = [] %}
{% init show_opts = True %}
{% init show_size = False %}
{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_next  = False %}
{% init file = None %}
{% init dir_type = "" %}
{% init tags = "" %}
{% init show_parent_link = True %}

{% include note/component/group_header.html %}

<div class="grid-row note-list">
    {% if _has_login and show_parent_link and file.id != 0 %}
        <a class="dialog-link" href="/note/{{file.parent_id}}">
            <div class="book-item">
                <i class="fa fa-mail-reply black"></i>
                
                <span>上级目录</span>
                <span class="book-size">
                    <i class="fa fa-chevron-right"></i>
                </span>
            </div>
        </a>
    {% end %}

    {% for item in files %}
        <a class="dialog-link" href="{{item.url}}">
            <div class="book-item">
                {% if item.priority>0 %}
                    <i class="fa fa-thumb-tack black"></i>
                {% end %}

                <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
                <span>{{item.name}}</span>
                
                <span class="book-size">
                    {% if show_size and item.size != None %}
                        <span class="book-size-span">{{item.size}}</span>
                    {% end %}

                    {% if show_cdate %}
                        {{format_date(item.ctime).replace('-', '/')}}
                    {% end %}

                    {% if show_mdate %}
                        {{format_date(item.mtime).replace('-', '/')}}
                    {% end %}

                    {% if show_adate %}
                        {{format_date(item.atime).replace('-', '/')}}
                    {% end %}

                    {% if item.show_next or show_size %}
                        <i class="fa fa-chevron-right"></i>
                    {% end %}
                </span>
            </div>
        </a>
    {% end %}
</div>

