{% init op = "view" %}
{% init error = "" %}

<script type="text/javascript" src="/static/lib/wangEditor/wangEditor-3.1.1.min.js"></script>

<div class="card">
{% include note/component/view_header.html %}
</div>

<div class="card">
    {% include note/component/note_path.html %}
</div>

<div class="card">
{% if op == "view" %}
    <div id="editor" class="row">
        {% raw file.data %}
    </div>
{% else %}
    {% set rows = file.data.count('\n') %}
    <div class="alert">{{error}}</div>
    <form method="POST" enctype="multipart/form-data">
        <input name="version" value="{{file.version}}" class="hide">
        <input name="type" value="html" class="hide"/>
        <textarea id="data" name="data" style="width:100%;margin-top:10px;font-family:monospace;" rows={{rows}} class="hide">{{file.data}}</textarea>

        <div id="toolbar" style="border:1px solid #ccc;background-color: #f1f1f1;"></div>
        <div id="editor" style="height: 500px;border:1px solid #ccc;border-top: none;">
        </div>
    </form>

    <div style="margin-top: 5px;">
        <input id="saveBtn" type="button" value="保存">
    </div>

    <script type="text/javascript">
    var editor = new wangEditor('#toolbar', "#editor");
    editor.customConfig.uploadImgServer = false;
    editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    editor.customConfig.linkImgCallback = function (link) {
        // 处理图片粘贴的回调
        // console.log(link);
    }
    editor.create();
    editor.txt.html($("#data").text());

    $("#saveBtn").click(function () {
        var data = editor.txt.html();
        $.post("/note/save?type=html", {id:"{{file.id}}", version:{{file.version}}, data:data}, function (resp) {
            console.log(resp);
            if (resp.code == "success") {
                // window.location.reload();
                window.location.href = "/note/{{file.id}}";
            } else {
                alert(resp.message);
            }
        })
    })
    </script>

{% end %}

</div>

