<!-- 
@since 2018/03/06
@modified 2021/05/16 23:32:45
-->

{% init files = [] %}
{% init show_opts = True %}
{% init show_size = False %}
{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_next  = False %}
{% init file = None %}
{% init dir_type = "" %}
{% init tags = "" %}
{% init show_parent_link = True %}

<div class="card">
    {% include note/component/view_group_header.html %}
</div>

<div class="grid-row note-list">
    {% if _has_login and show_parent_link and file.id != 0 %}
        <a class="dialog-link" href="/note/{{file.parent_id}}">
            <div class="book-item">
                <i class="fa fa-mail-reply black"></i>
                
                <span>上级目录</span>
                <span class="book-size">
                    <i class="fa fa-chevron-right"></i>
                </span>
            </div>
        </a>
    {% end %}

    {% include note/component/note_list_component.html %}
</div>

