*.db
__pycache__
*.pyc
*.bak
*.zip
*.csv
*.class
*.log
*.jar
.DS_Store
/static/exe
/static/logs
/lib/bs4/
/web/bs4/
/static/upload/
/static/lib/jsoneditor/
/static/lib/My97DatePicker/
/static/img/
/static/deprecated/
/static/wiki/
/static/archive/
/data/
/log/
/tmp/
/model/sync
/static2/
/scripts2/
/backup/
/script/
/config/users.ini
/config/menu.ini
tools.md
/config/tasks.ini
/.idea/
/handlers/experiment/
**/.cache/
