*.db
__pycache__
*.pyc
*.bak
*.zip
*.csv
*.class
*.log
*.jar
.DS_Store
.python-version
/static/exe
/static/logs
/lib/bs4/
/web/bs4/
/static/upload/
/static/lib/jsoneditor/
/static/lib/My97DatePicker/
/static/lib/wangEditor/wangEditor-10.0.13.js
/static/lib/wangEditor/wangEditor-3.0.10.js
/static/lib/wangEditor/wangEditor-3.1.1.js
/static/lib/PhotoSwipe/
/static/lib/*.zip
/static/lib.old/
/static/img/
/static/deprecated/
/static/wiki/
/static/archive/

# 生成的文件
/static/css/app.build.css
/static/js/app.build.js
/static/js/utils.build.js

/data/
/data_follower/
/data_sqlite/
/testdata/
/log/
/tmp/
/model/sync
/static2/
/scripts2/
/backup/
/script/
/config/users.ini
/config/menu.ini
tools.md
/config/tasks.ini
/.idea/
/handlers/experiment/
**/.cache/
.pytest_cache/
/testdir/
/中文/
.coverage
/py3.6/
/py3.7/
/py3.8/
/htmlcov/
gitpush.sh
id_rsa*

# 脚本
run-local*.bat
run-local*.sh
run-follower*
tools/git-push.sh
config/boot/boot.local.*
config/boot/boot.winxp.properties
config/boot/*.local.properties
boot.local.*

# 锁文件
pid.lock
start-cmd.bat

# npm模块
/static/lib/node_modules/

# pypi构建临时目录
/build/
/xnote.egg-info/
/dist/