*.db
__pycache__
*.pyc
*.bak
*.zip
*.csv
*.class
*.log
*.jar
.DS_Store
.python-version
/_static/exe
/_static/logs
/lib/bs4/
/web/bs4/
/_static/upload/
/_static/lib/jsoneditor/
/_static/lib/My97DatePicker/
/_static/lib/wangEditor/wangEditor-10.0.13.js
/_static/lib/wangEditor/wangEditor-3.0.10.js
/_static/lib/wangEditor/wangEditor-3.1.1.js
/_static/lib/PhotoSwipe/
/_static/lib/*.zip
/_static/lib.old/
/_static/img/
/_static/deprecated/
/_static/wiki/
/_static/archive/

# 生成的文件
/_static/css/app.build.css
/_static/js/app.build.js
/_static/js/utils.build.js

/data/
/data_follower/
/data_sqlite/
/testdata/
/log/
/tmp/
/model/sync
/static2/
/scripts2/
/backup/
/script/
/config/users.ini
/config/menu.ini
tools.md
/config/tasks.ini
/.idea/
/handlers/experiment/
**/.cache/
.pytest_cache/
/testdir/
/中文/
.coverage
/py3.6/
/py3.7/
/py3.8/
/htmlcov/
gitpush.sh
id_rsa*

# 脚本
run-local*.bat
run-local*.sh
run-follower*
scripts/git-push.sh
config/boot/boot.local.*
config/boot/boot.winxp.properties
config/boot/*.local.properties
boot.local.*
upload.config.json
*.local.properties

# 锁文件
pid.lock
start-cmd.bat

# npm模块
/_static/lib/node_modules/

# pypi构建临时目录
/build/
/xnote_web.egg-info/*
/dist/
pypi_token.txt
xnote-reboot.txt
.env

nohup.out