<!-- group_option.html -->
{% init error = None %}
{% init is_iframe = False %}
{% init file = Storage(id = 0, parent_id=0, priority = 0) %}
{% init show_group_option = True %}

{% if file != None and _has_login and show_group_option %}
    <button class="btn btn-default note-group-option-btn">设置</button>
{% end %}

{% include common/button/back_button.html %}

{% if error != "" and error != None%}
    <div class="col-md-12 error">
        {{error}}
    </div>
{% end %}

{% include note/component/script/note_option_script.html %}

<script type="text/javascript">
    $(".note-group-option-btn").click(function () {
        xnote.showAjaxDialog("笔记本设置", "/note/ajax/group_option_dialog?note_id={{file.id}}", ["确定"]);
    })
</script>