<div class="dropdown">
  <span class="dropdown-btn link btn btn-default">更多▾</span>
  <div class="dropdown-content">
    <a class="dropdown-option" href="{{_server_home}}/note/stick?id={{file.id}}">
        置顶
        {% if file.level == 1 %}<i class="fa fa-check"></i>{% end %}
    </a>

    <a class="dropdown-option" href="{{_server_home}}/note/reset?id={{file.id}}">
        普通
        {% if file.level == 0 %}<i class="fa fa-check"></i>{% end %}
    </a>

    <a class="dropdown-option link" href="{{_server_home}}/note/archive?id={{file.id}}">
        归档
        {% if file.level == -1 %}
            <i class="fa fa-check"></i>
        {% end %}
    </a>
    
    {% if str(file.id) != "0" %}
        <a class="dropdown-option" href="javascript:renameNote('{{file.id}}', '{{file.name}}')">重命名</a>
    {% end %}

    <a class="dropdown-option" data-id="{{file.id}}" data-note-type="{{file.type}}" 
        onclick="xnote.note.openDialogToShare(this)">分享</a>
    <a class="dropdown-option" href="{{_server_home}}/note/management?parent_id={{file.id}}">批量操作</a>
    
    {% if file.size == 0 %}
        <a class="dropdown-option-red" href="javascript:remove('{{file.id}}', '{{file.name}}')">删除</a>
    {% end %}
  </div>
</div>