{% extends base %}

{% block head %}

    {% include note/component/view_css.html %}

{% end %}

{% block body_left %}

    {% include note/component/editor/editor_default_vars.html %}

    {% init show_tags = False %}
    {% init show_checklist_search = False %}
    {% set-global show_comment = False %}

    <div class="card">
        {% include note/component/view_header.html %}
    </div>

    <div class="card">
        {% include note/component/note_path.html %}
    </div>

    <div class="card btn-line-height">
        {% include note/component/view_header_tag.html %}
    </div>

    {% set-global comment_btn_text = T("添加清单项") %}
    {% set-global comment_placeholder = T("请输入清单项...") %}
    {% set-global comment_empty_text = T("暂无清单项~") %}
    {% set-global show_comment_edit = True %}
    {% set-global comment_create_type = "list_item" %}

    <!-- 清单搜索的功能 -->
    {% if show_checklist_search %}
        <div class="card btn-line-height">
            <span class="tag info">搜索</span>
            <span>{{key}}</span>

            <div class="float-right">
                <a class="btn btn-default" href="{{file.url}}">重置搜索</a>
                <a class="btn btn-default" href="{{_server_home}}/search?key={{quote(key)}}">全站搜索</a>
            </div>
        </div>
    {% end %}

    <!-- 清单的底层就是直接复用的评论的能力 -->
    {% include note/page/comment.html %}

    {# 文章信息 #}
    {% include note/component/note_ext_info.html %}

    {# 分页 #}
    {% if show_pagination and "page" in globals() %}
        <div class="card">
            {% include mod_pagenation.html %}
        </div>
    {% end %}

{% include note/component/script/delete_script.html %}
{% include note/component/script/rename_script.html %}

<script type="text/javascript">

$(function () {
    window.adjustTable();
})
</script>

{% end %}


{% block body_right %}
<div class="desktop-only">
    {% init show_sidebar_group_entry = False %}
    {% init show_sidebar_note_brothers = True %}
    {% include note/component/sidebar/note_sidebar.html %}
</div>
{% end %}