{% extends base %}

{% block head %}
    <script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
    <script type="text/javascript" src="/static/lib/marked/marked.js"></script>
    <script type="text/javascript" src="/static/js/marked-ext.js?ts={{_ts}}"></script>

    {% include note/component/view_css.html %}
    {% include note/component/script/all_script.html %}

{% end %}

{% block body_top %}
    <div class="card">
        {% include "note/component/header/common_header.html" %}
    </div>
{% end %}

{% block body_left %}
    {% init file_type       = "md" %}
    {% init pathlist        = [] %}
    {% init file            = None %}
    {% init show_notice     = False %}
    {% init show_search_div = True %}
    {% init show_add_file   = False %}
    {% init show_add_group  = False %}
    {% init show_path_list  = True %}
    {% init show_pagination = False %}
    {% init show_comment    = True %}
    {% init error           = "" %}
    {% init data_list       = [] %}

    <div class="card">
        {% include note/component/note_path.html %}
    </div>

    <div class="card btn-line-height">
        <span>表单功能说明</span>
        <div class="float-right">
            <button class="option-btn btn-default">编辑</button>
        </div>
    </div>

    <div class="card form-body">
        <table class="table">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
            
            {% for row in data_list %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.age}}</td>
                    <td>{{row.job}}</td>
                    <td>
                        <button class="btn edit-btn btn-default" data-key="{{row._key}}">编辑</button>
                        <button class="btn delete-btn btn-danger" data-key="{{row._key}}">删除</button>
                    </td>
                </tr>
            {% end %}
        </table>
    </div>


    {# 文章扩展信息 #}
    {% include note/component/note_ext_info.html %}

    {# 分页 #}
    {% if show_pagination and "page" in globals() %}
        <div class="card">
            {% include mod_pagenation.html %}
        </div>
    {% end %}
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
