{% extends base %}

{% block head %}
    <script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
    <script type="text/javascript" src="/static/lib/marked/marked.js"></script>
    <script type="text/javascript" src="/static/js/marked-ext.js"></script>

    {% include note/component/view_css.html %}
    {% include note/component/script/all_script.html %}

{% end %}

{% block body_left %}

    {% include note/component/editor/editor_default_vars.html %}

    <div class="card">
        {% include note/component/header/group_header.html %}
    </div>

    {% include note/component/editor/view_group.html %}
    {% include note/component/note_ext_info.html %}

    {# 分页 #}
    {% if show_pagination and "page" in globals() %}
        <div class="card">
            {% include mod_pagenation.html %}
        </div>
    {% end %}
{% end %}

{% block body_right %}
<div class="desktop-only">
    {% include note/component/sidebar/group_sidebar.html %}
</div>
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
