{% extends base %}

{% block head %}
    <script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
    <script type="text/javascript" src="/static/lib/marked/marked.js"></script>
    <script type="text/javascript" src="/static/js/marked-ext.js?ts={{_ts}}"></script>
    
    {% include note/component/view_css.html %}
    {% include note/component/script/all_script.html %}

{% end %}

{% block body_left %}
    {% init url_type = "default" %}
    {% init parent_id = note.id %}
    {% include note/component/editor/editor_default_vars.html %}

    <div class="card">
        {% include note/component/header/group_detail_header.html %}
    </div>

    <div class="card">
        {% include note/component/note_path.html %}
    </div>

    {% if orderby == "ctime_desc" %}
        {% include note/component/timeline/timeline_body.html %}
    {% else %}
        {% include note/page/detail/group_detail_body.html %}
    {% end %}
    
    {% include note/component/note_ext_info.html %}

{% end %}

{% block body_right %}
<div class="desktop-only">
    {% include note/component/sidebar/group_sidebar.html %}
</div>
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
