<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-07-15 22:43:15
@LastEditors  : xupingmao
@LastEditTime : 2022-12-18 12:23:06
@FilePath     : /xnote/handlers/note/component/sidebar/group_manage_sidebar.html
@Description  : 描述
#} -->

{% set-global show_app_index_icon = False %}
{% include common/sidebar/app_index.html %}

<div class="card">
    <a class="list-link" href="{{_server_home}}/note/group/manage">
        <span>笔记本管理</span>
        <div class="float-right">
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
    
    <a class="list-link" href="{{_server_home}}/fs_upload">
        <span>上传管理</span>
        <div class="float-right">
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
        
    <a class="list-link" href="{{_server_home}}/note/category">
        <span>杜威十进制分类法</span>
        <div class="float-right">
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
</div>
