{% include common/sidebar/app_index.html %}

<div class="card group-option-card">
    <div class="row">
        <span class="btn-line-height">状态</span>
        <div class="float-right">
            <select data-id="{{file.id}}" value="{{file.level}}" onchange="xnote.note.changeLevel(this)">
                <option value="1">置顶</option>
                <option value="0">活跃</option>
                <option value="-1">归档</option>
            </select>
        </div>
    </div>

    {% comment include note/component/note_orderby_select.html %}

    <div class="pad5 group-detail-btn-box">
        <a class="btn btn-default" data-id="{{file.id}}" data-note-type="{{file.type}}"
            onclick="xnote.note.openDialogToShare(this)">分享</a>
        <a class="btn btn-default" href="{{_server_home}}/note/management?parent_id={{file.id}}">批量管理</a>
        <a class="btn btn-default" onclick="xnote.note.openDialogToMoveByElement(this);" data-id="{{file.id}}">移动</a>
    </div>
</div>

<div class="card">
    <div class="card-title">
        <span>简介</span>
        <div class="float-right">
            <a href="{{_server_home}}/note/edit?id={{file.id}}">编辑</a>
        </div>
    </div>
    {% if file.content == None or file.content == "" %}
        <p class="align-center">暂无简介</p>
    {% else %}
        {% try %}
            {% import markdown %}
            <div class="pad5 markdown-box">{% raw markdown.markdown(file.content) %}</div>
        {% except %}
            <div class="pad5 markdown-box">抱歉,markdown解析出错!</div>
        {% end %}
    {% end %}
</div>
