<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-07-17 10:29:23
@LastEditors  : xupingmao
@LastEditTime : 2024-01-27 14:04:46
@FilePath     : /xnote/handlers/note/component/sidebar/group_list_sidebar.html
@Description  : 描述
#} -->

<div class="desktop-only">
    {% include common/sidebar/app_index.html %}
    {% include note/component/sidebar/note_sidebar.html %}
    {% include note/card/note_types.html %}

    {% init category_list = [] %}

    {% if len(category_list) > 0 %}
    <div class="card">
        <div class="list-box">
            {% for t_cat in category_list %}
                <a href="{{_server_home}}/note/group_list?note_category={{t_cat.code}}" class="list-item">
                    <i class="fa fa-th-large"></i>
                    <span>{{t_cat.name}}</span>
                    <div class="float-right">
                        <span class="book-size-span">{{t_cat.group_count}}</span>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            {% end %}
        </div>
    </div>
    {% end %}

</div>

