{% extends base.html %}

{% block body %}

<h3>定时任务管理</h3>

{% set REPEAT_TYPE_DICT = dict(interval="间隔秒", day="每天") %}

<form method="POST" action="/system/crontab/add">
<table class="table col-md-12">

    <tr>
        <th>编号</th>
        <th>任务URL(如/test)</th>
        <th>周</th>
        <th>小时</th>
        <th>分</th>
        <th>操作</th>
    </tr>
    {% set index = -1 %}
    {% for index, task in enumerate(task_list) %}
    {% set name = task.url %}
    <tr>
        <td>{{index+1}}</td>
        <td>
            <div style="word-wrap: break-word; width: 300px;">
                {% if  hasattr(task, "script_name") %}
                    <a href="/system/script_admin/edit?name={{task.script_name}}">{{task.url}}</a>
                {% else %}
                    {{task.url}}
                {% end %}
            </div>
        </td>
        <td>
            {% if task.tm_wday == "*" %}
                每天
            {% elif task.tm_wday == "no-repeat" %}
                一次性
            {% else %}
                {{task.tm_wday}}
            {% end %}
        </td>
        <td>{% if task.tm_hour == "*" %}每小时{% else %}{{task.tm_hour}}{% end %}</td>
        <td>{% if task.tm_min  == "*" %}每分钟{% else %}{{task.tm_min}} {% end %}</td>
        <td><a href="/system/crontab/remove?id={{task.id}}">删除</a></td>
    </tr>
    {% end %}

    <tr>
        <td>{{index+3}}</td>
        <td>
            任务脚本:<select name="script_url">
                {% for script_name in scripts %}
                    <option value="script://{{script_name}}">{{script_name}}</option>
                {% end %}
            </select>
            <!-- <br/>或者任务链接:<input type="text" name="url"> -->
        </td>
        <td><select name="tm_wday">
            <option value="*">每天</option>
            <option value="no-repeat">一次性</option>
            {% for wday in range(1, 8) %}
            <option value="{{wday}}">{{wday}}</option>
            {% end %}
        </select></td>
        <td>
            <select name="tm_hour">
                <option value="*">每小时</option>
                {% for hour in range(24) %}
                <option value="{{hour}}">{{hour}}</option>
                {% end %}
            </select>
        </td>
        <td>
            <select name="tm_min">
                <option value="*">每分钟</option>
                {% for tm_min in range(60) %}
                <option value="{{tm_min}}">{{tm_min}}</option>
                {% end %}
            </select>
        </td>
        <td><input type="submit" value="添加"></td>
    </tr>
</table>
</form>

<div>
    <a href="/system/script_admin">脚本管理</a>
</div>

{% end %}