{% extends base.html %}

{% block head %}
<style type="text/css">
table {
 font-family: verdana,arial,sans-serif;
 font-size:14px;
 color:#333333;
 border-width: 1px;
 border-color: #666666;
 border-collapse: collapse;
}
table th {
 border-width: 1px;
 padding: 8px;
 border-style: solid;
 border-color: #666666;
 background-color: #dedede;
}
table td {
 border-width: 1px;
 padding: 8px;
 border-style: solid;
 border-color: #666666;
 background-color: #ffffff;
}
</style>
{% end %}

{% block body %}

<table style="border:#ff6600 1px solid">

<tr>
<th>cid</th>
<th>name</th>
<th>type</th>
<th>dflt_value</th>
<th>notnull</th>
<th>pk</th>
</tr>

{% for item in table_struct %}

<tr>
    <td>{{item['cid']}}</td>
    <td>{{item['name']}}</td>
    <td>{{item['type']}}</td>
    <td>{{item['dflt_value']}}</td>
    <td>{{item['notnull']}}</td>
    <td>{{item['pk']}}</td>
</tr>

{% end %}
</table>

{% end %}