{% extends base.html %}

{% block head %}
<style type="text/css">
    .doc-detail {
        background: #ccccff;
        border: solid 1px;
        padding: 2px;
    }
</style>
{% end %}

{% block body %}

<div class="col-md-12">
{% if doc_info is not None %}
    <h2>模块: {{doc_info.name}}</h2>

    <p>位于 <a href="/code/view_source?path={{doc_info.file}}">{{doc_info.file}}</a></p>
    <pre class="doc-detail">{{doc_info.doc}}</pre>

    <h2>方法</h2>

    {% for func in doc_info.functions %}

    <div>
        <span>{{func[0]}}</span>
        <pre class="doc-detail">{{func[1]}}</pre>
    </div>

    {% end %}

{% end %}
</div>

{% end %}