{% extends base.html %}

{% block body %}

<div class="card">
    {% set title = "系统日志" %}
    {% include "tools/base_title.html" %}

    <div class="col-md-12">
        <form>
            <label>类型</label>
            <input name="type" value="{{?type}}">

            <button>检索</button>
        </form>
    </div>
</div>

<div class="grid-card">
    <table class="table">
        <tr>
            <th width="20%">时间</th>
            <th width="20%">类型</th>
            <th width="20%">用户</th>
            <th width="20%">耗时</th>
            <th width="20%">信息</th>
        </tr>
    {% for value in items %}
        <tr>
            <td>{{value.get('ctime')}}</td>
            <td>{{value.get('type')}}</td>
            <td>{{value.get('user')}}</td>
            <td>{{value.get('rt')}}</td>
            <td>{{value.get('key')}}</td>
        </tr>
    {% end %}
    </table>
</div>

{% end %}