{% extends base.html %}

{% block body %}

    <h2><a href="/system/monitor">系统状态</a></h2>

    <!-- TODO d3.js 展示内存和CPU日志 -->

    <div class="col-md-12">
    <table>
        <tr>
            <td>系统内存占用</td>
            <td>{{sys_mem_used}} / {{sys_mem_total}}</td>
        </tr>
        <tr>
            <td>系统版本</td>
            <td>{{sys_version}}</td>
        </tr>
        <tr>
            <td>处理器</td>
            <td>{{processor}}</td>
        </tr>
        <tr>
            <td>Python版本</td>
            <td>{{python_version}}</td>
        </tr>
        <tr>
            <td>线程总数</td>
            <td>{{thread_cnt}}<a href="/system/thread_info">详情</a></td>
        </tr>
    </table>
    </div>

{% end %}