{% extends base.html %}

{% block body %}
{% set title = "系统状态" %}
{% include "tools/base_title.html" %}

<!-- TODO d3.js 展示内存和CPU日志 -->

<div class="col-md-12">
    <table class="table">
        <tr>
            <td>软件版本</td>
            <td>{{xnote_version}}</td>
        </tr>
        <tr>
            <td>系统启动时间</td>
            <td>{{start_time}}</td>
        </tr>
        <tr>
            <td>系统内存占用</td>
            <td>{{sys_mem_used}} / {{sys_mem_total}}</td>
        </tr>
        <tr>
            <td>OS版本</td>
            <td>{{sys_version}}</td>
        </tr>
        <tr>
            <td>处理器</td>
            <td>{{processor}}</td>
        </tr>
        <tr>
            <td>Python版本</td>
            <td>{{python_version}}</td>
        </tr>
        <tr>
            <td>线程总数</td>
            <td>
                <span>{{thread_cnt}}</span>
                <a href="/system/thread_info">详情</a>
            </td>
        </tr>
        <tr>
            <td>母板类型</td>
            <td>
                <input type="radio" name="BASE_TEMPLATE" default-value="{{xconfig.BASE_TEMPLATE}}" value="base.html">base.html
                <input type="radio" name="BASE_TEMPLATE" default-value="{{xconfig.BASE_TEMPLATE}}" value="base2.html">base2.html
            </td>
        </tr>
        <tr>
            <td>隐藏系统文件</td>
            <td>
                <input type="radio" name="FS_HIDE_FILES" default-value="{{xconfig.FS_HIDE_FILES}}" value="True">True
                <input type="radio" name="FS_HIDE_FILES" default-value="{{xconfig.FS_HIDE_FILES}}" value="False">False
            </td>
        </tr>
        <tr>
            <td>文件浏览器</td>
            <td>
                <input type="radio" name="FS_LINK" default-value="{{xconfig.FS_LINK}}" value="/fs_list">列表模式
                <input type="radio" name="FS_LINK" default-value="{{xconfig.FS_LINK}}" value="/fs_sidebar">侧边栏
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $("[type=radio]").on("change", function (e) {
        var val = $(e.target).val();
        var key = $(e.target).attr("name");
        // alert(val);
        $.post("/system/xconfig", 
            {key: key, value: val}, 
            function (data) {
                window.location.reload();
        })
    })
</script>

{% end %}