{% extends base %}

{% block head %}
    <style type="text/css">
        a {
            text-decoration: none;
            color: #08c;
        }

        .item {
            width: 140px;
            height: 25px;
            line-height: 25px;
            float: left;
        }

        .logo {
            width: 45px;
            height: 45px;
        }
    </style>
{% end %}


{% block body %}

    {% init recent = [] %}

    <div class="col-md-12">
        <div class="grid-title">
            最近使用
        </div>
        <div class="col-md-12">
            {% for link in recent %}
            <div class="item">
                <a href="{{link.get('link')}}">{{link.get('name')}}</a>
            </div>
            {% end %}
        </div>
    </div>

    <div class="col-md-12">
        <div class="grid-title">
            所有插件
            <!-- <a href="/fs_link/scripts/plugins" class="float-right link">管理</a> -->
        </div>
        <div class="col-md-12">
            {% for link in plugins %}
            <div class="item">
                <a href="{{link.link}}">{{link.name}}</a>
            </div>
            {% end %}
        </div>
    </div>

{% end %}


{% block aside %}
<div class="aside-item">
    <div class="aside-title">
        操作
    </div>
    <div class="aside-content">
        <li><a class="link" href="/system/new-plugin">新增插件</a></li>
        <li><a href="/fs_link/scripts/plugins" class="link">插件管理</a></li>
    </div>
</div>
{% end %}