{% extends base.html %}

{% block head %}

<link rel="stylesheet" href="/static/lib/codemirror/codemirror.min.css">
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/monokai.min.css">
<script type="text/javascript" src="/static/lib/codemirror/codemirror.min.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/mode/clike/clike.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/mode/shell.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/mode/python.js"></script>

{% end %}

{% block body %}

{% init error = "" %}
{% init shell_list = [] %}
{% set  index = 1 %}
{% init op = "list" %}

<div>
    <a href="/system/script_admin">脚本管理</a>|
    <a href="/system/crontab">定时任务管理</a>|
</div>

{% if op == "edit" %}
    {# 编辑 #}
    <form method="POST" action="/system/script_admin/save">
        <div class="col-md-12">
            <input type="text" name="name" value="{{name}}" class="hide">
            <textarea id="editor" class="col-md-12" rows="20" name="content">{{content}}</textarea>
            <button id="save" class="btn">Save</button>
            <input type="button" scriptName="{{name}}" class="executeScript btn" value="执行"/>
        </div>
    </form>

    <script>
        $(function () {

            var mode = "text/x-sh";
            var name = $("input[name=name]").val();
            if (name.endsWith(".py")) {
                mode = "text/x-python";
            }
            var editor = CodeMirror.fromTextArea($("#editor")[0], {
                lineNumbers: true,
                mode: mode,
                theme:"monokai",
                indentUnit:4,
            });
            editor.setSize("auto", 500);
        });
    </script>

{% else %}
    {% comment 列表 %}

    <div class="error">{{error}}</div>

    <form method="POST">
    <input type="text" name="op" value="add" class="hide"/>
    脚本名称<input type="text" name="name"/><button>添加</button>
    </form>

    <table class="table col-md-12">
        <tr>
            <th>编号</th>
            <th>文件名</th>
        </tr>

        {% for script in shell_list %}
            <tr>
                <td>{{index}}</td>
                <td>
                    <input type="button" value="执行" class="executeScript btn" scriptName="{{script}}"/> 
                    <input type="button" value="删除" class="deleteScript btn btn-danger" scriptName="{{script}}"/>
                    <a href="/system/script_admin?op=edit&name={{script}}">{{script}}</a>
                </td>
            </tr>
            {% set index = index + 1 %}
        {% end %}
    </table>
{% end %}

<script type="text/javascript">
    $(".executeScript").on("click", function(event) {
        var scriptName = $(event.target).attr("scriptName")
        // console.log(event);
        // console.log($(event.target).attr("scriptName"))
        $.post("/system/script_admin/execute?name=" + scriptName, function (data) {

        });
    })

    $(".deleteScript").on("click", function(event) {
        var scriptName = $(event.target).attr("scriptName")
        var check = confirm("确认删除 " + scriptName + " ?")
        if (check) {        
            $.post("/system/script_admin/delete?name=" + scriptName, function (data) {
                location.reload();
            });
        }
    })
</script>

{% end %}

