{% extends ../base.html %}

{% block head %}
    <style type="text/css">
        .barcode {
            /*float: left;*/
        }

        .main-sys-info {

        }

        .sys-cmd-no {
            width: 10%;
            max-width: 100px;
        }
        .sys-cmd {
            width: 70%;
        }
    </style>
{% end %}

{% block body %}
<script type="text/javascript" src="/static/lib/string-format/string-format.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.qrcode/jquery.qrcode.min.js"></script>

<input class="hide" id="addr" value="{{?addr}}" />
<div class="row">
    <p>使用内存 {{mem_used}} </p>
    <table class="col-md-12 table">
        <tr>
            <th class="sys-cmd-no">编号</th>
            <th class="sys-cmd">命令</th>
            <th>备注</th>
        </tr>
        {% for i, cmd in enumerate(cmd_list) %}
        <tr>
            <td class="sys-cmd-no">{{i+1}}</td>
            <td class="sys-cmd"><a href="{{cmd.url}}">{{cmd.name}}</a></td>
            <td></td>
        </tr>
        {% end %}

        {% for i, shell_path in enumerate(shell_list) %}
        <tr>
            <td class="sys-cmd-no">{{i+len(cmd_list)+1}}</td>
            <td class="sys-cmd"><a href="/system/command?path={{shell_path}}" target="_blank">{{os.path.basename(shell_path)}}</a></td>
            <td>系统脚本</td>
        </tr>
        {% end %}

    </table>

    <div class="barcode col-md-12" style="margin:0 auto; text-align: center;">
        <p>地址 <a href="http://{{?addr}}">http://{{?addr}}</a> </p>
        <div id="qrcode"></div>
    </div>

</div>

<script type="text/javascript">
$("#menu-sys").addClass("active");

$(function () {

    // $("#qrcode").hide();

    var addr = $("#addr").val();
    // var url = format("http://{}:{}", ip, port);
    var url = "http://" + addr;
    $("#qrcode").qrcode(url);
    function updateTime () {
        $("#currentDate").html(new Date().toString("yyyy-MM-dd HH:mm:ss"));
        setTimeout(updateTime, 1000);
    }

    updateTime();
})

function switchQrCode() {
    if ($("#qrcode").css("display") == "none") {
        $("#qrcode").show();
    } else {
        $("#qrcode").hide();
    }
}


</script>
{% end %}