{% extends base.html %}

{% block head %}
    <style type="text/css">
        .barcode {
            /*float: left;*/
        }

        .main-sys-info {

        }

        .sys-cmd-no {
            width: 10%;
            max-width: 100px;
        }
        .sys-cmd {
            width: 70%;
        }
        h3 {
            background: #ccf;
            padding: 5px;
        }
        a {
            text-decoration: none;
            color: #08c;
        }
    </style>
{% end %}

{% block body %}
<script type="text/javascript" src="/static/lib/string-format/string-format.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.qrcode/jquery.qrcode.min.js"></script>

<input class="hide" id="addr" value="{{?addr}}" />

<div class="barcode col-md-12" style="margin:0 auto; text-align: center;">
    <p>
        Hello, {{_user_name}}! 地址 <a href="http://{{?addr}}">http://{{?addr}}</a>
        <input type="button" id="toggleBarCode" class="btn" value="二维码">
    </p>
    <div id="qrcode" class="hide"></div>
</div>

{% if _is_admin %}

{% set debug_tools = [
    ("文件浏览器", "/fs_data"),
    ("脚本管理",   "/system/script_admin"),
    ("定时任务",   "/system/crontab"),

    ("用户管理", "/system/user_admin"),
    ("App管理", "/system/app_admin"),

    ("系统信息","/system/monitor"),
    ("备份管理",     "/system/backup_info"),
    ("template缓存", "/system/template_cache"),
    ("系统变量",     "/system/sys_var_admin"),
    ("重新加载模块", "/system/reload"),
    ("静音",         "/search/search?key=mute"),
    ("资料库状态",    "/file/summary"),
    ("标签云",  "/file/taglist"),
] %}

<div class="col-md-12 top-offset-1">
    <h3>系统管理工具</h3>
    <div class="col-md-12">
        {% for name, link in debug_tools %}
        <div class="col-md-4">
            <a href="{{link}}">{{name}}</a>
        </div>
        {% end %}
    </div>
</div>
{% end %}

{% set favorite_tools = [
    ("Python文档", "/system/modules_info"),
    ("Python Shell", "/system/script/edit?name=test.py"),
    ("留言板", "/tools/message"),
    ("代码模板", "/tools/code_template"),
    ("浏览器信息", "/tools/browser_info"),
    ("文本diff", "/tools/js_diff"),
] %}

{% set img_tools = [
    ("图片合并", "/tools/img_merge"),
    ("图片拆分", "/tools/img_split"),
    ("图像灰度化", "/tools/img2gray"),
] %}

{% set code_tools = [
    ("base64", "/tools/base64"),
    ("二维码", "/tools/barcode"),
    ("16进制转换", "/tools/hex"),
    ("MD5", "/tools/md5"),
] %}

{% set tools_list = [
    ("常用工具", favorite_tools),
    ("图片处理工具", img_tools),
    ("编解码工具", code_tools),
] %}

{% for category, tools in tools_list %}
<div class="col-md-12 top-offset-1">
    <h3>{{category}}</h3>
    <div class="col-md-12">
        {% for name, link in tools %}
        <div class="col-md-4">
            <a href="{{link}}">{{name}}</a>
        </div>
        {% end %}
    </div>
</div>
{% end %}

<script type="text/javascript">
$("#menu-sys").addClass("active");

$(function () {

    // $("#qrcode").hide();

    var addr = $("#addr").val();
    // var url = format("http://{}:{}", ip, port);
    var url = "http://" + addr;
    $("#qrcode").qrcode(url);
    function updateTime () {
        $("#currentDate").html(new Date().toString("yyyy-MM-dd HH:mm:ss"));
        setTimeout(updateTime, 1000);
    }

    updateTime();
})

function switchQrCode() {
    if ($("#qrcode").css("display") == "none") {
        $("#qrcode").show();
    } else {
        $("#qrcode").hide();
    }
}

$("#toggleBarCode").on("click", switchQrCode);

function runCommand(path) {
    // alert("runCommand "+ path);
    $.get("/system/command", {path: path}, function(data, status) {
        alert(data);
    })
}


</script>
{% end %}