{% extends base %}

<!--
    @since 2017/09/14
    @modified 2019/04/16 00:13:04
-->

{% block head %}
    <style type="text/css">
        .sys-cmd-no {
            width: 10%;
            max-width: 100px;
        }
        .sys-cmd {
            width: 70%;
        }
        .category {
            background: #ccf;
            padding: 5px;
        }
        .item {
            width: 20%;
            height: 25px;
            line-height: 25px;
            float: left;
        }

        @media screen and (max-width: 700px) {
            /** mobile **/
            .item {
                width: 25%;
            }

            .item>a {
                /*font-size: 12px;*/
            }
        }

        .user-box {
            float: left;
            width: 100%;
            margin: 0px 0px 10px 0px;
            /*padding: 5px;*/
        }

        .user-name {
            font-size: 28px;
            margin: 5px 0px;
        }

    </style>
{% end %}

{% block body %}

{% for category in xconfig.MENU_LIST %}

    {% if category.need_login and not _has_login %}
        <div class="col-md-12 bottom-offset-1 grid-card">
            <div class="grid-title">{{T(category.name)}}</div>
            <div class="col-md-12">
                <div class="item">
                    <a href="/code/wiki/README.md">{{T("About System")}}</a>
                </div>
                <div class="item">
                    <a href="/login">{{T("Login")}}</a>
                </div>
            </div>
        </div>
        {% continue %}
    {% end %}

    <div class="col-md-12 bottom-offset-1 grid-card">
        <div class="grid-title">{{T(category.name)}}</div>
        <div class="col-md-12">
            {% for link in category.children %}
                {% if link.user is None or link.user == _user_name %}
                <div class="item">
                    <a href="{{link.url}}">{{T(link.name)}}</a>
                </div>
                {% end %}
            {% end %}
        </div>
    </div>
{% end %}

{% if _has_login %}

    {#
    <div class="col-md-12 grid-card">
        <div class="grid-title">
            其他
            <a href="/system/storage?key=tools" class="float-right link">{{T("Edit")}}</a>
        </div>
        <div class="col-md-12">
            {% for link in customized_items %}
            <div class="item">
                <a href="{{link.url}}">{{T(link.name)}}</a>
            </div>
            {% end %}
        </div>
    </div>
    #}

    {% if not show_aside %}
    <div class="grid-card">
        <div class="col-md-12">
            <span class="currentTime"></span>
            <span class="float-right">
                用户: {{_user_name}}
                <a href="/logout">登出</a>
            </span>
        </div>
    </div>
    {% end %}

{% end %}

{% end %}

{% block aside %}
    {% include system/mod_aside.html %}
{% end %}