{% extends base.html %}
{% block body %}

<div class="col-md-12 card">
    {% include system/thread_nav.html %}

    <table class="table" border="border:#ff6600 1px solid">
        <tr>
            <th>编号</th>
            <th>Name</th>
            <th>操作</th>
        </tr>
    {% for idx,thread in enumerate(result_dict) %}
        <tr>       
            <td>{{idx+1}}</td>
            <td>{{thread.getName()}}</td> 
            <td>
                <a class="view-detail" data-value="{{get_thread_log(thread)}}">详情</a>
            </td>
        </tr>
    {% end %}
    </table>
</div>

<script type="text/javascript">
$(function () {
    $(".view-detail").click(function (e) {
        var value = $(this).attr("data-value");
        layer.open({
            content: value
        });
    });
})
</script>

{% end %}