{% extends base.html %}

{% block body %}

<h2>用户管理</h2>

<div class="col-md-12">&nbsp;</div>

<form method="POST">
<table class="table col-md-12">

    <tr>
        <th>编号</th>
        <th>用户名</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    
    {% set index = -1 %}
    {% for index, name in enumerate(sorted(user_dict)) %}
    {% set user = user_dict[name] %}
    <tr>
        <td>{{index+1}}</td>
        <td>{{user.name}}</td>
        <td>{% if "admin" == user.name %} ****** {% else %} {{user.password}} {% end %}</td>
        <td></td>
    </tr>
    {% end %}

    <tr>
        <td>{{index+2}}</td>
        <td><input type="text" name="name"></td>
        <td><input type="text" name="password"></td>
        <td><input type="submit" value="添加"></td>
    </tr>
</table>
</form>

{% end %}