{% extends ../base.html %}

{% block head %}
    <style type="text/css">
        .barcode {
            /*float: left;*/
        }

        .main-sys-info {

        }
    </style>
{% end %}

{% block body %}
<script type="text/javascript" src="/static/lib/string-format/string-format.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.qrcode/jquery.qrcode.min.js"></script>

<input class="hide" id="addr" value="{{?addr}}" />
<div class="row">
    <div class="barcode col-md-12">
        <p>地址 <a href="http://{{?addr}}">http://{{?addr}}</a> <a href="javascript:switchQrCode()">二维码</a></p>
        <div id="qrcode"></div>
    </div>

    <div style="float:left;width:100%; height:30px"></div>

    <div>
        <p><a href="/system/reload">重新加载模块</a></p>
        <p><a href="/system/monitor">机器运行状态</a></p>
        <p><a href="/system/modules_info">模块信息</a></p>
        <p><a href="/system/backup_info">备份</a></p>
        <!-- <p><a href="/system/shutdown">关闭计算机</a></p> -->
    </div>

    <div style="float:left;width:100%; height:30px"></div>

</div>

<div class="col-md-12">
<h2>命令列表</h2>
{% for shell_path in shell_list %}
    <p><a href="/system/command?path={{shell_path}}" target="_blank">{{os.path.basename(shell_path)}}</a></p>
{% end %}
</div>

<script type="text/javascript">
$("#menu-sys").addClass("active");

$(function () {

    $("#qrcode").hide();

    var addr = $("#addr").val();
    // var url = format("http://{}:{}", ip, port);
    var url = "http://" + addr;
    $("#qrcode").qrcode(url);
    function updateTime () {
        $("#currentDate").html(new Date().toString("yyyy-MM-dd HH:mm:ss"));
        setTimeout(updateTime, 1000);
    }

    updateTime();

    $("#rebackup").click(function () {
        $.post("/system/sys?option=backup", {}, function (data) {
            var r = JSON.parse(data);
            if (r.success) {
                // alert("备份完成");
                window.location.reload();
            } else {
                alert(format("备份失败, 原因: {}", r.msg));
            }
        });
    })

    $("#export").click(function () {
        $.post("/system/sys?option=export", {}, function (data) {
            var r = JSON.parse(data);
            if (r.success) {
                window.location.reload();
            } else {
                alert(format("备份失败, 原因: {}", r.msg));
            }
        });
    });
})

function switchQrCode() {
    if ($("#qrcode").css("display") == "none") {
        $("#qrcode").show();
    } else {
        $("#qrcode").hide();
    }
}


</script>
{% end %}