{% extends base %}

{% block body_left %}

{% init dict_type = "" %}

<div class="card">
    <div class="card-title">
        <a class="path-link" href="{{_server_home}}/note/dict">词典</a>

        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/dict/add?dict_type={{dict_type}}">新增</a>
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

{% include note/component/filter/type_filter.html %}
{% include dict/page/dict_type_tab.html %}
<div class="card">
    {% include common/table/table.html %}
</div>

<!-- 分页 -->
{% if show_pagination and "page" in globals() %}
    <div class="card">
        {% include mod_pagenation.html %}
    </div>
{% end %}

{% end %}

{% block body_right %}
    <div class="desktop-only">
        {% include dict/page/dict_sidebar.html %}
    </div>
{% end %}