{% init item_list = [] %}
{% init show_todo_check = False %}
{% init show_edit_btn   = True %}
{% init show_to_log_btn = False %}

{% if len(item_list) == 0 %}
    <div class="card">
        {% include common/text/empty_text.html %}
    </div>
{% end %}

{% for item in item_list %}
    <div class="card">
        <div class="todo-row">
            <!-- <div class="todo-user">${user}</div> -->
            <div class="col-md-12">
                <div class="todo-time">{{item.ctime}}</div>

                {% if item.tag == "task" %}
                    <span class="task-tag">{{item.tag_text}}</span>
                {% else %}
                    <span class="todo-tag">{{item.tag_text}}</span>
                {% end %}

                <div class="float-right">
                    {% if show_todo_check %}
                        <input type="checkbox" data-id="{{item.id}}" class="todo-checkbox">
                    {% end %}

                    {% if item.tag == "done1" %}
                        <a class="update-tag-btn btn btn-default" data-id="{{item.id}}" data-tag="task">重做</a>
                    {% end %}
                </div>
            </div>

            <div class="todo-content">{% raw item.html %}</div>
            <div class="todo-foot">
                
                {% if show_edit_btn %}
                    <a class="todo-edit-btn btn btn-default" 
                        data-url="/message/edit?id={{item.id}}">编辑</a>
                {% end %}

                {% if show_to_log_btn and item.content != "" %}
                    <a class="update-tag-btn btn btn-default second-btn" data-id="{{item.id}}" data-tag="log">转记事</a>
                {% end %}


                <div class="float-right">
                    <a class="todo-delete-btn btn btn-default" data-id="{{item.id}}" data-content="{{item.content}}">删除</a>
                </div>
            </div>
        </div>
    </div>
{% end %}


<script type="text/javascript">
$(function () {

    // 编辑弹窗
    $(".todo-edit-btn").click(function (e) {
        var url = $(e.target).attr("data-url");
        var layerId = xnote.showIframeDialog("编辑", url);
        // 更新后会调用 postMessage 发送消息
    });

    $(".update-tag-btn").click(function (e) {
        var id = $(e.target).attr("data-id");
        var tag = $(e.target).attr("data-tag");
        console.log(id, tag);

        $.post("/message/tag", {id: id, tag: tag}, function (resp) {
            if (resp.code == "success") {
                xnote.fire("message.refresh");
            } else {
                xnote.alert(data.message);
            }
        });
    });

    $(".todo-delete-btn").click(function (e) {
        var id = $(e.target).attr("data-id");
        var content = $(e.target).attr("data-content");

        xnote.confirm("确认删除[" + content + "]吗?", function (result) {
            $.post("/message/delete", {id: id}, function (resp) {
                if (resp.code == "success") {
                    window.postMessage("message.updated", "*");
                } else {
                    xnote.alert(data.message);
                }
            });
        });
    })
    
});
</script>

<div class="card">
    {% include common/pagination.html %}
</div>