{% extends base.html %}

{% block body %}

{% include system/component/system-css.html %}

<!-- TODO d3.js 展示内存和CPU日志 -->
{% import web %}

<div class="col-md-12 card">
    <h3 class="card-title btn-line-height">
        <span>{{T("后台管理")}}</span>
        <div class="float-right">
             <button class="btn-default" onclick="javascript:history.back()">返回</button>
        </div>
    </h3>

    <div class="settings-row">
        <div class="settings-key">用户管理</div>
        <div class="settings-value">
            <a href="/system/user/list">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    
    <div class="settings-row">
        <div class="settings-key">定时任务</div>
        <div class="settings-value">
            <a href="/system/crontab">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">系统注册事件</div>
        <div class="settings-value">
            <a href="/system/event">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">线程管理</div>
        <div class="settings-value">
            <a href="/system/thread_info">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">系统日志</div>
        <div class="settings-value">
            <a href="/system/log">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">Shell控制台</div>
        <div class="settings-value">
            <a href="/tools/shell">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="settings-row">
        <div class="settings-key">LevelDB查询</div>
        <div class="settings-value">
            <a href="/system/db_scan">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>

{% end %}