{% extends base %}

{% block body_right %}
    {% include system/component/admin_nav.html %}
{% end %}

{% block body_left %}

<div class="card">
    {% set title = "模块信息" %}
    {% include "tools/base_title.html" %}
</div>

<div class="card">
    <div class="col-md-12">
        <p>系统路径(sys.path)</p>
        <table class="table">
            {% for p in sys.path %}
                <tr><td>{{p}}</td></tr>
            {% end %}
        </table>
    </div>
</div>

<div class="col-md-12 card">
    <p>模块数 {{len(modules)}} </p>
    <table class="table col-md-12">
        <tr>
            <th class="index-td">编号</th>
            <th>模块名</th>
            <!-- <th>描述</th> -->
        </tr>
    {% for index, mod in enumerate(modules) %}
        <tr>
            <td class="index-td">{{index}}</td>
            <td><a href="{{_server_home}}/system/module_detail?name={{mod.sysname}}">{{mod.sysname}}</a></td>
            <!-- <td>{{mod.info}}</td> -->
        </tr>
    {% end %}
    </table>
</div>

{% end %}
