{% extends base %}

{% block head %}
<script src="/static/lib/codemirror/codemirror.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/codemirror.min.css">
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/monokai.min.css">
<script type="text/javascript" src="/static/lib/codemirror/mode/sql.min.js"></script>
<style>
.CodeMirror {
    width: 100%;
    font-size:16px;
    height: 80px;
    border: 1px solid #ccc;
}
</style>
{% end %}

{% block body %}
{% init error     = "" %}
{% init cost_time = None %}
{% init path      = "" %}
{% init path_list = [] %}
{% init sql       = "" %}
{% init keys      = [] %}

<div class="card">
    <div class="card-title">
        <span>{{T("SQLite管理器")}}</span>
        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

<div class="card">
    {% include mod_fs_path.html %}
    <form>
        <textarea id="editor" name="sql" style="width:100%;">{{sql}}</textarea>
        <button>Run</button>
        <a class="btn btn-default" href="?path={{path}}&action=show_tables">展示表</a>
        <a class="btn btn-default" href="?path={{path}}&action=count_tables">记录数统计</a>
        <a class="btn btn-default" href="/system/backup?p=import_db&path={{path}}">导入备份</a>
    </form>
</div>

<div class="card">

    {% if cost_time is not None %}
    <div class="col-md-12">
    耗时: {{cost_time}} ms
    </div>
    {% end %}

    {% if error != "" %}
        <pre class="col-md-12 error">
        {{error}}
        </pre>
    {% end %}

    <div class="row">
    {% if len(keys) > 0 %}

        <table class="table">
            <tr>
                {% for key in keys %}
                <th>{{key}}</th>
                {% end %} <!-- for end -->
            </tr>

            {% for record in result_list %}
                <tr>
                {% for val in record.values() %}
                    <td>{{val}}</td>
                {% end %}
                </tr>
            {% end %}
        </table>

    {% end %} <!-- if end -->

    </div>

</div>

<script type="text/javascript">
$(function () {
    var editor = $("#editor")[0];
    var codeMirror = CodeMirror.fromTextArea(editor, {
        lineNumbers:true,
        mode: "text/x-sql"
    });

    xnote.table.adjustWidth(".table");
})
</script>

{% end %}