<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-02-12 22:46:31
@LastEditors  : xupingmao
@LastEditTime : 2022-06-18 21:08:00
@FilePath     : /xnote/handlers/system/page/system_admin.html
@Description  : 描述
 #} -->
{% extends base.html %}

{% block body %}

{% import web %}

<div class="col-md-12 card">
    <h3 class="card-title btn-line-height">
        <span>{{T("后台管理")}}</span>
        <div class="float-right">
             <button class="btn-default" onclick="javascript:history.back()">返回</button>
        </div>
    </h3>
</div>

{% include system/component/admin_nav.html %}

{% end %}