{% extends base.html %}

{% block body %}

{% import web %}

<div class="col-md-12 card">
    <h3 class="card-title btn-line-height">
        <span>{{T("后台管理")}}</span>
        <div class="float-right">
             <button class="btn-default" onclick="javascript:history.back()">返回</button>
        </div>
    </h3>
</div>

{% set data_list = [
    Storage(name = "系统信息", url = "/system/info"),
    Storage(name = "用户管理", url = "/system/user/list"),
    Storage(name = "定时任务", url = "/system/crontab"),
    Storage(name = "系统事件处理器", url = "/system/event"),
    Storage(name = "线程管理", url = "/system/thread_info"),
    Storage(name = "系统日志", url = "/system/log"),
    Storage(name = "Shell终端", url = "/tools/shell"),
    Storage(name = "LevelDB工具", url = "/system/leveldb_admin"),
    Storage(name = "系统模块", url = "/system/module_list"),
    Storage(name = "文件管理", url = "/fs_bookmark"),
    Storage(name = "集群和同步管理", url = "/system/sync?p=home"),
] %}

<div class="card list">

    {% for item in data_list %}
        <a class="list-link" href="{{item.url}}">
            <span>{{item.name}}</span>
            <div class="float-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
    {% end %}

</div>

{% end %}