{% extends base %}

<!--
    @since 2017/09/14
    @modified 2021/07/18 19:46:39
-->

{% block head %}
    <style type="text/css">
        .sys-cmd-no {
            width: 10%;
            max-width: 100px;
        }
        .sys-cmd {
            width: 70%;
        }
        .category {
            background: #ccf;
            padding: 5px;
        }
        .item {
            float: left;
            display: block;
            text-align: center;
            padding: 10px;
            color: black;
            width: 100px;
            height: 100px;
        }
        
        .item:hover {
            background-color: #ccc;
        }

        @media screen and (max-width: 1000px) {
            /** mobile **/
            .item {
                width: 25%;
            }
        }

        .user-box {
            float: left;
            width: 100%;
            margin: 0px 0px 10px 0px;
        }

        .user-name {
            font-size: 28px;
            margin: 5px 0px;
        }

        .app-icon {
            line-height: 30px;
            font-size: 30px;
            text-align: center;
            padding: 10px;
        }

        .app-icon.img-box {
            height: 50px;
        }

        .app-icon img {
            height: 30px;
            width: 30px;
        }

    </style>
{% end %}

{% block body_left %}

<div class="card">
    <div class="card-title btn-line-height">
        <span>应用列表</span>
        <div class="float-right">
            {% if show_back %}
                {% include common/button/back_button.html %}
            {% end %}
        </div>
    </div>
</div>

{% for index, category_temp in enumerate(menu_list) %}

    {% if len(category_temp.children) > 0 %}
        <div class="col-md-12 bottom-offset-1 card">
            <div class="col-md-12">
                {% for link in category_temp.children %}
                    <a class="item" href="{{link.url}}"> 
                        {% if link.img_src != None %}
                            <div class="app-icon img-box">
                                <img src="{{link.img_src}}">
                            </div>
                        {% else %}
                            <div class="app-icon">
                                <i class="fa fa-{{link.icon}} {{link.icon}}"></i>
                            </div>
                        {% end %}
                        <span>{{T(link.name)}}</span>
                    </a>
                {% end %}
            </div>
        </div>
    {% end %}
{% end %}

{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}

