{% extends base.html %}

{% block body %}

    {% include system/component/system_css.html %}

<div class="card">
    <div class="card-title">
        <span>系统信息</span>
        <div class="float-right">
            <button class="btn btn-default" onclick="javascript:history.back();">返回</button>
        </div>
    </div>
</div>

<div class="card">
    {% for item in items %}
        <div class="settings-row">
            <div class="settings-key">{{item.name}}</div>
            <div class="settings-value">
                {{item.value}}
            </div>
        </div>
    {% end %}

    <div class="settings-row">
        <div class="settings-key">重启应用</div>
        <div class="settings-value">
            <button class="btn btn-danger restart-btn">重启</button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    $(".restart-btn").click(function () {
        $.post("/system/reload?runtime_id={{runtime_id}}", function (resp) {
            console.log(resp);
        });
    });
})
</script>

{% end %}