{% extends base.html %}

{% block body %}

    {% include system/component/system-css.html %}

<div class="card">
    <div class="card-title">
        <span>系统信息</span>
        <div class="float-right">
            <button class="btn btn-default" onclick="javascript:history.back();">返回</button>
        </div>
    </div>
</div>

<div class="card">
    {% for item in items %}
        <div class="settings-row">
            <div class="settings-key">{{item.name}}</div>
            <div class="settings-value">
                {{item.value}}
            </div>
        </div>
    {% end %}
</div>

{% end %}