{% extends base %}

<!--
    @since 2017/09/14
    @modified 2021/07/18 19:46:39
-->

{% block head %}
    <style type="text/css">
        .sys-cmd-no {
            width: 10%;
            max-width: 100px;
        }
        .sys-cmd {
            width: 70%;
        }
        .category {
            background: #ccf;
            padding: 5px;
        }
        .item {
            width: 160px;
            height: 25px;
            line-height: 25px;
            float: left;
        }

        @media screen and (max-width: 700px) {
            /** mobile **/
            .item {
                width: 33.33%;
            }
        }

        .user-box {
            float: left;
            width: 100%;
            margin: 0px 0px 10px 0px;
            /*padding: 5px;*/
        }

        .user-name {
            font-size: 28px;
            margin: 5px 0px;
        }

    </style>
{% end %}

{% block body %}

{% for category_temp in menu_list %}

    {% if len(category_temp.children) > 0 %}
        <div class="col-md-12 bottom-offset-1 grid-card">
            <div class="grid-title">{{T(category_temp.name)}}</div>
            <div class="col-md-12">
                {% for link in category_temp.children %}
                    <div class="item">
                        <i class="fa fa-{{link.icon}}"></i>
                        <a href="{{link.url}}">{{T(link.name)}}</a>
                    </div>
                {% end %}
            </div>
        </div>
    {% end %}

{% end %}

{% if _has_login %}

    {#
    <div class="col-md-12 grid-card">
        <div class="grid-title">
            其他
            <a href="/system/storage?key=tools" class="float-right link">{{T("Edit")}}</a>
        </div>
        <div class="col-md-12">
            {% for link in customized_items %}
            <div class="item">
                <a href="{{link.url}}">{{T(link.name)}}</a>
            </div>
            {% end %}
        </div>
    </div>
    #}

{% end %}

{% end %}

{% block aside %}
    {% include system/mod_aside.html %}
{% end %}