{% extends base.html %}

{% block body_right %}
    {% include system/component/admin_nav.html %}
{% end %}

{% block body_left %}

{% include system/component/system_css.html %}
{% init comment_html = "" %}

<style>
    .book-size-span.green {
        color: green;
    }
    .book-size-span.red {
        color: red;
    }
</style>

<div class="card">
    <div class="card-title">
        <span>{{title}}</span>
        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

<div class="card">
    {% for item in item_list %}
        <div class="list-item">
            <span>{{item.name}}</span>
            <div class="float-right">
                <span class="book-size-span {{item.value_css_class}}">{{item.value}}</span>
            </div>
        </div>
    {% end %}
</div>

{% end %}