{% extends base.html %}
{% block body %}

{% init title = T("线程列表") %}
{% include system/component/thread_nav.html %}

<div class="card">

    <table class="table" border="border:#ff6600 1px solid">
        <tr>
            <th>编号</th>
            <th>Name</th>
            <th>处理器</th>
            <th>操作</th>
        </tr>
    {% for idx,thread in enumerate(thread_list) %}
        <tr>       
            <td>{{idx+1}}</td>
            <td>{{thread.getName()}}</td> 
            <td>{{thread.__dict__.get("handler_class")}}</td>
            <td>
                <a class="view-detail" data-value="{{thread.__dict__}}">详情</a>
            </td>
        </tr>
    {% end %}
    </table>
</div>

<script type="text/javascript">
$(function () {
    $(".view-detail").click(function (e) {
        var value = $(this).attr("data-value");
        var html  = $("<div>").addClass("card").text(value);
        xnote.showDialog("线程详情", html.prop("outerHTML"));
    });
})
</script>

{% end %}