{% init error = "" %}
{% init path  = "/fake_dir" %}
{% init quoted_path = "/fake_dir" %}

{% include fs/component/options_css.html %}

<input id="currentPath" type="hidden" value="{{path}}"/>
<input id="currentDir" type="hidden" value="{{path}}"/>
<input id="currentError" type="hidden" value="{{error}}"/>

{% if _is_mobile %}
    {% include fs/component/options/fs_options_buttons.mobile.html %}
{% else %}
    {% include fs/component/options/fs_options_buttons.html %}
{% end %}

{% include fs/component/clipboard-dialog.html %}
{% include fs/component/move_file_dialog.html %}
{% include fs/component/script/file_op_script.html %}
{% include fs/mod_fs_upload.html %}

