{% extends base.html %}

{% block head %}
<style>
.code-analyze-name a {
    /*color: #FF5000;*/
    color: blue;
}
.code-analyze-line {
    color: green;
    padding-left: 10px;
    white-space: pre;
    cursor: pointer;
}
.code-analyze-line:hover {
    background-color: #ccf;
}
table td {
    border:none;
}
</style>
{% end %}

{% block body %}
<h3>代码分析 [<a href="/fs/{{?path}}">{{?path}}</a>]</h3>
<div>
    <form action="">
        <table>
        <tr>
            <td>路径</td>
            <td><textarea name="path" cols=100>{{?path}}</textarea></td>
        </tr>
        <tr>
            <td>包含关键字<br/>(同一行)</td>
            <td><textarea name="key" cols=100>{{?key}}</textarea></td>
        </tr>
        <tr>
            <td>排除关键字</td>
            <td><textarea name="blacklist" cols=100>{{blacklist}}</textarea></td>
        </tr>
        <tr>
            <td>文件名</td>
            <td><textarea name="filename" cols=100>{{?filename}}</textarea></td>
        </tr>
        <tr>
            <td>排除文件夹</td>
            <td><textarea name="blacklist_dir" cols=100>{{blacklist_dir}}</textarea>
        </tr>
        <tr>
            <td>忽略大小写</td>
            <td><input type="checkbox" name="ignore_case" {% if ignore_case == "on" %} checked {% end %}/></td>
        </tr>
        <tr>
            <td>递归搜索</td>
            <td><input type="checkbox" name="recursive" {% if recursive == "on" %} checked {% end %}/></td>
        </tr>
        </table>
        <div>
            <button>查询</button>
            <a href="/code/lines?path={{path}}">统计</a>
            <a href="/code/encode?path={{path}}">加密</a>
            <a href="/code/duplicate?path={{path}}">重复文件</a>
        </div>
    </form>
</div>


{{?error}}

{% if len(files) > 0 %}
<div class="col-md-12">
    匹配文件数: {{len(files)}}
</div>
{% end %}

{% for index1, file in enumerate(files) %}

<div class="row">
    <div style="float:right;">匹配数: {{len(file.result)}}</div>
    <div class="code-analyze-name">
        <a href="/code/view_source?path={{file.name}}&key={{key}}" target="_blank">{{file.name}}</a>
    </div>
    <div>

        {% for line in file.result %}
            {% set around_id = "%s-%s" % (index1, line.lineno) %}
            <div>
                <code class="code-analyze-line" onclick="toggle('#{{around_id}}')">{{"%4d " % line.lineno}}{{line.text}}</code>
                <pre id="{{around_id}}" class="hide marked-pre">{{line.around_text}}</pre>
            </div>
        {% end %}

    </div>
    <br/>
</div>

<script type="text/javascript">
    function toggle(id) {
        if ($(id).hasClass("hide")) {
            $(id).removeClass("hide");
        } else {
            $(id).addClass("hide");
        }
    }

    function toggle1(id) {
        if ($(id+"-prev").hasClass("hide")) {
            $(id+"-prev").removeClass("hide");
            $(id+"-next").removeClass("hide");
        } else {
            $(id+"-prev").addClass("hide");
            $(id+"-next").addClass("hide");
        }
    }
</script>

{% end %}
{% end %}