{% extends base.html %}

{% block body %}

<h3>返回 [<a href="/fs/{{?path}}">{{?path}}</a>]</h3>

<div class="col-md-12">
&nbsp;
<!-- POST会被GET参数覆盖 -->
<form method="GET">
    <input type="text" name="count" class="hide" value="on">
    <table class="table">
        <tr>
            <td>路径</td>
            <td><textarea cols="100" name="path">{{path}}</textarea></td>
        </tr>
        <tr>
            <td>包含内容</td>
            <td><textarea cols="100" name="filter_text">{{filter_text}}</textarea></td>
        <tr>
            <td>包含子目录</td>
            <td><input type="checkbox" name="recursive" {% if recursive == "on" %} checked {% end %}/></td>
        </tr>
        <tr>
            <td>黑名单</td>
            <td>
                <p style="color: red;">*匹配任意字符，逗号分隔多个匹配项, 比如[lib/*, *.html]</p>
                <textarea name="blacklist" cols=100>{{blacklist}}</textarea>
            </td>
        <tr>
            <td>类型</td>
            <td>
                <select name="type">
                    {% for _type in typedict %}
                        <option value="{{_type}}" {% if type == _type %} selected {% end %}>{{_type}}</option>
                    {% end %}
                </select>
            </td>
        </tr>
    </table>
    <button>统计</button>
</form>
</div>

{% if len(line_infos) > 0 %}
<p>文件数 {{len(line_infos)-1}}</p>
<p>总行数 {{line_infos[0].lines}}</p>
<p>有效行数 {{line_infos[0].validlines}}</p>
<p>空白行数 {{line_infos[0].blanklines}}</p>
{% end %}

<table class="table">
<tr>
<th>编号</th>
<th>文件名</th>
<th>行数</th>
<th>有效行数</th>
<th>空白行数</th>
<th>查看</th>
</tr>

{% for index, info in enumerate(line_infos) %}

    <tr>
        <td>{{index+1}}</td>
        <td>{{info.display_name}}</td>
        <td>{{info.lines}}</td>
        <td>{{info.validlines}}</td>
        <td>{{info.blanklines}}</td>
        <td>{% if info.fname %}<a target="_blank" href="/code/view_source?path={{info.fname}}">查看</a>{%end%}</td>
    </tr>

{% end %}
</table>

{% end %}