{% extends base.html %}

{% block head %}
<style type="text/css">

.search-key {
    background-color: #FF8000;
    color: #000;
}

</style>
{% end %}

{% block body %}

<div>
    <p style="color:red">{{?error}}</p>
</div>
<div class="col-md-12">
<pre class="col-md-1 marked-pre">{% for l in range(1, lines+1) %}{{"%04d\n" % l}}{% end %}</pre>
<pre class="col-md-10 marked-pre">{{ content }}&nbsp;</pre>
</div>

{# TODO 需要处理下搜索的高亮 #}

<script type="text/javascript">$("#menu-analyze").addClass("active");</script>
{% end %}