<div class="card">
	<div class="float-left">
        <a class="x-tab active" style="text-decoration: none;">案例:</a>
    </div>
	<div class="x-tab-box btn-style" 
			data-tab-key="name" 
			data-auto-href="true"
			data-tab-default="index">
		<a class="x-tab" data-tab-value="text" href="{{_server_home}}/test/example?name=text">文本示例</a>
		<a class="x-tab" data-tab-value="btn" href="{{_server_home}}/test/example?name=btn">按钮示例</a>
		<a class="x-tab" data-tab-value="tab" href="{{_server_home}}/test/example?name=tab">Tab示例</a>
		<a class="x-tab" data-tab-value="tag" href="{{_server_home}}/test/example?name=tag">tag示例</a>
		<a class="x-tab" data-tab-value="dialog" href="{{_server_home}}/test/example?name=dialog">Dialog示例</a>
	    <a class="x-tab" data-tab-value="dropdown" href="{{_server_home}}/test/example?name=dropdown">Dropdown示例</a>
		<a class="x-tab" data-tab-value="table" href="{{_server_home}}/test/example/table?name=table">table示例</a>
	   	<a class="x-tab" data-tab-value="hammer" href="{{_server_home}}/test/example?name=hammer">Hammer示例</a>
	</div>
</div>
