{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-04-17 11:52:32
@LastEditors  : xupingmao
@LastEditTime : 2022-05-06 12:52:29
@FilePath     : /xnote/handlers/test/component/example_nav.html
@Description  : 描述
--> #}

{% include common/layout/wide_left.html %}
<div class="card">
	<div class="card-title">
		<a href="{{_server_home}}/system/develop">开发者工具</a>
		<span>/</span>
		<span>组件示例</span>
	</div>
</div>

{% include test/component/example_nav_tab.html %}