{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-04-17 11:52:32
@LastEditors  : xupingmao
@LastEditTime : 2022-05-06 12:52:29
@FilePath     : /xnote/handlers/test/component/example_nav.html
@Description  : 描述
--> #}
<div class="card">
	<div class="card-title">
		<span>组件示例</span>
	</div>
</div>

<div class="card">
	<div class="x-tab-box btn-style dark" 
			data-tab-key="name" 
			data-auto-href="true"
			data-tab-default="index">
		<span class="float-left btn-line-height">案例:&nbsp;</span>
		<a class="x-tab" data-tab-value="btn">按钮示例</a>
		<a class="x-tab" data-tab-value="tab">Tab示例</a>
		<a class="x-tab" data-tab-value="tag">tag示例</a>
		<a class="x-tab" data-tab-value="dialog">Dialog示例</a>
	    <a class="x-tab" data-tab-value="dropdown">Dropdown示例</a>
	   	<a class="x-tab" data-tab-value="hammer">Hammer示例</a>
	</div>
</div>
