<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2023-08-11 12:17:15
@LastEditors  : xupingmao
@LastEditTime : 2023-08-19 18:23:50
@FilePath     : /xnote/handlers/system/page/db/driver_info.html
@Description  : 描述
 #} -->
{% extends base %}

{% block body_left %}
{% init info_text = "" %}

<div class="card">
    {% set-global title = "数据库引擎信息" %}
    {% include common/base_title.html %}    
</div>

<div class="card">
    <textarea class="row code" rows="30" readonly>{{info_text}}</textarea>
</div>

{% end %}

{% block body_right %}
    {% include system/component/admin_nav.html %}
{% end %}