<!--{# 
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2021-10-01 18:27:00
@LastEditors  : xupingmao
@LastEditTime : 2022-06-18 08:42:37
@FilePath     : /xnote/handlers/note/page/category.html
@Description  : 描述
 #}-->
{% extends base %}

{% block body_left %}
    <div class="card">
        <div class="grid-title">
            <span class="path-link">{{title}}</span>
            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>

    {% include note/component/script/create_script.html %}
    {% include note/component/note_list_component.html %}
{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_manage_sidebar.html %}
{% end %}