{% extends base/base2.html %}

{% block body_top %}
    <div class="card">
        <div class="card-title">
            <span>我的评论</span>
            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>
{% end %}

{% block body_left %}
    {% include note/page/comment.html %}
{% end %}

{% block body_right %}
    {% include note/component/group_special_folder.html %}
    {% include note/card/note_types.html %}
{% end %}