{% extends base %}

{% block body %}

    <div class="card">
        <div class="grid-title">
            <span class="path-link">{{T("归档笔记本")}}</span>
            <div class="float-right">
                <a class="btn" href="javascript:createGroup();">新建项目</a>
                <a class="btn btn-default" href="javascript:history.back();">返回</a>
            </div>
        </div>
    </div>

    {% include note/script/create_script.html %}
    {% include note/component/note_list_component.html %}
{% end %}