{% extends base %}

{% block body_left %}
    {% init ext_groups = None %}
    {% init show_sort = True %}
    {% include note/component/view_css.html %}

    <div class="card">
        <div class="card-title">
            <span>{{title}}</span>
            <div class="float-right">
                <a class="btn btn-default" href="{{_server_home}}/note/group/manage">管理笔记本</a>
                <a class="btn btn-default" href="{{_server_home}}/note/tools?category=note">工具</a>
                {% if show_back %}
                    {% include common/button/back_button.html %}
                {% end %}
            </div>
        </div>

        {% include note/component/script/create_script.html %}
    </div>

    {% if _is_mobile %}
        {% include note/page/group_list_nav_mobile.html %}
    {% else %}
        {% include note/page/group_list_nav_desktop.html %}
    {% end %}

    {% if show_sort %}
        <!-- 排序功能 -->
        <div class="card">
            {% include note/component/sort/note_sort_tab.html %}
        </div>
    {% end %}

    <!-- 笔记本列表 -->
    {% set files = groups %}
    {% include note/component/note_list_component.html %}

    <script>
        $.get("{{_server_home}}/note/api/stat", function (resp) {
            console.log("note stat:", resp);
        });
    </script>
{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}

