{% extends base %}

{% block head %}

<style type="text/css">
    .option-td {
        width: 25%;
        text-align: left;
    }

    .date-td {
        width: 25%;
        text-align: right;
    }

    .card-row {
        padding-left: 20px;
    }
</style>

{% end %}

{% block body %}
    {% from xutils import dateutil %}

    <div class="card btn-line-height">
        <span>日期</span>
        <select name="year" value="{{year}}">
            {% for j in range(year-5,year+6) %}
                <option value="{{j}}">{{j}}</option>
            {% end %}
        </select>
        <select name="month" value="{{month}}">
            {% for i in range(0,13) %}
                {% if i == 0 %}
                    <option value="0">全年</option>
                {% else %}
                    <option value="{{i}}">{{i}}月</option>
                {% end %}
            {% end %}
        </select>

        <div class="float-right">
            <a class="btn" href="/note/add">新建</a>
            <a class="btn btn-default" href="/note/tools">笔记工具</a>
        </div>
    </div>

    <div class="card">
        {% for date, children in notes_by_date %}
            <h3 class="card-title-2">{{date}}</h3>
            {% for note in children %}
                <p class="card-row">
                    <i class="fa {{note.icon}}"></i>
                    <a href="{{note.url}}">{{note.name}}</a>
                    {% if note.size != None %}
                        <span class="float-right gray-text">{{note.size}}</a>
                    {% end %}
                </p>
            {% end %}
        {% end %}

    </div>

    <script>
    $(function () {
        function formatDate(year, month) {
            if (month == "0") {
                return year;
            }
            if (month < 10) {
                return year + "-0" + month;
            }
            return year + "-" + month;
        }
        $("select").change(function (e) {
            var year = $("[name=year]").val();
            var month = $("[name=month]").val();
            var date = formatDate(year, month);
            location.href = "?date=" + date;
        });

    })
    </script>

{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
