{% extends base %}

{% block head %}

<style type="text/css">
    .option-td {
        width: 25%;
        text-align: left;
    }

    .date-td {
        width: 25%;
        text-align: right;
    }

    .card-row {
        padding-left: 20px;
    }
</style>

{% end %}

{% block body %}
    {% from xutils import dateutil %}

    <div class="card">
        日期
        <select name="year" value="{{year}}">
            {% for j in range(year-5,year+6) %}
                <option value="{{j}}">{{j}}</option>
            {% end %}
        </select>
        <select name="month" value="{{month}}">
            {% for i in range(1,13) %}
                <option value="{{i}}">{{i}}</option>
            {% end %}
        </select>

        <div class="float-right">
            <a class="default-path-link" href="{{link_by_month(year, month, -1)}}">上个月</a>
            <a class="default-path-link" href="{{link_by_month(year, month, 1)}}">下个月</a>
            <a class="default-path-link" href="/note/index">索引</a>
        </div>
    </div>

    <div class="card">
        {% for date, children in notes_by_date %}
            <h3 class="card-title-2">{{date}}</h3>
            {% for note in children %}
                <p class="card-row">
                    <i class="fa {{note.icon}}"></i>
                    <a href="{{note.url}}">{{note.name}}</a>
                    {% if note.size != None %}
                        <span class="float-right gray-text">{{note.size}}</a>
                    {% end %}
                </p>
            {% end %}
        {% end %}

    </div>

    <script>
    $(function () {
        $("select").change(function (e) {
            var year = $("[name=year]").val();
            var month = $("[name=month]").val();
            location.href = "?year=" + year + "&month=" + month;
        });

    })
    </script>

{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
