{% extends base %}

{% block body_left %}
    
    {% init notes = [] %}
    {% init show_pagination = False %}
    {% init parent_id = 0 %}
    {% init show_back = True %}
    {% init show_create_option = True %}
    {% init show_path = True %}

    <div class="card">
        <div class="grid-title">
            <span>{{title}}</span>
            <div class="float-right">

                {% if show_create_option %}
                    <a class="btn" href="{{_server_home}}/note/create?parent_id={{parent_id}}&type={{create_type}}">{{create_text}}</a>
                {% end %}

                <a class="btn btn-default" href="{{_server_home}}/note/tools">工具</a>

                {% if show_back %}
                    {% include common/button/back_button.html %}
                {% end %}
            </div>
        </div>

        {% include note/component/script/create_script.html %}
    </div>

    {% if show_path %}
    <div class="card">
        {% include note/component/note_path.html %}
    </div>
    {% end %}

    {% include note/component/filter/type_filter.html %}

    {% set files = notes %}
    {% include note/component/note_list_component.html %}

    {% if show_pagination %}
        <div class="card">
            {% include common/pagination.html %}
        </div>
    {% end %}

{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}



