{% extends base %}

{% block body %}

<div class="card">
    <h3 class="card-title btn-line-height">
        <span>笔记应用</span>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/note/create">新建</a>
            <a class="btn btn-default" href="{{_server_home}}/note/group">笔记本</a>
        </div>
    </h3>
</div>

{% include plugin/header/plugin_category.html %}

<div class="card">
    <div class="plugin-list col-md-12">
        {% for index, link in enumerate(plugins) %}
            <a class="list-link" href="{{link.link + link.url_query}}">
                <i class="fa {{link.icon}}"></i>
                <span>{{link.title}}</span>

                <div class="plugin-right-box">
                    {% if link.size != None %}
                        <span class="plugin-right-span">{{link.size}}</span>
                    {% end %}
                    
                    {% if link.visit_cnt != None %}
                        <i class="fa fa-eye-o"></i>
                        <span class="plugin-right-span">热度: {{link.visit_cnt}}</span>
                    {% end %}

                    <i class="fa fa-chevron-right"></i>
                </div>
            </a>
        {% end %}
    </div>
</div>
{% end %}
