{% extends base %}

{% block head %}
<style type="text/css">
    .option-td {
        width: 25%;
    }
</style>

{% end %}

{% block body_left %}
    <div class="card">
        <div class="card-title">
            <span>我的动态</span>
            
            <div class="float-right">
                <!-- 右侧控制区 -->
                <a class="btn btn-default" href="{{_server_home}}/note/tools">笔记工具</a>
                {% include common/button/back_button.html %}
            </div>

        </div>
    </div>

    <div class="card">
        <div class="x-tab-box" data-tab-key="orderby" data-tab-default="view">
            <!-- <a class="tab-link x-tab" href="{{_server_home}}/note/recent?orderby=all">全部</a> -->
            <a class="tab-link x-tab" href="{{_server_home}}/note/recent?orderby=view" data-tab-value="view">查看</a>
            <a class="tab-link x-tab" href="{{_server_home}}/note/recent?orderby=create" data-tab-value="create">创建</a>
            <a class="tab-link x-tab" href="{{_server_home}}/note/recent?orderby=update" data-tab-value="update">更新</a>
            <a class="tab-link x-tab" href="{{_server_home}}/note/recent?orderby=myhot" data-tab-value="myhot">常用</a>
        </div>
    </div>

    {% include note/component/note_list_component.html %}

    <div class="card">
        {% include common/pagination.html %}
    </div>

{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}