{% extends base %}

{% block body_left %}
    
    {% init notes = [] %}
    {% init show_pagination = False %}

    {% init show_back = True %}
    {% init show_create_option = True %}

    <div class="card">
        <div class="grid-title">
            <span>{{title}}</span>
            <div class="float-right">

                {% if show_create_option %}
                    <a class="btn" href="/note/create?parent_id={{parent_id}}&type={{create_type}}">{{create_text}}</a>
                {% end %}

                <a class="btn btn-default" href="/note/tools">工具</a>

                {% if show_back %}
                    {% include common/button/back_button.html %}
                {% end %}
            </div>
        </div>

        {% include note/script/create_script.html %}
    </div>

    <div class="card">
        {% include note/component/note_path.html %}
    </div>

    {% set files = notes %}
    {% include note/component/note_list_component.html %}

    {% if show_pagination %}
        <div class="card">
            {% include base/pagination.html %}
        </div>
    {% end %}

{% end %}

{% block body_right %}
    <div class="desktop-only">
        {% init show_recent_update = False %}

        {% include note/component/group_special_folder.html %}
        {% include note/card/note_types.html %}

        {% if show_recent_update %}
            {% include note/card/recent_update_notes.html %}
        {% end %}
    </div>
{% end %}

