{% extends base %}

{% block body %}

<div class="card">
    <div class="card-title">
        <span>未分类笔记</span>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/note/management?parent_id=default">批量管理</a>
            <a class="btn btn-default" href="javascript:history.back();">返回</a>
        </div>
    </div>
</div>

{% set files = notes %}
{% include note/component/note_list_component.html %}

{# 分页 #}
{% if "page" in globals() %}
    <div class="card">
        {% include mod_pagenation.html %}
    </div>
{% end %}

{% end %}