{% extends base %}

{% block head %}
<style type="text/css">
    .option-td {
        width: 25%;
    }
</style>

{% end %}

{% block body %}
    <div class="card">
        <div class="card-title">
            <span>我的动态</span>
            
            <div class="float-right">
                <!-- 右侧控制区 -->
                <a class="btn btn-default" href="/note/tools">笔记工具</a>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="pad5 x-tab-box" data-tab-key="orderby" data-tab-default="view">
            <!-- <a class="tab-link x-tab" href="/note/recent?orderby=all">全部</a> -->
            <a class="tab-link x-tab" href="/note/recent?orderby=view" data-tab-value="view">查看</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=create" data-tab-value="create">创建</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=update" data-tab-value="update">更新</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=hot" data-tab-value="hot">常用</a>
        </div>
    </div>

    {% include note/component/note_list_component.html %}

    <div class="card">
        {% include base/pagination.html %}
    </div>

{% end %}