<div class="card">
    {% set xnote_table_var = "relation_table" %}
    <div class="table-action-row">
        <button class="btn" onclick="xnote.table.handleEditForm(this)"
            data-url="/note/relation?action=edit&note_id={{file.id}}"
            data-title="{{create_btn_text}}">{{create_btn_text}}</button>
    </div>
    {% include common/table/table.html %}
</div>

<div class="card">
    {% set xnote_table_var = "rev_relation_table" %}
    <div class="table-action-row">
        <span>反向关系</span>
    </div>
    {% include common/table/table.html %}
</div>


{% if False %}
<!-- 合并关系数据 -->
<div class="card">
    <div class="card-title">
        <span>笔记关系</span>
        <a href="/note/relation?note_id={{file.id}}">[编辑]</a>
    </div>
    {% for relation_group in relation_group_list %}
    <div class="row pad5">
        <span>{{relation_group.label}}</span>
        {% for link in relation_group.children %}
        <a href="{{link.href}}">{{link.text}}</a>
        {% end %}
    </div>
    {% end %}
</div>
{% end %}