{% extends base %}

{% block body %}
    <div class="card">
        <div class="grid-title">
            <span class="path-link">{{title}}</span>
            <div class="float-right">
                <a class="btn" href="javascript:createGroup();">新建项目</a>
                <a class="btn btn-default" href="/note/tools">工具</a>
            </div>
        </div>

        {% include note/script/create_script.html %}
    </div>

    <div class="card">
        {% include note/component/note_list_component.html %}
    </div>
{% end %}