{% extends base %}

{% block head %}
<style type="text/css">
    .option-td {
        width: 25%;
    }
</style>

{% end %}

{% block body %}
    <div class="card">
        <div class="row">
            <a class="tab-link x-tab" href="/note/recent?orderby=create">最近创建</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=update">最近更新</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=view">最近浏览</a>
            <a class="tab-link x-tab" href="/note/recent?orderby=hot">最近常用</a>

            <div class="float-right">
            </div>
        </div>
        {% include note/component/note_list_component.html %}
    </div>
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
