{% extends base %}

{% block head %}
<style type="text/css">
    .tag-link {
        color: blue;
    }
</style>
{% end %}

{% block body %}
<div class="grid-card">
    <div class="grid-title btn-line-height">
        {{T("Tag List")}}

        {% include common/back.html %}
    </div>
</div>

<div class="card">
    <div class="top-offset-1">
        {% if len(tag_list) == 0 %}
            {% include common/text/empty_text.html %}
        {% end %}

        {% for tag_info in tag_list %}
            <span class="tag-span">
                <a class="tag-link" href="/note/tagname/{{tag_info.name}}">{{tag_info.name}}</a>
                {{tag_info.amount}}
            </span>
        {% end %}
    </div>
</div>
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
