{% init default_subtab = "tag" %}

<div class="card">
    <div class="x-tab-box" data-tab-key="subtab" data-tab-default="{{default_subtab}}">
        <a class="x-tab" data-tab-value="tag" href="{{_server_home}}/note/taglist/manage?tab=manage&subtab=tag">标签列表</a>
        <a class="x-tab" data-tab-value="category" href="{{_server_home}}/note/tagcategory/manage?tab=manage&subtab=category">标签类别</a>
    </div>
</div>

{% init show_tag_type = False %}
{% if show_tag_type %}
<div class="card">
    <div class="x-tab-box" data-tab-key="tag_type" data-tab-default="0">
        <a class="x-tab" data-tab-value="0">全部</a>
        {% for item in tag_type_list %}
            <a class="x-tab" data-tab-value="{{item.value}}">{{item.name}}</a>
        {% end %}
    </div>
</div>
{% end %}
