{% extends base %}

{% block body_left %}

<div class="card">
    <div class="card-title btn-line-height">
        {{T("Tag List")}}

        {% include common/back.html %}
    </div>
</div>

{% include note/page/taglist_tab.html %}

<div class="card">
    {% for tag_category in tag_category_list %}
        <div class="split-title">
            {{tag_category.name}}
        </div>
        {% set tag_info_list = tag_category.tag_list %}
        {% include note/page/taglist_row.html %}
    {% end %}
</div>

{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}


{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}

