{% extends base %}

{% block body %}

<div class="card">
    <div class="card-title">
        <a class="link2" href="/note/taglist">标签列表</a>
        <span>/</span>
        <span>{{tagname}}</span>

        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

{% set page_url="/note/tagname/"+tagname+"?page=" %}
{% include note/component/note_list_component.html %}

<div class="card">
    {% include mod_pagenation.html %}
</div>
    
{% end %}

{% block aside %}
    {% include note/component/mod_aside.html %}
{% end %}
