{% extends base %}

{% block body_left %}

<div class="card">
    <div class="card-title">
        <a class="link2" href="{{_server_home}}/note/taglist">标签列表</a>
        <span>/</span>
        <span>{{tagname}}</span>

        <div class="float-right">
            <button class="btn btn-default" data-code="{{tagcode}}" onclick="xnote.action.note.openDialogToAddNote(event)">添加笔记</button>
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

{% set page_url="/note/tagname/"+tagcode+"?page=" %}
{% include note/component/note_list_component.html %}

<div class="card">
    {% include mod_pagenation.html %}
</div>
    
{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}
