{% extends base.html %}

{% block body %}
    {% init common_title = "用户日志" %}
    {% include common/title/base_title.html %}

    <style type="text/css">
        .op-log-table td {
            width: 33.33%;
        }
    </style>

    <div class="card">
        <table class="table op-log-table">
            <tr>
                <th>操作时间</th>
                <th>操作类型</th>
                <th>详情</th>
            </tr>

            {% for log in log_list %}
                <tr>
                    <td>{{log.ctime}}</td>
                    <td>{{log.type}}</td>
                    <td>{{log.detail}}</td>
                </tr>
            {% end %}
        </table>
    </div>

{% end %}

{% block body_right %}
    {% include common/sidebar/default.html %}
{% end %}
