{% extends base %}

{% block body_left %}

<div class="card">

    <h3 class="card-title btn-line-height">
        <a class="link2" href="{{_server_home}}/system/user/list">用户管理</a>&nbsp;/&nbsp;<span>用户信息</span>
        {% include common/back.html %}
    </h3>

</div>

<div class="card">
    {% if info_table %}
        {% raw info_table.render() %}
    {% end %}
</div>

<div class="card">
    <div class="card-title">
        <span>用户操作日志</span>    
    </div>
    {% include common/table/table.html %}
    <div class="top-offset-1 bottom-offset-1">
        {% include common/pagination.html %}
    </div>
</div>

{% include user/component/user_script.html %}

{% end %}


{% block body_right %}
    {% include common/sidebar/default.html %}
{% end %}
