{% extends base.html %}

{% block body %}

<div class="card">
    <div class="grid-title">
        <a href="{{_server_home}}/more?type=tool" class="link">工具库</a> › 账号 › {{_user_name}}
        
        <a class="float-right link" href="{{_server_home}}/logout">登出</a>
    </div>

    <div class="row top-offset-1">
        <a href="{{_server_home}}/system/storage?key=settings" class="link">个人设置</a>
        <hr/>
        当前时间: <span id="currentTime"></span>
    </div>

</div>

<script type="text/javascript">
$(function () {
    function updateTime () {
        $("#currentTime").html(new Date().format("yyyy-MM-dd HH:mm:ss"));
        setTimeout(updateTime, 1000);
    }
    updateTime();
})


function runCommand(path) {
    // alert("runCommand "+ path);
    $.get("/system/command", {path: path}, function(data, status) {
        alert(data);
    })
}


</script>
{% end %}