{% extends base.html %}

{% block body_left %}

<div class="card">
    <div class="grid-title">
        <span>账号信息</span>
        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

<div class="card list">

    <div class="list-item">
        <span>用户名</span>
        <div class="float-right">
            <span>{{user.name}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="list-item">
        <span>修改密码</span>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/user/change_password">修改</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="list-item">
        <span>用户日志</span>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/user/op_log">查看</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="list-item">
        <span>登出账号</span>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/logout">登出</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    $(".todo-btn").click(function (e) {
        xnote.alert("功能待实现");
    });
});
</script>

{% end %}

{% block body_right %}
    {% include settings/component/settings_sidebar.html %}
{% end %}