<style>
  .nav {
    display: none;
  }

  .nav-left {
    display: block;
  }

  .nav-left-block {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-left-block a {
    display: block;
    float: left;
    width: 100%;
    color: white;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .nav-left-block a:hover {
    background-color: #333;
  }

  @media screen and (max-width: 1000px) {
    /* mobile mode */
    .nav {
      display: block;
    }

    .nav-left {
      display: none;
    }
  }
</style>
<div class="nav-left">
  <div class="nav-scroll">
    <!-- 侧边菜单栏 -->
    <div class="nav-left-block">
      <div class="navMenu">
        {% if _has_login %}
        <!-- 登录状态 -->
        <a href="{{_server_home}}/note/index">{{T("首页")}}</a>
        <a href="{{_server_home}}/note/recent?orderby=update">{{T("动态")}}</a>
        <a href="{{_server_home}}/note/taglist">{{T("标签")}}</a>
        <a href="{{_server_home}}/search/history">{{T("搜索")}}</a>
        <a href="{{_server_home}}/note/public">{{T("分享")}}</a>
        {% end %}
      </div>
    </div>

    <div class="nav-left-block">
      <div class="navMenu">
        {% if _has_login %}
        <!-- 登录状态 -->
        <a href="{{_server_home}}/message?tag=task">{{T("待办")}}</a>
        <a href="{{_server_home}}/message?tag=log">{{T("随手记")}}</a>
        {% end %}
      </div>
    </div>

    <div class="nav-left-block">
      <div class="navMenu">
        {% if _has_login %}
        <a href="{{_server_home}}/system/index">{{T("应用")}}</a>
        <a href="{{_server_home}}/plugins_list">{{T("插件")}}</a>
        <a href="{{_server_home}}/system/settings">{{T("设置")}}</a>
        {% end %}

        {% if _is_admin %}
        <a href="{{_server_home}}/fs_list">{{T("文件")}}</a>
        <a href="{{_server_home}}/system/admin">{{T("后台")}}</a>
        {% end %}

        {% if not _has_login %}
        <!-- 未登录状态 -->
        <a href="{{_server_home}}/note/public">分享</a>
        <a href="{{_server_home}}/login" class="afinve"><span>登录</span></a>
        {% end %}
      </div>
    </div>

    {% if len(xconfig.WebConfig.custom_nav_list) > 0 %}
    <div class="nav-left-block">
      <div class="navMenu">
        {% for nav_info in xconfig.WebConfig.custom_nav_list %}
          <a href="{{_server_home}}{{nav_info.url}}">{{T(nav_info.name)}}</a>
        {% end %}
      </div>
    </div>
    {% end %}

  </div>

  <div id="poweredBy">
    <!-- 关于可以挂外链 -->
    <div><a href="{{xconfig.WebConfig.about_url}}">{{T(xconfig.WebConfig.about_text)}}</a></div>
  </div>
</div>

<script>
  (function () {
    $(".nav-left").width(xnote.device.leftNavWidth);
  })();
</script>