
{% if show_menu and show_nav %}
<div class="nav">
  <!-- 保持对称 -->
  <div class="nav-container">
    <div class="menu-box float-left">
      <ul class="nav-ul">
        {% for nav in _nav_list %}
          {% if nav.is_visible() %}
            <li class="nav-item {{nav.css_class}}">
              <a href="{{_server_home}}{{nav.url}}">{{T(nav.text)}}</a>
            </li>
          {% end %}
        {% end %}
      </ul>
    </div>

    <div class="nav-search">
      <form id="searchForm" method="GET" action="{{_server_home}}{{search_action}}">
        {% include common/search_box.html %}
      </form>
    </div>
  </div>
</div>
{% end %}
