/**
 * 应用相关的CSS样式
 * @author xupingmao
 * @since 2019/06/16
 * @modified 2019/12/15 18:26:57
*/

/* 上传文件样式 */
.progress {
    background-color: #f90;
    color: #fff;
    height: 20px;
    display: none;
    margin-left: 5px;
    border-width: 3px;
}
.progress span {
    display: block;
    background-color: #f90;
    color: #fff;
    height: 100%;
}

.finished-tag {
    color: #fff;
    background-color: green;
    border-width: 3px;
    border-radius: 3px;
    margin-left: 5px;
}

#dropArea {
    float: left;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border: 3px dashed silver;
    text-align: center;
    font-size: 36px;
    color: #d3d3d3;
    cursor: pointer;
}

.file-item {
    float: left;
    width: 100%;
}

.file-item-icon {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.file-item-info {
    padding: 10px;
    float: left;
    width: calc(100% - 100px);
}

.menu-aside {
    display: none;
}

.option-name {
    width: 60%;
}

.option-td {
    width: 20%;
}

#poweredBy {
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    padding: 15px; 
    padding-left: 40px;
    padding-right: 0px;
    border-top: 1px solid #ccc;
}

#poweredBy,
#poweredBy a {
    color: white;
}

#poweredBy a {
    text-decoration: underline;
}

.item-ext-info {
    padding-top: 10px;
}

.note-group-select {
    padding: 5px;
}

.suggest-link {
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    /** mobile **/
    #dropArea {
        font-size: 24px;
    }

    .recent-note-date {
        font-size: 12px;
    }

    .x-left {
        display: none;
    }

    .x-body {
        position: static;
        width: 100%;
    }
}

