/*
统一的样式库
@author xupingmao
@since 2017/12/16
@modified 2019/01/23 01:01:25
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "微软雅黑", "Open Sans Light", Helvetica, "Arial Narrow", HELVETICA; 
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-text-size-adjust: 100%; 
    margin: 0; 
    padding: 0;
    background-attachment: fixed;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

/** marked 样式 **/
.marked-contents {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.marked-contents h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.marked-code {
    background: #ffd;
    padding: 0.5rem;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.marked-strong {
    color: red;
}

.marked-strong>a {
    color: red;
}

/**
 * 全局通用的设置
 */

p,li,a {
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

h1,h2,h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif
}

.col-md-1{float:left;width:8.3%;}
.col-md-2{float:left;width:16.7%;}
.col-md-3{float:left;width:25%;}
.col-md-4{float:left;width:33.3%;}
.col-md-5{float:left;width:41.7%;}
.col-md-6{float:left;width:50%;}
.col-md-7{float:left;width:58.3%;}
.col-md-8{float:left;width:66.7%;}
.col-md-9{float:left;width:75%;}
.col-md-10{float:left;width:83.3%;}
.col-md-11{float:left;width:91.7%;}
.col-md-12{float:left;width:100%;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66666666666666%;}
.col-md-offset-10{margin-left:83.33333333333334%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66666666666666%;}
.col-md-offset-7{margin-left:58.333333333333336%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66666666666667%;}
.col-md-offset-4{margin-left:33.33333333333333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.666666666666664%;}
.col-md-offset-1{margin-left:8.333333333333332%;}
.col-md-offset-0{margin-left:0;}
.top-offset-1{margin-top:1em;}
.top-offset-2{margin-top:2em;}
.bottom-offset-1{margin-bottom:5px;}
.row{float: left;width: 100%;overflow: auto;}


/** 标题样式 **/
.heading {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    background: #eee;
    border-left: 5px solid #039BE5;
}

/** label **/
.label {
    display: inline-block;
    width: 100px;
}

/** 链接样式 **/
a {
    font-size: 14px;
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
    color: #08c;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    /*color: white;*/
    /*background-color: #08c;*/
}

.button-link {
    text-decoration: none;
    cursor: pointer;
}

.button-link:hover {
    background: #ccc;
}

.link {
    /*color: #37a; */
    color: #08c;
    margin-right: 5px;
    cursor: pointer;
}

.link2 {
    color: black;
    margin-right: 5px;
    cursor: pointer;
}

.link2:hover {
    color: gray;
}

.selected-link {
    /*border-bottom: 2px solid red;*/
    color: red;
}

/* 高对比度link */
.contract-link {
    display: inline-block;
    color: #08c;
    line-height: 20px;
    float: left;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
}

.contract-link:hover {
    color: white;
    background-color: #08c;
    text-decoration: none;
}

/* 菜单的链接样式 */
.menu-link {
    color: black;
    padding: 3px;
}

.menu-link:hover {
    color: white;
    background-color: #08c;
    text-decoration: none;
}

/* TAB页的链接样式 */
.tab-link {
    float: left;
    padding: 2px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #ccc;
}

.tab-link:hover {
    color: #000;
}

.tab-link-active {
    color: #000;
}


/** 按钮样式 **/

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, [type=submit], [type=button], button {
    display: inline-block;
    -webkit-appearance: none; /* 消除IOS默认的按钮样式 */
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    padding: 1px 7px 2px;
    font-size: 12px;
    line-height: 18px;
}

/* 单选 */
input[type=radio] {
    cursor: pointer;
}

.btn:hover, button:hover, [type=submit]:hover, [type=button]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
    text-decoration: none;
}

.btn-danger {
    background-color: red;
}

.btn-danger:hover {
    background-color: red;
}

.btn-cancel {
    background-color: red;
}

.btn-cancel:hover {
    background-color: red;
}

.prompt-btn:hover {
    cursor: pointer;
}

blockquote {
    font-style: italic;
    display: block;
    width: 100%;
    float: left;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

blockquote p {
    margin: 0px;
}


/** 表格样式 **/
table {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #ccc;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #eee;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #ffffff;
}

.no-border-table td {
    border: none;
}

.table {
    width: 100%;
}

.table th{
    border-color: #ccc;
}

.table td {
    border-color: #ccc;
}

/*
.table tr:hover td {
    background: none;
}

.table tr:hover {
    background: #eee;
}
*/

.row-no, .index-td {
    width: 50px;
}

.hover-tr:hover td {
    background: none;
}

.hover-tr:hover {
    background-color: #eee;
}

.line-td {
    border-top: none;
    border-left: none;
    border-right: none;
}

/** 列表样式 **/
.list-item {
    float: left;
    width: 100%;
    cursor: pointer;
}

.list-item:hover {
    background-color: #eee;
}

/** 以下为具体场景下的样式 **/
.menu-selected {
    background: #0088cc;
    color: #fff;
}

/** 侧边栏样式 **/
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.hide {
    display: none;
}

.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}

/** 笔记样式 **/
.note-head {
    font-size: 20px;
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.xnote-menu {
    padding-left:0;
}

li.menu-item {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.menu-active {
    padding-bottom: 3px;
    border-style: solid;
    border-color: #99cc33;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
}

li.menu-item a {
    text-decoration: none; 
    color: #fff;
}

li.menu-item a:hover {
    background-color: inherit;
}

li.menu-item:hover {
    background-color: #777;
}

/** base START **/

.header {
  width: 100%;
  background-color: #eee;
  position: fixed;
  left: 0px;
  top: 0px;
}


.root {
    padding-bottom: 10px;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin-left: 0px;
    background-color:#fff; 
    margin: 0 auto;
    max-width: 950px;
}

.nav {
    float: left;
    width: 100%;
    padding: 0px 10px;
    background-color: #fff;
}

.footer {
    display: none;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: blue;
    background-color: #fff;
}

.x-center {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.x-body {
    /*position: absolute;*/
    float: left;
    width: 100%;

    padding: 0px 10px;
}


.nav-top {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.nav-top * {
  margin: 0px;
  padding: 0px;
  color: black;
  /* color: white; */
}

.nav-top h1 {
  font-family: "monospace Consolas";
}

.nav-top ul {
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.nav-top li {
  display: block;
  float: left;
  padding: 5px;
}

.nav-search-input {
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 5px;
    float: left;
    display: block;
}

.nav-search-btn {
    float: left;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    margin-top: 0px;
}

.search-box {
    width: 345px;
    float: right;
    padding: 5px 0px;
}

.navMenu-top { 
  padding: 10px; 
  color: #fff; 
  border-bottom: 1px solid rgba(255,255,255,.1) 
}

.notice {
    border: 1px solid #ccc;
    background-color: #cef2e0;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
}

.form-control {
    width: 100%;
}

/** Tags **/
.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 0px;
    padding: 3px;
    margin-right: 2px;
}

.tag-link {
    text-decoration: none;
    color: white;
}

.tag-link:hover {
    background-color: initial;
    text-decoration: underline;
}

.inline-tag {
    display: inline-block;
    padding: 2px;
}

.pink-tag {
    background-color: pink;
}

.red-tag {
    font-size: small;
    background-color: red;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.orange-tag {
    font-size: small;
    background-color: orange;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.gray-tag {
    color: #000;
    background-color: #eee;
}

.tag-span {
    display: block;
    float: left;
    font-size: small;
    line-height: 20px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.tag-span a {
    color: blue;
}

.tag-span:hover {
    background-color: #eee;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}

/** note-list样式 **/
.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}
.note {
    float: left;
    border: solid 1px;
    border-color: #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
}
.note-body {
    padding: 10px;
}

.note-head {
    font-size: 20px;
}

.note-name {
    /*font-size: 20px;*/
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-title {
    width: 100%;
    float: left;
}

.note-info {
    width: 100%;
    float: left;
}

.note-info span {
    display: inline-block;
    padding-top: 2px;
}

.note-time {
    font-size: 12px;
    color: #aaa;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-modify-time,
.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.x-page-link {
    border: 1px solid #ccc;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}
.x-page-active {
    background-color: red;
}

/** file-list样式 END **/

.green-text {
    color: green;
}

.green-bg {
    color: #fff;
    background-color: green;
}

.red-bg {
    background-color: red;
}

.red-text {
    color: #f00;
}

.blue-text {
    color: #00f;
}

.center-text {
    text-align: center;
}

.error {
    padding: 5px;
    background-color: #f2dede;
    margin: 0px;
}

.warn {
    margin: 0px;
    padding: 5px;
    background-color: #ffc;
}

.info {
    padding: 5px;
    background-color: #C1FFC1;
    margin: 0px;
}

.success {
    padding: 5px;
    margin: 0px;
    background-color: #cf9;
}

.x-dialog {
    display: none;
    position: fixed;
    margin: 0 auto;
    background-color: #fff;
    z-index: 100;
    overflow-y: hidden;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #214FA3;
    color: #fff;
    padding: 5px;
    cursor: move;
}

.x-dialog-body {
    float: left;
    width: 100%;
    overflow-y: auto;
}

.x-dialog-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.x-dialog-ajax {
    display: block;
}

.x-dialog-close {
    background-color: red;
    float: right;
    border: none;
    margin-top: 0px;
    border: 1px solid transparent;
}

.x-dialog-close:hover {
    border: 1px solid black;
}

.dialog-close-btn {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
}

.dialog-close-btn:hover {
    background-color: red;
}

.dialog-title-btn {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
}

.dialog-title-btn:hover {
    background-color: gray;
}


.dialog-title {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #3c3333
}

.dialog-iframe {
    float: left;
    width: 100%;
    height: 100%;
    border: none
}


.no-border tr td {
    border: none;
}

.input-group {
    float:left;
    width:100%;
    padding-bottom:5px;
    height: 40px;
    max-width: 700px;
}

#searchBox {
    margin-bottom: 5px;
}

.search-input {
    float: left;
    height:40px;
    padding-left: 10px;
    padding-right: 40px;
    width: 100%;
    max-width: 500px;
    outline: none;
    box-sizing: border-box;
}

.search-btn {
    float: left;
    right: 10px;
    background: #355380; 
    color: #fff; 
    border: none;
    border-radius:0px;
    /*max-width:25%;*/
    width: 40px;
    height: 40px;
    margin-left: -40px;
}

.item-option {
    color: #aaa;
    cursor: pointer;
    font-size: 12px;
}
.item-option:hover {
    color: #000;
    background: none;
    text-decoration: underline;
}

.fs-path {
    float: left;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #eee;
}

.fs-file {
    color: black;
    cursor: pointer;
}

.fs-folder {
    color: blue;
}

/** 知识库列表样式 **/
#fileTable td {
    border-top: none;
    border-left: none;
    border-right: none;
}

.group-link {
    color: #08c;
}

.grid-title, .card-title {
    width: 100%;
    float: left;
    padding-left: 5px;
    border-left: 5px solid #039BE5;
    background: #efefef;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: arial,"Sim Sun";
    font-weight: bold;
    font-size: 14px;
}

.grid-row {
    width: 100%;
    float: left;
}

.grid-link {
    display: block;
    float: left;
    width: 220px;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
}

.grid-link:hover {
    background: #eee;
}

.grid-item {
    width: 20%;
    padding: 5px;
    /*margin: 5px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    line-height: 25px;
}

.grid-item:hover {
    background-color: #eee;
}

.group-div {
    width: 220px;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    float: left;
    line-height: 25px;
}

.group-div:hover {
    background-color: #eee;
}

.children-count {
    float: right;
}

.note-link {
    color: #08c;
}

.scroll-y {
    overflow-y: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.small-font {
    font-size: small;
}

.code {
    font-family: Consolas, monospace;
}

.nav-ul {
    display: block;
    float: left;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    line-height: 40px;
}

.nav-ul li {
    padding-right: 5px;
    display: block;
    float: left;
}

.pagenation {
    width: 100%;
    float: left;
}

.keyword {
    color: blue;
}

.output-title {
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-top: 5px;
}

.output-body {
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #eee;
    box-sizing: border-box;
    margin: 0px;
    border-top: none;
    font-family: consolas, monospace;
}


.bot-btn {
    position: fixed;
    bottom: 50px;
    width: 50px;
    height: 40px;
    font-size: 14px;
    background-color: #00c1de;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    z-index: 100;
    opacity: 0.8
}

.border {
    border: solid 1px #ccc;
}

.main-content {
    float: left;
    width: 100%;
    padding-right: 230px;
    min-height: 20px;
}

.aside {
    float: left;
    width: 220px;
    margin-left: -220px;
}

.aside-item {
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.aside-item li {
    list-style: none;
    line-height: 20px;
}

.aside-title {
    border-bottom: 1px solid #ccc;
    /*background-color: #efefef;*/
    padding: 5px;
}

.aside-content {
    margin: 5px;
}

.aside-content ul {
    margin: 0px;
    padding: 0px;
}

.aside-content li {
    display: block;
    width: 100%;
}

.aside-content li:hover {
    background-color: #eee;
    cursor: pointer;
}

/** 颜色属性 **/
.red {
    color:red;
}

.xnote-done {
    color: #aaa;
}

.small-device {
    display: none;
}

/** 消息 **/
.message-row {
    float: left;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/** 插件 **/
.plugin-item {
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    min-height: 48px;
}

.grid-card, .card, .box {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.x-photo {
    cursor: pointer;
}

/** 移动端样式放在最后 **/
@media screen and (max-width: 950px) {
    /** mobile **/

    .root {
        left: 0px;
        right: 0px;
    }

    .x-body {
        /*top: 80px;*/
    }

    .search-box {
        width: 100%;
    }

    .main-content {
        width: 100%;
        padding-right: 0px;
    }

    .aside {
        width: 100%;
        padding: 0px;
        margin-left: 0px;
    }

    .small-device {
        display: inherit;
    }

    .grid-item {
        width: 50%;
    }

    .mobile-hidden {
        display: none;
    }
}


