/**
 * 卡片主题的样式
 * @author xupingmao
 * @since 2017/12/16
 * @modified 2020/01/30 10:00:30
 */

body {
    background-color: #eee;
}

.root {
    background-color: transparent;
    padding: 0px;
    width: 1000px;
}

.nav {
    padding: 0px;
    background-color: transparent;
    border: none;
}

.x-body {
    padding: 0px;
}

.main-content {
    padding: 0px;
}

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, .inline-btn, [type=submit], [type=button], button {
    border-radius: 3px;
}

.tag {
    border-radius: 0px;
}

.red-tag {
    border-radius: 2px;
}

.orange-tag {
    border-radius: 2px;
}

.tag-span {
    border-radius: 2px;
}

.note {
    border-radius: 5px;
}

.x-page-link {
    border-radius: 3px;
}

.bot-btn {
    border-radius: 5px;
}

.aside-item {
    border-radius: 5px;
}

/** 消息 **/
.message-row {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px #ccc;*/
}

/** 插件 **/
.plugin-item {
    background-color: #fff;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
}

.grid-title, .card-title, .card>h1,.card>h2,.card>h3,.card>h4 {
    background-color: #fff;
}

.plugin-head,.grid-card,.card, .box {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    /*border-radius: 5px;*/
    border: 1px solid #ccc;
    /*阴影不是很好看*/
    /*box-shadow: 0 0 5px #ccc;*/
}

.aside-item {
    box-shadow: 0 0 5px #ccc;
}

.aside-item {
    border: 1px solid #ccc;
    box-shadow: none;
}

/** 移动端样式放在最后 **/
@media screen and (max-width: 950px) {
    /** mobile **/

    .root {
        width: 100%;
    }
}

