/*
统一的样式库
@author xupingmao
@since 2017/12/16
@modified 2018/12/01 01:05:12
*/

.menu-link:hover {
    color: white;
    background-color: #08c;
    text-decoration: none;
    border-radius: 3px;
}


.main {
    background-color: transparent;
    padding: 0px;
}

.nav {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0px 5px;
    border-bottom: 1px solid #ccc;
}

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, [type=submit], [type=button], button {
    border-radius: 3px;
}

.tag {
    border-radius: 0px;
}

.red-tag {
    border-radius: 2px;
}

.orange-tag {
    border-radius: 2px;
}

.tag-span {
    border-radius: 2px;
}

.note {
    border-radius: 5px;
}

.x-page-link {
    border-radius: 3px;
}

.bot-btn {
    border-radius: 5px;
}

.aside-item {
    border-radius: 5px;
}

/** 消息 **/
.message-row {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

/** 插件 **/
.plugin-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grid-title {
    background-color: #fff;
}

.plugin-head,.grid-card,.card {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

