/**
 * 卡片主题的样式
 * @author xupingmao
 * @since 2017/12/16
 * @modified 2021/12/04 12:58:15
 * @filename common-card.css
 */

body {
    background-color: #eee;
}

.x-body {
    padding: 0px;
}

.main-content {
    padding: 0px;
    background-color: transparent;
}

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, .inline-btn, [type=submit], [type=button], button {
    border-radius: 3px;
}

.tag-span {
    border-radius: 2px;
}

.note {
    border-radius: 5px;
}

.x-page-link {
    border-radius: 3px;
}

.bot-btn {
    border-radius: 5px;
}

.aside-item {
    border-radius: 5px;
}

/** 消息 **/
.message-row {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px #ccc;*/
}

/** 插件 **/
.plugin-item {
    background-color: #fff;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
}

.card-title, .grid-title, .card>h1,.card>h2,.card>h3,.card>h4 {
    background-color: #fff;
    font-weight: bold;
    border-left: none;
    line-height: 32px;
}

.card, .plugin-head,.grid-card, .box {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    word-break: break-all;
    word-wrap: break-word;
    /*border: 1px solid #ccc;*/
    /*阴影不是很好看*/
    /*box-shadow: 0 0 5px #ccc;*/
}

.aside-item {
    box-shadow: 0 0 5px #ccc;
}

.aside-item {
    border: 1px solid #ccc;
    box-shadow: none;
}

/** 移动端样式放在最后 **/
@media screen and (max-width: 800px) {
    /** mobile **/
    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

