/**
 * 通用的CSS样式
 * @author xupingmao
 * @since 2017/12/16
 * @modified 2020/02/02 14:51:39
 */

/** marked 样式 **/
.marked-heading {
    /* 避免顶部fixed菜单遮挡 */
    padding-top: 50px;
    margin-top: -40px;
    font-family: "Microsoft YaHei", "黑体";
}

.marked-img {
    text-align: center;
}

.marked-contents {
    width: 100%;
    float: left;
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 10px;
}

.marked-contents h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.marked-code {
    background: #ffd;
    padding: 0.5rem;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0px;
}

.marked-strong {
    color: red;
}

.marked-strong>a {
    color: red;
}

/** 标题样式 **/
.heading {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    display: block;
    float: left;
    width: 100%;
    font-size: 16px;
    background: #eee;
    border-left: 5px solid #039BE5;
}

/** label **/
.label {
    display: inline-block;
    width: 100px;
}

.button-link {
    text-decoration: none;
    cursor: pointer;
}

.button-link:hover {
    background: #ccc;
}

.link {
    /*color: #37a; */
    color: #08c;
    margin-right: 5px;
    cursor: pointer;
}

.link2 {
    color: black;
    margin-right: 5px;
    cursor: pointer;
}

.link2:hover {
    color: gray;
}

.path-link {
    line-height: 28px;
}

.danger-link {
    color: red;
}

.selected-link {
    /*border-bottom: 2px solid red;*/
    color: red;
}

/* 高对比度link */
.contract-link {
    display: inline-block;
    color: #08c;
    line-height: 20px;
    float: left;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
}

.contract-link:hover {
    color: white;
    background-color: #08c;
    text-decoration: none;
}

/* 菜单的链接样式 */
.menu-link {
    color: black;
    padding: 3px;
}

.menu-link:hover {
    /*color: white;*/
    /*background-color: #08c;*/
    /*text-decoration: none;*/
    text-decoration: underline;
}

/* TAB页的链接样式 */
.tab-link, .x-tab {
    float: left;
    padding: 2px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #ccc;
}

.tab-link:hover, .x-tab:hover {
    color: #000;
}

.tab-link-active {
    color: #000;
}


/** 按钮样式 **/

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, [type=submit], [type=button], button, .inline-btn {
    display: inline-block;
    -webkit-appearance: none; /* 消除IOS默认的按钮样式 */
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    padding: 3px 7px 3px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

.btn:hover, .inline-btn:hover, button:hover, [type=submit]:hover, [type=button]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
    text-decoration: none;
}

.btn-default, .btn-cancel {
    color: black;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-default:hover, .btn-cancel:hover {
    color: black;
    background-color: #ccc;
}

.btn-danger {
    background-color: #f00;
    border-radius: 3px;
}

.btn-danger:hover {
    background-color: #c00;
}

.btn-line-height {
    line-height: 32px;
}

.inline-btn {
    margin-top: 0px;
    border-radius: 3px;
}

.prompt-btn:hover {
    cursor: pointer;
}

/** 表格 **/
.no-border-table td {
    border: none;
}

.table {
    width: 100%;
}

.table th{
    border-color: #ccc;
    text-align: left;
}

.table td {
    border-color: #ccc;
    word-wrap: break-word;
    word-break: break-all;
}

/*
.table tr:hover td {
    background: none;
}

.table tr:hover {
    background: #eee;
}
*/

.row-no, .index-td {
    width: 50px;
}

.hover-tr:hover td {
    background: none;
}

.hover-tr:hover {
    background-color: #eee;
}

.line-td {
    border-top: none;
    border-left: none;
    border-right: none;
}

/** 列表样式 **/
.list-item {
    float: left;
    width: 100%;
    cursor: pointer;
}

.list-item:hover {
    background-color: #eee;
}

/** 以下为具体场景下的样式 **/
.menu-selected {
    background: #0088cc;
    color: #fff;
}

/** 侧边栏样式 **/
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.hide, .hidden {
    display: none;
}

.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}

.xnote-menu {
    padding-left:0;
}

li.menu-item {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.menu-active {
    padding-bottom: 3px;
    border-style: solid;
    border-color: #99cc33;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
}

li.menu-item a {
    text-decoration: none; 
    color: #fff;
}

li.menu-item a:hover {
    background-color: inherit;
}

li.menu-item:hover {
    background-color: #777;
}

/** base START **/

.header {
  width: 100%;
  background-color: #eee;
  position: fixed;
  left: 0px;
  top: 0px;
}


.root {
    padding-bottom: 10px;
    width: 1000px;
    height: 100%;
    overflow: hidden;
    margin-left: 0px;
    background-color:#fff; 
    margin: 0 auto;
}

.nav {
    float: left;
    width: 100%;
    padding: 0px 10px;
    background-color: #fff;
    border-bottom: 5px solid orange;
}

.nav-left {
    display: none;
}

.x-center {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.x-left {
    display: none;
}

.x-body {
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
    /*padding: 0px 10%;*/
}

.footer {
    display: none;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: blue;
    background-color: #fff;
}

.nav-top {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.nav-top * {
  margin: 0px;
  padding: 0px;
  color: black;
}

.nav-top h1 {
  font-family: "monospace Consolas";
}

.nav-top ul {
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.nav-top li {
  display: block;
  float: left;
  padding: 5px;
}

.nav-left-search {
    float: left;
    padding: 10px;
    display: none;
    padding-bottom: 0px;
}

.nav-search-input {
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 5px;
    padding-right: 30px;
    float: left;
    display: block;
    border: 1px solid #ccc;
}

.nav-search-btn {
    float: left;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    margin-top: 0px;
    border-radius: 0px;
}

.search-box {
    width: 345px;
    float: right;
    padding: 5px 0px;
}

.navMenu-top { 
  padding: 10px; 
  color: #fff; 
  border-bottom: 1px solid rgba(255,255,255,.1) 
}

.notice {
    border: 1px solid #ccc;
    background-color: #cef2e0;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
}

.form-control {
    width: 100%;
}

/** Tags **/
.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 0px;
    padding: 3px;
    margin-right: 2px;
}

.tag-link {
    text-decoration: none;
    color: white;
}

.tag-link:hover {
    background-color: initial;
    text-decoration: underline;
}

.inline-tag {
    display: inline-block;
    padding: 2px;
}

.pink-tag {
    background-color: pink;
}

.red-tag {
    font-size: small;
    background-color: red;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.orange-tag {
    font-size: small;
    background-color: orange;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.gray-tag {
    color: #000;
    background-color: #eee;
}

.tag-span {
    display: block;
    float: left;
    font-size: small;
    line-height: 20px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tag-span:hover {
    background-color: #eee;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}

.x-page-link {
    border: 1px solid #ccc;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}
.x-page-active {
    background-color: red;
}

/** file-list样式 END **/

.green-text {
    color: green;
}

.green-bg {
    color: #fff;
    background-color: green;
}

.red-bg {
    background-color: red;
}

.red-text {
    color: #f00;
}

.blue-text {
    color: #00f;
}

.center-text {
    text-align: center;
}

.gray-text {
    color: #ccc;
}

.error {
    padding: 5px;
    background-color: #f2dede;
    margin: 0px;
}

.warn {
    margin: 0px;
    padding: 5px;
    background-color: #ffc;
}

.info {
    padding: 5px;
    background-color: #C1FFC1;
    margin: 0px;
}

.success {
    padding: 5px;
    margin: 0px;
    background-color: #cf9;
}

.x-dialog {
    display: none;
    position: fixed;
    margin: 0 auto;
    background-color: #fff;
    z-index: 100;
    overflow-y: hidden;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #214FA3;
    color: #fff;
    padding: 5px;
    cursor: move;
    height: 36px;
    line-height: 26px;
}

.x-dialog-body {
    float: left;
    width: 100%;
    overflow-y: auto;
}

.x-dialog-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.x-dialog-ajax {
    display: block;
}

.x-dialog-close {
    background-color: red;
    float: right;
    border: none;
    margin-top: 0px;
    border: 1px solid transparent;
}

.x-dialog-close:hover {
    border: 1px solid black;
}

.dialog-close-btn {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
}

.dialog-close-btn:hover {
    background-color: red;
}

.dialog-title-btn {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
}

.dialog-title-btn:hover {
    background-color: gray;
}


.dialog-title {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #3c3333
}

.dialog-iframe {
    float: left;
    width: 100%;
    height: 100%;
    border: none
}


.no-border tr td {
    border: none;
}

.input-group {
    float:left;
    width:100%;
    padding-bottom:5px;
    height: 40px;
    max-width: 700px;
}

#searchBox {
    margin-bottom: 5px;
}

.search-input {
    float: left;
    height:40px;
    padding-left: 10px;
    padding-right: 40px;
    width: 100%;
    max-width: 500px;
    outline: none;
    box-sizing: border-box;
}

.search-btn {
    float: left;
    right: 10px;
    background: #355380; 
    color: #fff; 
    border: none;
    border-radius:0px;
    /*max-width:25%;*/
    width: 40px;
    height: 40px;
    margin-left: -40px;
}

.item-option {
    color: #aaa;
    cursor: pointer;
    font-size: 12px;
}

.item-option:hover {
    color: #000;
    background: none;
    text-decoration: underline;
}

.fs-path {
    float: left;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #eee;
}

.fs-file {
    color: black;
    cursor: pointer;
}

.fs-folder {
    color: blue;
}

/** 知识库列表样式 **/
#fileTable td {
    border-top: none;
    border-left: none;
    border-right: none;
}

.group-link {
    color: #08c;
}

.grid-title, .card-title {
    width: 100%;
    float: left;
    padding-left: 5px;
    border-left: 5px solid #039BE5;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: arial,"Sim Sun";
    font-size: 14px;
    font-weight: normal;
    overflow: initial;
}

.card-title-2 {
    padding: 5px;
    margin: 0px;
    background-color: #eee;
}

.grid-row {
    width: 100%;
    float: left;
}

.grid-link {
    display: block;
    float: left;
    width: 220px;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
}

.grid-link:hover {
    background: #eee;
}

.grid-item {
    width: 20%;
    padding: 5px;
    /*margin: 5px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    line-height: 25px;
}

.group-div {
    width: 220px;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    float: left;
    line-height: 25px;
}

.group-div:hover {
    background-color: #eee;
}

.children-count {
    float: right;
}

.note-link {
    color: #08c;
}

.scroll-y {
    overflow-y: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.small-font {
    font-size: small;
}

.code {
    font-family: Consolas, monospace;
}

.nav-ul {
    display: block;
    float: left;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    line-height: 40px;
}

.nav-ul li {
    padding-right: 5px;
    display: block;
    float: left;
}

.pagenation {
    width: 100%;
    float: left;
}

.keyword {
    color: blue;
}

.output-title {
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-top: 5px;
}

.output-body {
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #eee;
    box-sizing: border-box;
    margin: 0px;
    border-top: none;
    font-family: consolas, monospace;
}


.bot-btn {
    position: fixed;
    bottom: 50px;
    width: 50px;
    height: 40px;
    font-size: 14px;
    background-color: #00c1de;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    z-index: 100;
    opacity: 0.8
}

.border {
    border: solid 1px #ccc;
}

.main-content {
    float: left;
    width: 100%;
    min-height: 20px;
    padding: 10px;
}

.aside {
    float: left;
    width: 220px;
    margin-left: -220px;
    display: none;
}

.aside-item {
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.aside-item li {
    list-style: none;
    line-height: 20px;
}

.aside-title {
    border-bottom: 1px solid #ccc;
    /*background-color: #efefef;*/
    padding: 5px;
}

.aside-content {
    margin: 5px;
}

.aside-content ul {
    margin: 0px;
    padding: 0px;
}

.aside-content li {
    display: block;
    width: 100%;
}

/** 颜色属性 **/
.red {
    color:red;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.xnote-todo {
    background-color: orange;
}

.xnote-done {
    color: #aaa;
}

.small-device {
    display: none;
}

.grid-card, .card, .box {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.transparent-card {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.x-photo {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    margin-right: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    left: -67px;
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-option {
    padding: 8px;
    margin: 0px;
    color: black;
    font-weight: bold;
    display: block;
}

.dropdown-option:hover {
    background-color: #09f;
    color: white;
}

.dropdown-option-red {
    padding: 8px;
    margin: 0px;
    color: red;
    font-weight: bold;
    display: block;
}

.dropdown-option-red:hover {
    background-color: #09f;
    color: red;
}

.icon {
    width: 16px;
    height: 16px;
}

.icon-check {
    margin: 0px;
}

.icon-next, .icon-right {
    display: block;
    background-image: url(/static/image/icon_right.png);
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-folder-system {
    display: inline-block;
    background-image: url(/static/image/icon_folder_settings.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

.icon-script {
    display: block;
    margin-right: 3px;
    float: left;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-image: url(/static/image/icon_script.svg);
}

.icon-dict {
    display: block;
    margin-right: 3px;
    margin-top: 4px; /* line-height是25px */
    float: left;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-image: url(/static/image/icon_dict.svg);
}

.mobile-only {
    display: none;
}

.no-outline {
    outline: none;
}

.mobile-hidden {
    display: block;
}

.desktop-only {
    display: block;
}

.desktop-only-inline {
    display: inline-block;
}

/** 移动端样式放在最后 **/
@media screen and (max-width: 950px) {
    /** mobile **/

    .root {
        left: 0px;
        right: 0px;
        width: 100%;
    }

    .x-body {
        /*top: 80px;*/
    }

    .nav {
        border: none;
    }

    /* 移动端菜单样式 */
    .menu-box, .nav-ul {
        width: 100%;
    }

    .nav-ul li {
        width: 25%;
        text-align: center;
    }

    .search-box {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .aside {
        width: 100%;
        padding: 0px;
        margin-left: 0px;
    }

    .aside li {
        float: left;
        width: auto;
        padding-right: 5px;
        width: 25%;
    }

    .small-device {
        display: inherit;
    }

    .grid-item {
        width: 50%;
    }

    .mobile-hidden {
        display: none;
    }

    .plugin-item {
        width: 100%;
        margin-left: 0px;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only, .desktop-only-inline {
        display: none;
    }
}


/* 高优先级样式 */
.col-md-1{float:left;width:8.3%;}
.col-md-2{float:left;width:16.7%;}
.col-md-3{float:left;width:25%;}
.col-md-4{float:left;width:33.3%;}
.col-md-5{float:left;width:41.7%;}
.col-md-6{float:left;width:50%;}
.col-md-7{float:left;width:58.3%;}
.col-md-8{float:left;width:66.7%;}
.col-md-9{float:left;width:75%;}
.col-md-10{float:left;width:83.3%;}
.col-md-11{float:left;width:91.7%;}
.col-md-12{float:left;width:100%;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66666666666666%;}
.col-md-offset-10{margin-left:83.33333333333334%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66666666666666%;}
.col-md-offset-7{margin-left:58.333333333333336%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66666666666667%;}
.col-md-offset-4{margin-left:33.33333333333333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.666666666666664%;}
.col-md-offset-1{margin-left:8.333333333333332%;}
.col-md-offset-0{margin-left:0;}
.top-offset-1{margin-top:5px;}
.top-offset-2{margin-top:10px;}
.bottom-offset-1{margin-bottom:5px;}
.row{float: left;width: 100%;overflow: auto;}
.pad10 {padding: 10px;}


