* {
    box-sizing: border-box;
}

body {
    /*background-color: #f0f0f0;*/
    /*font-family: "Open Sans Light",Helvetica,arial,sans-serif;*/
    font: 14px "微软雅黑", "Open Sans Light", Helvetica, "Arial Narrow", HELVETICA; 
    -webkit-text-size-adjust: 100%; 
    margin: 0; 
    padding: 0;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.marked-pre {
    background: #eee;
    padding: 0.5em;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.marked-strong {
    color: red;
}

a {
    font-size: 15px;
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
}

a:hover {
    text-decoration: underline;
}

/** 不能指定input[type=button]不然会覆盖其他class样式 **/
.btn, [type=submit], [type=button], button {
    -webkit-appearance: none; /* 消除IOS默认的按钮样式 */
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 1px;
    text-decoration: none;
    margin-top: 5px;
}

.btn:hover, button:hover, [type=submit]:hover, [type=button]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
}

.btn-danger {
    background-color: red;
}

.btn-danger:hover {
    background-color: red;
}

.btn-cancel {
    background-color: red;
}

.prompt-btn:hover {
    cursor: pointer;
}

p,li,a {
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

h1,h2,h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif
}

blockquote {
    font-style: italic;
}

/** 表格相关 **/

table {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #ccc;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #ffffff;
}

.no-border-table td {
    border: none;
}

.table {
    width: 100%;
}

.table th{
    border-color: #ccc;
}

.table td {
    border-color: #ccc;
}

.table tr:hover td {
    background: none;
}

.table tr:hover {
    background: #eee;
}

.row-no, .index-td {
    width: 50px;
}

.hover-tr:hover td {
    background: none;
}

.hover-tr:hover {
    background-color: #eee;
}

.menu-selected {
    background: #0088cc;
    color: #fff;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.hide {
    display: none;
}

.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}

/** 笔记列表样式 **/
.note-head {
    font-size: 20px;
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.xnote-menu {
    padding-left:0;
}

li.menu-item {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.menu-active {
    padding-bottom: 3px;
    border-style: solid;
    border-color: #99cc33;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
}

li.menu-item a {
    text-decoration: none; 
    color: #fff;
}

li.menu-item a:hover {
    background-color: inherit;
}

li.menu-item:hover {
    background-color: #777;
}

/** 宽度样式 **/

.col-md-1 {
    float: left;
    width: 8.3%;
    /*min-width: 200px;*/
}

.col-md-2 {
    float: left;
    width: 16.7%;
}

.col-md-3 {
    float: left;
    width: 25%;
}

.col-md-4 {
    float:left;
    width: 33.3%;
}

.col-md-5 {
    float: left;
    width: 41.7%;
}

.col-md-6 {
    float: left;
    width: 50%;
}

.col-md-7 {
    float: left;
    width: 58.3%;
}

.col-md-8 {
    float: left;
    width: 66.7%;
}

.col-md-9 {
    float: left;
    width: 75%;
}

.col-md-10 {
    float: left;
    width: 83.3%;
}

.col-md-11 {
    float: left;
    width: 91.7%;
}

.col-md-12, .row {
    float: left;
    width: 100%;
}

.col-md-offset-12 {  margin-left: 100%;}
.col-md-offset-11 {  margin-left: 91.66666666666666%;}
.col-md-offset-10 {  margin-left: 83.33333333333334%;}
.col-md-offset-9 {  margin-left: 75%;}
.col-md-offset-8 {  margin-left: 66.66666666666666%;}
.col-md-offset-7 {  margin-left: 58.333333333333336%;}
.col-md-offset-6 {  margin-left: 50%;}
.col-md-offset-5 {  margin-left: 41.66666666666667%;}
.col-md-offset-4 {  margin-left: 33.33333333333333%;}
.col-md-offset-3 {  margin-left: 25%;}
.col-md-offset-2 {  margin-left: 16.666666666666664%;}
.col-md-offset-1 {  margin-left: 8.333333333333332%;}
.col-md-offset-0 {  margin-left: 0;}

.top-offset-1 { margin-top: 1em; }
.top-offset-2 { margin-top: 2em; }

.bottom-offset-1 { margin-bottom: 1em; }


/** base START **/

.header {
  width: 100%;
  background-color: #eee;
  position: fixed;
  left: 0px;
  top: 0px;
}

.nav-top {
  /*background-color: #9cc;*/
  /* background-color: black; */
  width: 100%;
  float: left;
  margin-top: 40px;
}

.nav-top * {
  margin: 0px;
  padding: 0px;
  color: black;
  /* color: white; */
}

.nav-top h1 {
  font-family: "monospace Consolas";
}

.nav-top ul {
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.nav-top li {
  display: block;
  float: left;
  padding: 5px;
}

.nav-search-box {
    /*position: fixed;*/
    /*z-index: 10000;*/
    float: left;
    width: 100%;
    background-color: #9cc;
    margin-bottom: 10px;
}

.nav-search-input {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 30px;
    outline: none;
    padding-left: 5px;
}

.nav-search-btn {
    height: 30px;
}


.main {
  /*padding-top: 10px;*/
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin-left: 0px;
}

.footer {
  float: left;
  width: 100%;
  height: 100px;
}

.x-center {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.navMenu-top { 
  padding: 10px; 
  color: #fff; 
  border-bottom: 1px solid rgba(255,255,255,.1) 
}

#toggleMenuBtn {
    padding: 3px;
    border-style: solid;
    background: lightblue;
}

.notice {
    border: 1px solid #ccc;
    background-color: #cef2e0;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
}

/** base END **/

.form-control {
    width: 100%;
}

/** color **/

.red {
    color:red;
}

.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.orange-tag {
    font-size: small;
    background-color: orange;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.gray-tag {
    font-size: small;
    background-color: #eee;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}


.tag-span {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 3px;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}


.tag-link {
    text-decoration: none;
    color: white;
}
.tag-link:hover {
    background-color: initial;
    text-decoration: underline;
}

.button-link {
    text-decoration: none;
    cursor: pointer;
}
.button-link:hover {
    background: #ccc;
}

.link {
    /* color: #37a; */
    color: #08c;
    margin-left: 5px;
    cursor: pointer;
}

/** file-list样式 **/
.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}
.note {
    float: left;
    border: solid 1px;
    border-color: #ccc;
    box-sizing: border-box; 
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
}
.note-body {
    padding: 10px;
}

.note-head {
    font-size: 20px;
}

.note-name {
    /*font-size: 20px;*/
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-modify-time,
.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
}

.red-tag {
    font-size: small;
    background-color: red;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.x-page-link {
    border: 1px solid #ccc;
    text-decoration: none;
    /*padding:2px;*/
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}
.x-page-active {
    background-color: red;
}

/** file-list样式 END **/

.green-text {
    color: green;
}

.green-bg {
    color: #fff;
    background-color: green;
}

.red-bg {
    background-color: red;
}

.red-text {
    color: #f00;
}

.blue-text {
    color: #00f;
}

.error {
    color: red;
}

.x-dialog {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 80px;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
}

.x-dialog-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.x-dialog-ajax {
    display: block;
}

.x-dialog-close {
    background-color: red;
    float: right;
    border: none;
    margin-top: 0px;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
}

.no-border tr td {
    border: none;
}


.tab-link {
    float: left;
    padding: 2px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #ccc;
}
.tab-link:hover {
    color: #000;
}
.tab-link-active {
    color: #000;
}

.input-group {
    float:left;
    width:100%;
    padding-bottom:5px;
    height: 40px;
    max-width: 700px;
}

#searchBox {
    margin-bottom: 5px;
}

.search-input {
    float: left;
    height:40px;
    padding-left: 10px;
    padding-right: 40px;
    width: 100%;
    max-width: 500px;
    outline: none;
    box-sizing: border-box;
}

.search-btn {
    float: left;
    right: 10px;
    background: #355380; 
    color: #fff; 
    border: none;
    border-radius:0px;
    /*max-width:25%;*/
    width: 40px;
    height: 40px;
    margin-left: -40px;
}

.item-option {
    color: #aaa;
    cursor: pointer;
    font-size: small;
}
.item-option:hover {
    color: #000;
    background: none;
    text-decoration: underline;
}

.fs-path {
    padding: 5px;
    box-sizing: border-box;
    background-color: #eee;
}

/** 知识库列表样式 **/
#fileTable td {
    border-left: none;
    border-right: none;
}

.group-link {
    color: #08c;
}

.grid-title {
    width: 100%;
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 5px solid #039BE5;
    background: #efefef;
}

.grid-row {
    width: 100%;
    float: left;
}

.grid-item {
    width: 220px;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    line-height: 25px;
}

.grid-item:hover {
    background-color: #eee;
}

.group-div {
    width: 220px;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    float: left;
    line-height: 25px;
}

.group-div:hover {
    background-color: #eee;
}

.children-count {
    float: right;
}

.note-link {
    color: #08c;
}

.scroll-y {
    overflow-y: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.small-font {
    font-size: small;
}

.nav-ul {
    display: block;
    list-style: none;
    padding-left: 0px;
}

.nav-ul li {
    padding-right: 10px;
    display: block;
    float: left;
}

.nav-ul a {
    color: black;
}
