/**
 * 侧边栏主题样式
 * @author xupingmao
 * @since 2019/06/18
 * @modified 2019/11/21 12:44:13
 */

body {
    background-color: #fff;
}

.root {
    padding-left: 200px;
    width: 100%;
    margin-left: 0px;
    max-width: none;
}

.nav {
  display: none;
}

.x-left {
    display: block;
}

.x-body {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    width: auto;
    padding: 0px;
}

.main-content {
    padding: 10px;
}

.nav-left-search {
    display: block;
    width: 100%;
}

.aside {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    margin-left: 0px;
    border-left: 1px solid #ccc;
    overflow: auto;
    display: block;
}

.aside-item {
    border: none;
}

.nav-left { 
    position: absolute;
    display: block;
    width: 200px;
    /*background: #1c2229; */
    border-right: 1px solid #ccc;
    background: #eee;
    height:100%; 
    float: left;
    top: 0px;
    left: 0px;
    text-align: left;
}

.nav-left-inner-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navMenu {
    padding-left: 0px;
}

.navMenu> li { 
    display: block; 
    margin: 0; 
    padding: 0; 
    border: 0px; 
}

.navMenu>li>a { 
    display: block;
    overflow: hidden; 
    padding-left: 0px; 
    line-height: 30px; 
    transition: all .3s; 
    position: relative; 
    text-decoration: none; 
    /*font-size: 16px; */
    padding-left: 15px;
}

.navMenu > li:nth-of-type(1)> a { 
    border-top: 1px solid transparent; 
}

.navMenu > li:last-child > a { 
    border-bottom: 1px solid transparent; 
}

.navMenu>li>a>i { 
    font-size: 16px; 
    float: left; 
    font-style: normal; 
    margin: 0 5px; 
}

.navMenu li a .arrow:before { 
    display: block; 
    float: right; 
    margin-top: 1px; 
    margin-right: 15px; 
    display: inline; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    height: auto; 
    font-weight: 300; 
    text-shadow: none; 
}

.navMenu li a .arrow.open:before { 
    float: right; 
    margin-top: 1px; 
    margin-right: 15px; 
    display: inline;
    height: auto; 
    font-size: 16px; 
    content: "-";
    font-weight: 300; 
    text-shadow: none; 
}

.navMenu>li>a.active, .navMenu>li>a:hover { 
    /*color: #FFF; */
    /*background: #666; */
    text-decoration: underline;
    background-color: #ddd;
}

.navMenu>li>ul.sub-menu, .navMenu>li>ul.sub-menu>li>ul.sub-menu { 
    list-style: none; 
    clear: both; 
    margin: 8px 0px 0px 10px; 
    padding-bottom: 5px; 
}

.navMenu>li>ul.sub-menu li { 
    background: none; 
    margin: 0px; 
    padding: 0px; 
}

.navMenu>li>ul.sub-menu li>a { 
    display: block; 
    font-size: 16px; 
    line-height: 30px; 
    padding-left: 20px; 
    color: #ABB1B7; 
    clear: both; 
}

.navMenu>li>ul.sub-menu li>a.active, .navMenu>li>ul.sub-menu li>a:hover, .navMenu>li>ul.sub-menu>li.active >a { 
    color: #FFF; 
    background: #12181b; 
}


@media screen and (max-width: 950px) {
    .nav-left {
        display: none;
    }

    .nav-left-search {
        display: none;
    }

    .root {
        padding-left: 0px;
    }

    .nav {
      display: block;
    }

    .x-left {
        display: none;
    }

    .x-body {
        position: static;
        width: 100%;
        float: left;
    }

    .main-content {
        width: 100%;
        /*padding-right: 0px;*/
    }

    .aside {
        display: none;
    }
}
