body {
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,sans-serif;
}

body, td, input, button {
    font-size: 1.6rem;
}


img {
    width:20px;
    height:20px;
}

.mid-text {
    
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #0080CC;
}


.header {
    margin-left:30px;
}

.fs-div {
    margin-left:30px;
}

.header input[type=text] {

}

.header button {

}