body {
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,sans-serif;
}

img {
    width:20px;
    height:20px;
}

.hidden {
    display:none;
}

/*.nav {
    font-size: 20px;
    font-family: Verdana, Helvetica, arial, sans-serif;
}
*/
.mid-text {
    
}
/** 
 * a:visited, 
 * a:hover, mouse move on;
 * a:link
 * a:active
 **/
a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #0080CC;
}


.header {
    margin-left:30px;
}

.fs-div {
    margin-left:30px;
}

.header input[type=text] {

}

.header button {

}