/**
 * 笔记的CSS样式
 * @author xupingmao
 * @since 2019/11/24
 * @modified 2022/03/16 18:52:34
*/


/** note-list样式 **/
.note-list>a:last-child>.book-item {
    border-bottom: none;
}

.book-list>a:last-child>.book-item {
    border-bottom: none;
}

.card>.book-item:last-child {
    border-bottom: none;
}

.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}

.note {
    float: left;
    border: solid 1px;
    border-color: #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
}

.note-body {
    padding: 5px;
    word-break: break-all;
}

.note-head {
    font-size: 20px;
}

.note-head-info {
    padding: 5px;
    background-color: #eee;
    color: #555;
    margin: 0px;
}

.note-name {
    /*font-size: 20px;*/
    line-height: 25px;
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-title {
    width: 100%;
    float: left;
}

.note-info {
    width: 100%;
    float: left;
}

.note-info span {
    display: inline-block;
    padding-top: 2px;
}

.note-time {
    font-size: 12px;
    color: #aaa;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-modify-time,
.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}


/** 笔记样式 **/
.note-head {
    font-size: 20px;
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-detail-head {
    float: left;
    width: 100%;
    padding: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
}

.note-detail-foot {
    float: left;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

/** 评论 **/
.comment-row {
    width: 100%;
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-user {
    float: left;
    font-weight: bold;
}

.comment-foot {
    float: left;
    width: 100%;
}

.comment-foot>.comment-foot-link {
    color: #08c;
}

.comment-time {
    float: right;
    font-size: 12px;
    color: #555;
}

.comment-content {
    float: left;
    width: 100%;
    padding: 10px;
}

.book-item {
    width: 100%;
    padding: 10px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    line-height: 25px;
    border-bottom: 1px solid #eee;
}

.book-item:hover {
    background-color: #efefef;
}

.book-size {
    float: right;
    color: black;
}

.book-size-span {
    color: #888;
}

.nav-book-size-span {
    color: #888;
    float: right;
}

/** group select **/

.group-select-search {
    float: left;
    width: 100%;
    padding: 5px;
}

.group-select-header {
    width: 100%;
    padding: 5px;
    margin: 0px;
    background-color: #eee;
    /*float: left;*/
    /*display: block;*/
}

.group-select-size {
    float: right;
    color: #ccc;
}

.group-select-row {
    padding-left: 20px;
    margin: 14px 0px 14px 0px;
    padding-top: 0px;
    padding-right: 0px;
    /*float: left;*/
    /*width: 100%;*/
}
/** group select end **/

.dict-list-value {
    color: #000;
}

.share-dialog-row {
    padding-left: 20px;
}

.note-path {
    /*background-color: #eee;*/
    float: left;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}


.note-timeline-body {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.comment-source-info {
    float: left;
    line-height: 20px;
    padding: 5px;
}

.edit-comment-btn, .delete-comment-btn {
    color: black;
    background-color: #eee;
    border: 1px solid #ccc;
}

.delete-comment-btn {
    color: red;
}

/** markdown编辑的侧边菜单样式 **/
.note-sidebar-contents {
    float: left;
    width: 100%;
    height: 500px;
    overflow-y: auto;
}

.note-sidebar-contents>a[data-current] {
    color: red;
    font-weight: bold;
}

.sidebar-contents {
    max-height: 500px;
    overflow-y: auto;
}

.sidebar-contents .list-item {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-item.level-1 {
    padding-left: 5px;
}

.list-item.level-2 {
    padding-left: 25px;
}

.list-item.level-3 {
    padding-left: 45px;
}

.list-item.level-4, .list-item.level-5, .list-item.level-6, .list-item.level-7 {
    padding-left: 65px;
}

.sidebar-contents {
    font-weight: normal;
}

.note-header-span {
    line-height: 32px;
}

.things {
    padding-left: 20px;
}

#loadMore {
    text-align: center;
    width: 100%;
    float: left;
    color: blue;
}

/** markdown编辑的侧边菜单样式 END **/