/**
 * 插件的CSS样式
 * @author xupingmao
 * @since 2019/12/15
 * @modified 2021/08/03 23:47:06
*/

/** 插件 **/
.plugin-item {
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 32px;
}

.plugin-head {
    float: left;
    width: 100%;
}

.plugin-info {
    padding: 5px;
    background-color: #eee;
    color: #555;
}

.plugin-description {
    padding: 5px;
    background-color: #eee;
    color: #555;
    /*border-radius: 5px;*/
}


.plugin-right-box {
    float: right;
    line-height: 25px;
}

.plugin-right-span {
    color: #888;
}

.plugin-item.v2 {
    width: 33.33%;
    border: none;
}

/* mobile */
@media screen and (max-width: 600px) {
    .plugin-item.v2 {
        width: 50%;
    }
}