/**
 * 插件的CSS样式
 * @author xupingmao
 * @since 2019/12/15
 * @modified 2021/01/17 11:11:36
*/

/** 插件 **/
.plugin-item {
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 32px;
}

.plugin-head {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.plugin-info {
    padding: 5px;
    background-color: #eee;
    color: #555;
}

.plugin-description {
    padding: 5px;
    background-color: #eee;
    color: #555;
    border-radius: 5px;
}


.plugin-right-box {
    float: right;
    line-height: 25px;
}

.plugin-right-span {
    color: #888;
}