/**
 * 待办/随手记的样式
 * @author xupingmao
 * @since 2021/05/01 15:36:08
 * @modified 2022/04/11 21:27:08
 * @filename todo.css
 */

.todo-time {
    display: inline-block;
    padding: 2px;
    color: #888;
}


.todo-delete-btn {
    color: red;
}

.todo-delete-btn:hover {
    color: red;
}

.todo-content {
    margin-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
    float: left;
    width: 100%;
}

.todo-content blockquote {
    margin-bottom: 0px;
}

.todo-foot {
    float: left;
    width: 100%;
}

.todo-foot .btn, .todo-foot .btn-default {
    margin-top: 0px;
}

.todo-tag {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    background: #ccc;
    font-size: 12px;
    color: white;
}

.task-tag {
    padding: 3px;
    border-radius: 3px;
    background: orange;
    font-size: 12px;
    color: #fff;
}

.second-btn {
    margin-left: 50px;
}

.todo-comment {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.comment-line {
    background-color: #eee;
    width: 100%;
    float: left;
}

.comment-second a {
    margin-left: 50px;
} 


.todo-comment-row {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.todo-comment-row .time {
    color: #888;
}
