body {
    /*background-color: #f0f0f0;*/
    font-family: "Open Sans Light",Helvetica,arial,sans-serif;
}

.marked-pre {
    background: #eee;
    padding: 0.5em;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
}

a {
    font-size: 15px;
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

.x-center {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

a:hover {
    background-color: LightGrey;
}

/** 不能指定input[type=button]不然会覆盖其他class样式 **/
.btn, [type=submit], [type=button], button {
    -webkit-appearance: none; /* 消除IOS默认的按钮样式 */
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 1px;
    text-decoration: none;
}

.btn:hover, button:hover, [type=submit]:hover, [type=button]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
}

.btn-danger {
    background-color: red;
}

.btn-danger:hover {
    background-color: red;
}

.btn-cancel {
    background-color: red;
}

p,li,a {
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

h1,h2,h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif
}

blockquote {
    font-style: italic;
}

table {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #ccc;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
    background-color: #ffffff;
}

/** 标签样式结束 **/

.menu-selected {
    background: #0088cc;
    color: #fff;
}

.nav-sidebar {
    /*position: fixed;*/
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.xnote-main {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    width: 80%;
}

.hide {
    display: none;
}

.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}

.note-head {
    font-size: 20px;
}

.note-name {
    /*font-size: 20px;*/
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.xnote-menu {
    padding-left:0;
}

li.menu-item {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.menu-active {
    padding-bottom: 3px;
    border-style: solid;
    border-color: #99cc33;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
}

li.menu-item a {
    text-decoration: none; 
    color: #fff;
}

li.menu-item a:hover {
    background-color: inherit;
}

li.menu-item:hover {
    background-color: #777;
}

/** 宽度样式 **/

.col-md-1 {
    float: left;
    width: 8.3%;
    /*min-width: 200px;*/
}

.col-md-2 {
    float: left;
    width: 16.7%;
}

.col-md-3 {
    float: left;
    width: 25%;
}

.col-md-4 {
    float:left;
    width: 33.3%;
}

.col-md-5 {
    float: left;
    width: 41.7%;
}

.col-md-6 {
    float: left;
    width: 50%;
}

.col-md-7 {
    float: left;
    width: 58.3%;
}

.col-md-8 {
    float: left;
    width: 66.7%;
}

.col-md-9 {
    float: left;
    width: 75%;
}

.col-md-10 {
    float: left;
    width: 83.3%;
}

.col-md-11 {
    float: left;
    width: 91.7%;
}

.col-md-12 {
    float: left;
    width: 100%;
}

.col-md-offset-12 {  margin-left: 100%;}
.col-md-offset-11 {  margin-left: 91.66666666666666%;}
.col-md-offset-10 {  margin-left: 83.33333333333334%;}
.col-md-offset-9 {  margin-left: 75%;}
.col-md-offset-8 {  margin-left: 66.66666666666666%;}
.col-md-offset-7 {  margin-left: 58.333333333333336%;}
.col-md-offset-6 {  margin-left: 50%;}
.col-md-offset-5 {  margin-left: 41.66666666666667%;}
.col-md-offset-4 {  margin-left: 33.33333333333333%;}
.col-md-offset-3 {  margin-left: 25%;}
.col-md-offset-2 {  margin-left: 16.666666666666664%;}
.col-md-offset-1 {  margin-left: 8.333333333333332%;}
.col-md-offset-0 {  margin-left: 0;}

.top-offset-1 { margin-top: 1em; }
.top-offset-2 { margin-top: 2em; }

.bottom-offset-1 { margin-bottom: 1em; }

.form-control {
    width: 100%;
}

.table th{
    border-color: #ccc;
}

.table td {
    border-color: #ccc;
}

/** color **/

.red {
    color:red;
}

.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.tag-span {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 3px;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}


.tag-link {
    text-decoration: none;
    color: white;
}
.tag-link:hover {
    background-color: initial;
    text-decoration: underline;
}


/** file-list样式 **/
.tool-div {
    font-size: medium;
}

.tool-div a {
    font-size: medium;
    color: blue;
}

.tool-description {
    font-size: small;
    padding-top: 3px;
}
.note {
    float: left;
    border: solid 1px;
    border-color: #ccc;
    box-sizing: border-box; 
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
}
.note-body {
    padding: 10px;
}

.note-head {
    font-size: 20px;
}

.note-name {
    /*font-size: 20px;*/
}

.note-name a {
    font-size: medium;
    color: blue;
}

.note-content-short {
    font-size: small;
    word-break: break-all;
}

.note-last-modify-time,
.note-last-visit-time {
    padding-left: 2px;
    padding-top: 2px;
    font-size: small;
    color: green;
}

.note-related {
    font-size: 6px;
    padding-left: 5px;
    color: red;
    display: none;
}
.note-visited-cnt {
    float: right;
    font-size: small;
}

.tag {
    font-size: small;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
}

.red-tag {
    font-size: small;
    background-color: red;
    color: white;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.x-page-link {
    border: 1px solid #ccc;
    text-decoration: none;
    /*padding:2px;*/
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}
.x-page-active {
    background-color: red;
}

/** file-list样式 END **/

.green-text {
    color: green;
}

.green-bg {
    color: #fff;
    background-color: green;
}

.red-bg {
    background-color: red;
}

.red-text {
    color: #f00;
}

.blue-text {
    color: #00f;
}

.error {
    color: red;
}

.x-dialog {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 80px;
    background-color: #fff;
    z-index: 100;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
}

.x-dialog-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.x-dialog-ajax {
    display: block;
}

.x-dialog-close {
    background-color: red;
    float: right;
    border: none;
}

.x-dialog-title {
    margin: 0 auto;
    width: 100%;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
}

.no-border tr td {
    border: none;
}


.tab-link {
    float: left;
    padding: 2px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #ccc;
}
.tab-link:hover {
    color: #000;
}
.tab-link-active {
    color: #000;
}