
.mid-table {
    border:#000000 1px solid;
    border-collapse:collapse;
}

 .table-mid-tr {
    width:20rem;
}

.mid-table td, .table-mid-td {
    width:20rem;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCC;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCC;
	background-color: #ffffff;
    max-width: 500px;
}



