<!DOCTYPE html>
<html>
{% include common/base_head.html %}

{% init search_placeholder = "搜索或指令" %}
{% init search_action = "/search/search" %}
{% init warn = "" %}

<body>
    <div class="root">
        <!-- 导航/菜单栏 -->
        {% include common/base_nav.html %}

        <!-- 左侧侧边栏 -->
        <div class="x-left">
            {% block left_part %} {% end %}
        </div>

        <div class="x-body">
            <div class="nav-left-search">
                <form id="searchForm2" method="GET" action="{{search_action}}">
                    {% include common/search_box.html %}
                </form>
            </div>


            <div class="main-content">
                <div class="col-md-12">
                    {% if warn != "" and warn != None %}
                    <pre class="col-md-12 warn">
                        {{warn}}
                    </pre>
                    {% end %}
                    {% block body %} {% end %}
                </div>
            </div>
        </div>

        <!-- 右边的侧边栏 -->    
        <div class="aside">
            {% block aside %} {% end %}
        </div>
        <!-- Main Part End -->
        <div class="footer">
        </div>
    </div>

    <div class="x-dialog-background"></div>
    <div class="aside-background background"></div>
</body>
</html>
