{# 菜单 #}


{% if _nav_position == "top" %}

  <div class="xnote-menu col-md-12" style="display: block;/*position: fixed*/;background: #333;">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-10">
      {% if _has_login %}
        <li class="menu-item"><a href="/">首页</a></li>
        <li class="menu-item"><a href="/system/sys">系统</a></li>
        <li class="menu-item"><a href="/tools/date.html">日历</a></li>
        <!-- <li class="menu-item"><a href="/wiki/tools.md">功能</a></li> -->
      {% end %}

      {% if not _has_login %}
        <li class="menu-item"><a href="/login">登陆</a></li>
      {% else %}
        <li class="menu-item"><a href="/logout">登出</a></li>
      {% end %}

      <!--
      {% if _has_login and _user != None %}
        <span style="float: right;color: #fff;padding-top: 5px; padding-bottom: 5px;">Welcome,{{_user["name"]}}</span>
      {% end %}
      -->
      </div>
  </div>
  <div class="col-md-1" style="height: 100%;"></div>
<div class="col-md-10">
  <div class="row">
     {% block body %} {% end %}
  </div>
  <!-- Footer -->
  <div>
      <div class="col-md-12" style="height:50px;"></div>
  </div>
</div>

{% else %}

<div class="col-md-12">

  <div class="col-md-2">
      <div id="menu" style="margin-left: 0; margin-right: 1em; padding-top:20px; padding-bottom: 20px;">
      <ul id="nav-left">
      {% if _has_login %}

          {% for item in _menu_list %}
            <hr/>
            <li class="nav-header">{{item['title']}}</li>
            {% for link in item['children'] %}
              <li class="nav-item"><a href="{{link['url']}}">{{link["name"]}}</a></li>
            {% end %}
          {% end %}
          <hr/>
          <li class="nav-header">用户</li>
          <li class="nav-item" style="font-size: small;">{{_user["name"]}}</li>
          <li class="nav-item"><a href="/logout">登出</a></li>
      {% else %}
          <li class="nav-header">用户</li>
          <li class="nav-item"><a href="/login">登录</a></li>
      {% end %}
      </ul>
      </div>
  </div>

  <div class="row col-md-10">
     <div class="row">
        {% block body %} {% end %}
     </div>
    <!-- Footer -->
    <div class="col-md-12" style="height:50px;"></div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  // console.log(document.body.scrollHeight);
  // $("#menu").height(document.body.scrollHeight);
})
</script>
{% end %}

