{% extends base.html %}

{% block body %}

    <table class="table">
        <tr>
            <th>name</th>
            <th>type</th>
            <th>dflt_value</th>
            <th>notnull</th>
            <th>pk</th>
            <th>cid</th>
        </tr>
        {% for field in file_struct %}
        <tr>
            <td>{{field["name"]}}</td>
            <td>{{field["type"]}}</td>
            <td>{{field["dflt_value"]}}</td>
            <td>{{field["notnull"]}}</td>
            <td>{{field["pk"]}}</td>
            <td>{{field["cid"]}}</td>
        </tr>
        {% end %}
    </table>

    <script type="text/javascript">$("#menu-class").addClass("active");</script>
{% end %}