{% extends base %}
{% block body %}

    {% init error = "" %}

    <div class="card">
        <div class="card-title">
            <span>系统错误</span>
            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>

    {% if error != "" %}
        <div class="card">
            <pre class="col-md-12 error">
                {{error}}
            </pre>
        </div>
    {% end %}

{% end %}

{% block body_right %}
    {% include common/sidebar/default.html %}
{% end %}
