{% extends base.html %}

{% block head %}
    <!-- <link rel="stylesheet" href="/css/table.css"/> -->
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css"/>
{% end %}

{% block body %}
    {% include "search.html" %}
   <br/>
   <script type="text/javascript">$("#menu-file").addClass("active");</script>
   {% include "mod_file_list.html" %}

<script type="text/javascript" src="/static/lib/jquery.qrcode/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

{% end %}