{% extends base.html %}

{% block head %}
<style type="text/css">
    .panel {
        width: 100%;
    }
</style>
{% end %}

{% block body %}

{% set filelist = category %}

<div class="panel">
    <div class="">
       <a href="/file/add?key={{?key}}">增加资料</a>
       <a href="/file/recent_edit">最近编辑</a>
   </div>
</div>

<div class="panel">
    <h2>分类资料</h2>
    <hr/>
    {% include note/filelist.html %}
</div>

{% set filelist = recentlist %}
<div class="panel">
    <h2>最近访问</h2>
    <hr/>

    {% include note/filelist.html %}

</div>

<!-- <div class="panel">
    <h2>实用工具</h2>
    <hr/>
    <a href="/system/sys">系统信息</a>
</div> -->
<!-- <ul>
    <li><a href="/fs/C:/">文件系统C盘</a></li>
    <li><a href="/fs/D:/">文件系统D盘</a></li>
</ul> -->

{% end %}