{% extends base.html %}

{% block head %}
    <style>
    	table {
    		width: 100%;
    	}
    	tr td {
    		border: none;
    	}
    	input {
    		width: 100%;
    		min-width: 200px;
       	}
       	input {
       		padding: 12px 24px;
       	}
       	input[type=submit] {
       		padding: 12px 24px;
       		border: none;
       		background-color: lightblue;
       	}
    	input[type=submit]:hover {
    		background-color: #27A9E3;
    	}
    </style>
{% end %}

{% block body %}
    <div style="width:30%; min-width:200px; padding-top:15%; margin:0 auto;">
		<form method="POST">
			<input name="username" value="{{username}}" placeholder="Name"/>
			<input type="password" name="password" value="{{password}}" placeholder="Password"/>
			<input type="submit" value="Login" style="width:100%;margin-top:20px;"/>
      <label style="width:100%; color:red">{{error}}</label>
		</form>
	</div>
{% end %}