{% extends base.html %}

{% block head %}
    <style>
    	table {
    		width: 100%;
    	}
    	tr td {
    		border: none;
    	}
      .login-box {
        width:30%; 
        min-width:200px; 
        padding-top:10%; 
        margin:0 auto;
      }
    	.login-input {
  		  width: 100%;
  		  min-width: 200px;
        padding: 12px;
        border-radius: 0px;
     	}
     	.login-submit {
        padding: 12px 24px;
     		border-radius: 0px;
     		background-color: lightblue;
     	}
    	.login-submit:hover {
    		background-color: #27A9E3;
        border-radius: 0px;
    	}
      .input-header {
        padding-top: 3px;
        size: 14px;
      }
    </style>
{% end %}

{% block body %}
  
  {% if error != "" and error != None %}
    <div class="col-md-12 error">{{error}}</div>
  {% end %}

  <div class="login-box">
		<form id="loginForm" name="loginForm" method="POST">
      登录名
			<input class="login-input" type="text" name="username" value="{{username}}" placeholder="Account"/>
      密码
			<input class="login-input" type="password" name="password" value="{{password}}" placeholder="Password"/>
      <input type="text" name="test" value="Test" class="hide">
			<button class="login-submit login-input" type="submit" value="Login" id="loginBtn" style="margin-top:20px;">Login</button>
		</form>
	</div>
{% end %}