
<div>
    {% for i, file in enumerate(files) %}
        <div class="note">
            <div class="note-visited-cnt">访问指数:{{file.visited_cnt}}</div>
            <div class="note-name">
                <a href="{{file.url}}">{{file.name}}</a>
                
            </div>
            
            {% if "raw" in file %}
                <pre>{{ file.raw }}</pre>
            {% end %}

            <div>
                {% if file.is_public %}
                    <span class="tag">公开</span>
                {% elif file.groups != None %}
                    <span class="tag">{{file.groups}}</span>
                {% end %}

                {% if file.smtime != None %}
                    <span class="note-last-visit-time">最近编辑:{{file.smtime}}</span>
                {% end %}
            </div>
            <div class="note-related">
                <input type="text" data-role="tagsinput" value="{{file.related}}"/>
            </div>
            <div class="note-option">
            </div> 
        </div>
    {% end %}
</div>

{% if "page" in globals() %}
    {% init key = "" %}
    {% set pages = math.ceil(count/10) %}
    {% if key != "" %}
        {# TODO 移动端优化 #}
        <div class="note">
            <div class="note-name">
                没找到结果?看看搜索引擎的结果吧~
            </div>
            <div class="note-content-short">
                <br/>
                <a href="https://www.baidu.com/s?wd={{key}}" target="_blank">百度</a>
                <a href="https://www.google.com/search?q={{key}}" target="_blank">谷歌</a>
                <a href="https://www.bing.com/search?q={{key}}" target="_blank">必应</a>
            </div>
        </div>
    {% end %}

    <p>
        <!--
        <input id="targetPage" value="{{page}}" style="width:3em;"/> <button onclick="goToPage()">GO</button>
        -->
        <a class="x-page-link" href="#">共{{pages}}页</a> 
        {% if page > 1 %}
        <a class="x-page-link" href="{{page_url}}{{page-1}}">上一页</a>
        {% end %}
        
        <a class="x-page-link x-page-active" href="#">{{page}}</a>
        <!--
        <a href="#"><span style="background:blue;color:white">{{page}} / {{?pages}}</span></a>
        -->
        
        {% if page < pages %}
        <a class="x-page-link" href="{{page_url}}{{page+1}}">下一页</a>
        {% end %}
    </p>
    <script>
        function goToPage() {
            var value = $('#targetPage').val();
            location.href = '{{page_url}}' + (value);
        }
    </script>
{% end %}
