
<div class="col-md-12">
    {% for i, file in enumerate(files) %}
    <div class="note"> 
        <div class="note-body">
            <div class="note-visited-cnt">
                {% if file.id != None %}
                <input type="button" class="dialog-btn" dialog-url="/file/group/list?id={{file.id}}" value="整理" >
                {% end %}
            </div>
            <div class="note-name">
                {% if file.type == "group" %}
                    <img src="/static/image/folder.gif"/>
                {% end %}
                <a href="{{file.url}}">{{file.name}}</a>
            </div>
            
            {% if "raw" in file %}
                <pre>{{ file.raw }}</pre>
            {% end %}

            {# 快捷命令 #}
            {% if file.command != None %}
                <input type="button" class="btn execute-btn" value="执行" href="{{file.command}}"/>
            {% end %}



            <div>
                {% if hasattr(file, "priority") and file.priority is not None and file.priority > 0 %}
                    <span class="tag red-bg">置顶</span>
                {% end %}
                {% if file.is_public %}
                    <span class="tag">公开</span>
                {% elif file.groups != None %}
                    <span class="tag">{{file.groups}}</span>
                {% end %}

                {% if file.mtime != None %}
                    <span class="note-last-visit-time">最近编辑:{{file.mtime}}</span>
                {% end %}
            </div>
            <div class="note-related">
                <input type="text" data-role="tagsinput" value="{{file.related}}"/>
            </div>
            <div class="note-option">
            </div> 
        </div>
    </div>
    {% end %}
</div>

{% if "page" in globals() %}
    {% init key = "" %}
    {% set pages = math.ceil(count/10) %}
    {% if key != "" %}
        {# TODO 移动端优化 #}
        <div class="note">
            <div class="note-body">
                <div class="note-name">
                    没找到结果?试试这些吧~
                </div>
                <div class="note-content-short">
                    <br/>
                    <a href="https://www.baidu.com/s?wd={{key}}" target="_blank">百度</a>
                    <a href="https://www.google.com/search?q={{key}}" target="_blank">谷歌</a>
                    <a href="https://www.bing.com/search?q={{key}}" target="_blank">必应</a>
                    {% if _has_login %}
                    <a href="/file/add?key={{key}}">创建"{{key}}"</a>
                    {% end %}
                </div>
            </div>
        </div>
    {% end %}

    <p>
        <!--
        <input id="targetPage" value="{{page}}" style="width:3em;"/> <button onclick="goToPage()">GO</button>
        -->
        <a class="x-page-link" href="#">共{{pages}}页</a> 
        {% if page > 1 %}
        <a class="x-page-link" href="{{page_url}}{{page-1}}">上一页</a>
        {% end %}
        
        <a class="x-page-link x-page-active" href="#">{{page}}</a>
        <!--
        <a href="#"><span style="background:blue;color:white">{{page}} / {{?pages}}</span></a>
        -->
        
        {% if page < pages %}
        <a class="x-page-link" href="{{page_url}}{{page+1}}">下一页</a>
        {% end %}
    </p>
    <script>
        function goToPage() {
            var value = $('#targetPage').val();
            location.href = '{{page_url}}' + (value);
        }
        $(".execute-btn").on("click", function (e) {
            console.log(e);
            var href = $(e.target).attr("href");
            $.get(href, function (responseText) {
                var obj = responseText;
                console.log(obj)
                $("#execute-result").text(JSON.stringify(obj));
            });
        })
    </script>
{% end %}
