<div class="card">
    <div class="x-tab-box" data-tab-key="p2" data-tab-default="all">
        <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=active" data-tab-value="active">Table</a>
        <!-- <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=index" data-tab-value="index">Index</a> -->
        <!-- <a class="x-tab" href="{{_server_home}}/system/db_index?p=meta&p2=index_v1" data-tab-value="index_v1">Index-v1</a> -->
        <a class="x-tab" href="{{_server_home}}/system/db_index?p=meta&p2=index_v2" data-tab-value="index_v2">Index</a>
        <!-- <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=set" data-tab-value="set">Set</a> -->
        <!-- <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=sorted_set" data-tab-value="sorted_set">SortedSet</a> -->
        <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=delete" data-tab-value="delete">删除</a>
    </div>
</div>
