{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-03-19 18:50:56
@LastEditors  : xupingmao
@LastEditTime : 2022-05-28 16:03:25
@FilePath     : /xnote/handlers/system/component/db_nav.html
@Description  : 描述
--> #}
<div class="card">
    <div class="card-title">
        <span>数据库工具</span>

        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>
<div class="card">
    <div class="x-tab-box" data-tab-key="p" data-tab-default="query">
        <a class="x-tab" href="{{_server_home}}/system/sqldb_admin?p=sqldb" data-tab-value="sqldb">SQL-DB</a>
        <a class="x-tab" href="{{_server_home}}/system/db_admin?p=meta&p2=active" data-tab-value="meta">KV-DB</a>
        <a class="x-tab" href="{{_server_home}}/system/db_admin?p=query&reverse=true" data-tab-value="query">数据查询</a>
        <a class="x-tab" href="{{_server_home}}/system/backup?p=db_backup_home" data-tab-value="db_backup_home">备份管理</a>
    </div>
</div>