<div class="card">
    <div class="x-tab-box row" data-tab-key="log_type" data-tab-default="file">
        <a class="x-tab" data-tab-value="file" href="{{_server_home}}/system/log?log_type=file">文件日志</a>
        <a class="x-tab" data-tab-value="db" href="{{_server_home}}/system/db_scan?prefix=sys_log&reverse=true">数据库日志</a>
        <a class="x-tab" data-tab-value="mem" href="{{_server_home}}/system/log?log_type=mem">内存日志</a>
        <a class="x-tab" data-tab-value="clip" href="{{_server_home}}/system/clipboard-monitor?log_type=clip">剪切板</a>
    </div>
</div>
