
<div class="card">
    <div class="card-title">
        <span>{{title}}</span>
        <div class="float-right">
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

<div class="card hide">
    <div class="pad5 x-tab-box" data-tab-key="tab" data-tab-default="list">
        <a class="tab-link x-tab" href="{{_server_home}}/system/thread_info" data-tab-value="list">线程列表</a>
        <a class="tab-link x-tab" href="{{_server_home}}/system/thread_logs?tab=logs" data-tab-value="logs">线程日志</a>
    </div>
</div>
