{% init show_path_list = False %}
{% init error = None %}
{% init is_iframe = False %}
{% init file = Storage(id = 0, parent_id=0) %}
{% init page = 0 %}
{% init show_create_option = True %}
{% init parent_id = 0 %}
{% init title = "目录" %}
{% init create_type = "" %}
{% init create_text = T("创建笔记") %}

<input id="fileId" type="hidden" value="{{file.id}}"/>

<div class="grid-title btn-line-height">
    <span>{{title}}</span>
    <div class="float-right">
        {% if show_create_option %}
            <a class="btn" href="{{_server_home}}/note/create?parent_id={{parent_id}}&type={{create_type}}">{{create_text}}</a>
        {% end %}
        {% include note/component/option/group_option.html %}
    </div>
</div>

{% if error != "" and error != None%}
    <div class="col-md-12 error">
        {{error}}
    </div>
{% end %}
