{% extends ../base.html %}

{% block body %}
    <script src="/js/TagEditor.js"></script>
    <form method="POST" action="">
        <div style="padding-top:20px;">
            <span>标题</span> 
            <input type="text" class="mid-text" name="name" value="{{name}}"/>
            <select name="type">
                <option value="post">随笔</option>
                <option value="md">Markdown</option>
                <option value="table">表格</option>
            </select>
        </div>
        <div style="padding-top:20px;">
            <button class="mid-text">添加</button>
        </div>
        <p>{{error}}</p>
    </form>
{% end %}