{% init files = [] %}
<div class="col-md-12">
    <table class="col-md-12 table">
    {% for i, item in enumerate(files) %}
        <tr>
            <td>
                {% if item.type == "group" %}
                    <img src="/static/image/folder.gif"/>
                {% else %}
                    <img src="/static/image/note.gif"/>
                {% end %}
                <a href="/file/view?id={{item.id}}">{{item.name}}</a>
                <div style="font-size: 12px;"> <span class="tag">{{item.groups}}</span>{{item.smtime}} </div>
            </td>
            <td><a href="/file/archive?id={{item.id}}">移动</a></td>
        </tr>
    {% end %}
    </table>
</div>
