{% init files = [] %}
{% init pseudo_groups = False %}
<div class="col-md-12">
    <table id="fileTable" class="col-md-12 table">

    {% if pseudo_groups %}

        {% if _is_admin %}
        <tr>
            <td>
                <img src="/static/image/folder.gif">
                <a href="/file/group/memo">备忘录</a> /
            </td>
        </tr>
        {% end %}

        <tr>
            <td>
                <img src="/static/image/folder.gif">
                <a href="/file/group/ungrouped">未分类</a> /
            </td>
        </tr>
<!--         <tr>
            <td>
                <img src="/static/image/folder.gif">
                <a href="/file/group/removed">回收站</a> /
            </td>
        </tr> 
-->
    {% end %}

    {% for i, item in enumerate(files) %}
        <tr>
            <td class="note-td">
                {% if item.type == "group" %}
                    <img src="/static/image/folder.gif"/>
                {% else %}
                {% end %}
                <a href="/file/view?id={{item.id}}" id="file-{{item.id}}">{{item.name}}</a>
                {% if item.type == "group" %}/{% end %}
                <a class="hover" href="javascript:rename({{item.id}}, '{{item.name}}')">重命名</a>
                {% if _is_admin %}
                    <a class="hover" href="javascript:remove({{item.id}}, '{{item.name}}')">删除</a>
                {% end %}
                <a class="hover dialog-btn" dialog-url="/file/group/list?id={{item.id}}" href="javascript:void({{item.id}})">移动到</a>
                <div style="font-size: 12px;">
                    <span class="tag">{{item.groups}}</span>
                    {{item.smtime}}
                </div>
                <div class="move-div" id="move-{{item.id}}"></div>
            </td>
        </tr>
    {% end %}
    </table>
</div>

{% if "page" in globals() %}
    {% include mod_pagenation.html %}
{% end %}
<script type="text/javascript">
function rename(id, oldName) {
    var newName = prompt("新名称", oldName);
    console.log(newName);
    if (newName != "" && newName != null) {
        $.post("/file/rename", {id:id, name:newName}, function (resp) {
            var code = resp.code;
            if (code != "success") {
                alert(resp.message);
            } else {
                $("#file-"+id).text(newName);
            }
        })
    }
}

function remove(id, name) {
    var confirmed = confirm("确定删除'" + name + "'?");
    if (confirmed) {
        $.post("/file/remove", {id:id}, function (resp) {
            var code = resp.code;
            if (code != "success") {
                alert(resp.message);
            } else {
                window.location.reload();
            }
        })
    }
}

function move(id) {
    $(".move-div").html("");
    $.get("/file/group/list?id="+id, function (text) {
        $("#move-"+id).html(text);
    });
}
function moveTo(selfId, parentId) {
    $.post("/file/group/move", 
        {id:selfId, parent_id: parentId}, 
        function (resp){
            console.log(resp);
            window.location.reload();
    });
}
</script>