{% init files = [] %}
{% init pseudo_groups = False %}
{% init show_opts = True %}
{% init show_cdate = False %}
{% init show_mdate = False %}

<div class="col-md-12">
    <table id="fileTable" class="col-md-12 table">

    {% if pseudo_groups %}
        <tr class="hover-tr">
            <td class="note-td">
                <img src="/static/image/folder.gif">
                <a href="/file/group/ungrouped">未分类</a>
            </td>
        </tr>
        <tr class="hover-tr">
            <td class="note-td">
                <img src="/static/image/folder.gif">
                <a href="/file/group/public">公开</a>
            </td>
        </tr>
        <tr class="hover-tr">
            <td class="note-td">
                <img src="/static/image/folder.gif">
                <a href="/file/recent_edit">最近更新</a>
            </td>
        </tr>
    {% end %}

    {% for i, item in enumerate(files) %}
        <tr class="hover-tr">
            <td class="note-td">
                {% if show_cdate %}
                    <span>{{xutils.format_date(item.ctime)}} - </span>
                {% end %}

                {% if show_mdate %}
                    <span>{{xutils.format_date(item.mtime)}} - </span>
                {% end %}

                {% if item.type == "group" %}
                    <img src="/static/image/folder.gif"/>
                    <a class="group-link" href="/file/view?id={{item.id}}" id="file-{{item.id}}">{{item.name}}</a>({{item.size}})
                {% elif hasattr(item, "url") and item.url != None %}
                    <a class="note-link" href="{{item.url}}">{{item.name}}</a>
                {% else %}
                    <a class="note-link" href="/file/view?id={{item.id}}" id="file-{{item.id}}">{{item.name}}</a>
                    {% if item.creator != None %} ({{item.creator}}) {% end %}
                {% end %}

                {% if hasattr(item, "summary") and item.summary is not None %}
                    <pre>{{item.summary}}</pre>
                {% end %}

                {% if show_opts and _has_login %}
                <div style="float: right;">
                    <a class="item-option" href="javascript:rename({{item.id}}, '{{item.name}}')">重命名</a>
                    {% if _is_admin %}
                        <a class="item-option" href="javascript:remove({{item.id}}, '{{item.name}}')">删除</a>
                    {% end %}
                    {% if item.type != "group" %}
                    <a class="item-option dialog-btn" dialog-url="/file/group?id={{item.id}}&filetype=xml" href="javascript:void({{item.id}})">移动</a>
                    {% end %}
                </div>
                {% end %}
            </td>
        </tr>
    {% end %}
    </table>
</div>

{% if "page" in globals() %}
    {% include mod_pagenation.html %}
{% end %}
