{% extends base.html %}

{% block head %}
<script src="/static/lib/codemirror/codemirror.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/codemirror.min.css">
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/monokai.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/xq-light.css">
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/eclipse.css"> -->
<script type="text/javascript" src="/static/lib/codemirror/mode/markdown.js"></script>

<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">
<script type="text/javascript" src="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.js"></script>
<script type="text/javascript" src="/static/js/upload.js"></script>
<script type="text/javascript" src="/static/js/marked-ext.js"></script>
<style>
.CodeMirror {
    width: 100%;
    font-size:16px;
    height: auto;
}

#markdown-input {
    position: relative;
    font-family: monospace;
}

.alert {
    color: red;
    background-color: #FFCCCC;
    width: initial;
}

.small {
    font-size: small;
}

#submit-div {
    background-color: white; 
    position: fixed; 
    padding-bottom: 5px; 
    padding-top:5px; 
    bottom: 0px; 
    z-index: 100
}
</style>
{% end %}

{% block body %}
    
    {% init error = "" %}
    {% init download_csv = False %}
    {% include "search.html" %} 

    <div style="">
        <h3>
            <span id="fileId" style="display:none;">{{file.id}}</span>
            <div style="display:none" id="renameDiv">
                <span><input id="newName"> </span> 
                <button onclick="renameFile()">重命名</button>
            </div>
            <div>
                <a id="oldName" href="javascript:switchRename()" style="color:blue">{{file.name}}</a>
            </div>
        </h3>

        {% include file/tags.html %}

        <span id="result" style="color:green"></span>
    </div>
    
    <hr/>

    <div class="alert">
    {{error}}
    </div>

    <form action="/file/update" enctype="multipart/form-data" method="POST">
        <div class="col-md-12">
            <input type="file" id="file" name="file"/>
            <input type="submit" id="uploadBtn" value="插入文件" />
            <span class="upload-progress"></span>
        </div>
        
        <div class="">
            <div class="">
                <div id="edit-div">
                    <input style="display:none" name="id" value="{{file.id}}"/>
                    <input type="text" name="version" value="{{file.version}}" class="hide"/>
                    <input type="text" name="type" value="md" class="hide"/>
                </div>
            </div>

            <div class="top-offset-1" style="padding-top:20px;">
                <div id="epiceditor" class="row">
                    <div id="markdown-input-div" class="col-md-6 top-offset-1">
                        <textarea id="markdown-input" class="form-control" name="content" rows=50>{{?content}}</textarea>
                    </div>

                    <div id="markdown-output-div" class="col-md-12">

                    </div>
                </div>
            </div>

            <div class="col-md-12" id="submit-div">
                <input type="checkbox" name="public" {% if file.groups == '*' %} checked="true" {% end %}>所有人可见
                <input type="button" id="insertCode" class="btn" value="插入代码"/> 
                <input type="submit" class="btn btn-primary" value="更新"/>
                <input type="button" class="btn btn-primary" onclick="togglePreview(this)" value="预览"/>
                <input type="button" class="btn btn-danger" onclick="delLink()" value="删除" />
            </div>
        </div>
    </form>

<div style="float:left;width:100%;">

<script>
    function switchRename() {
        if ($("#renameDiv").css("display") == "none") {
            $("#oldName").hide();
            $("#renameDiv").css("display", "block");
            $("#newName").val($("#oldName").html());
        } else {
            $("#oldName").show();
            $("#renameDiv").css("display", "none");
        }
    }
    
    function delLink() {
        var r = confirm("确认删除 {{file.name}}?");
        if (r) {
            location.href="/file/update?option=del&id={{file.id}}";
        }
    }

    $("#uploadBtn").on("click", function () {
        return;
        uploadFile("file", "file", "/file/upload_file?_type=json", function (evt) {
            // 处理上传成功
            var responseText = evt.target.responseText;
            var result = JSON.parse(responseText);
            console.log(result);
            var link = result.link;
            // alert(result);   
            var text = codeMirror.doc.getValue() + "\n" + link;
            codeMirror.doc.setValue(text);
        })
    })

        
    // autosize textarea rows
    var textContainer = document.getElementById("fileContent");
    function adjustRows(ele) {
        var text = ele.innerHTML;
        var rows = text.count('\n');
        ele.rows = rows + 10;
    }

    function initCodeMirror() {
        if (window.codeMirror) {
            return;
        }
        var height = Math.max(500, $("#markdown-output-div").height());
        var editor = $("#markdown-input")[0];
        var codeMirror = CodeMirror.fromTextArea(editor, {
            lineNumbers:true,
            mode: { name: "text/x-markdown", fencedCodeBlocks: true},
            // theme:"xq-light",
            // theme: "monokai",
            lineWrapping: true,
            fixedGutter: true,
        });
        codeMirror.on("update", function (codeMirror, changeObj) {
            console.log("update");
            $("#markdown-input").val(codeMirror.doc.getValue());
        })
        window.codeMirror = codeMirror;
        // setSize(width, height);
        codeMirror.setSize("auto", height);
    }

    function edit() {
        var clientWidth = document.body.clientWidth;
        if (clientWidth < 500) {
            // 移动端CodeMirror支持不佳，经常无法触发光标
            simpleEdit();
            return;
        } else if (clientWidth < 1000) {
            // 至少需要500px方便编写
            mobileEdit();
            return;
        }
        $("#markdown-input-div").removeClass("hide");
        $("#markdown-output-div").removeClass("col-md-12").addClass("col-md-6");
        var height = Math.max(500, $("#markdown-output-div").height());
        $("#markdown-input").css({height:height+"px"});
        $("#edit-div").show();
        $("#edit-btns").hide();

        initCodeMirror();
    }

    function simpleEdit() {
        $("#markdown-input-div").removeClass("hide").addClass("col-md-12");
        $("#markdown-output-div").removeClass("col-md-12").addClass("hide");
        var height = Math.max(500, $("#markdown-output-div").height());
        $("#markdown-input").css({height:height+"px"});
        $("#edit-div").show();
        $("#edit-btns").hide();
    }

    function mobileEdit() {
        $("#markdown-input-div").removeClass("hide").addClass("col-md-12");
        $("#markdown-output-div").removeClass("col-md-12").addClass("hide");
        var height = Math.max(500, $("#markdown-output-div").height());
        $("#markdown-input").css({height:height+"px"});
        $("#edit-div").show();
        $("#edit-btns").hide();

        initCodeMirror();
    }
    
    function togglePreview(target) {
        if (!$("#markdown-input-div").hasClass("hide")) {
            $("#markdown-input-div").addClass("hide");
            $("#markdown-output-div").removeClass("hide").removeClass("col-md-6").addClass("col-md-12");
            $("#edit-div").hide();
            $("#edit-btns").show();
            $(target).val("编辑");
        } else {
            edit();
            $(target).val("预览");
        }
    }
    
    function renameFile() {
        var fileId = $("#fileId").text();
        var oldName = $("#oldName").html();
        var newName = $("#newName").val();
        if (newName) {
            $.post("/file/update", {
                option: "rename",
                fileId: fileId,
                newName: newName
            }, function (msg) {
                var result = JSON.parse(msg);
                if (result.success)
                {
                    switchRename();
                    window.location.reload();
                } else {
                    alert("修改失败, " + result.msg);
                }
            })
        }
    }
    // set marked code highlight function
    // marked.defaults.highlight = highlight;

    function escape(html, encode) {
      return html
        .replace(!encode ? /&(?!#?\w+;)/g : /&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#39;')
        .replace(/\n/g, '<br/>')
        .replace(/ /g, '&nbsp;');
    }

    $(document).ready(function () {
        var old_content = "";

        function repaint() {
            var input = $("#markdown-input").val();
            // not modified
            if (input == old_content) {
                return;
            }
            if ($("#markdown-output-div").hasClass("hide")) {
                return;
            }
            old_content = input;
            var outtext = marked.parse(input);
            $("#markdown-output-div").html(outtext); 
        }
        repaint();
        edit();
        
        setInterval(repaint, 200);

        $("#insertCode").on("click", function () {
            var cur = codeMirror.getCursor();
            codeMirror.replaceRange("```\n\n```", cur, cur, "");
        })
    })
</script>

<!-- GROUPS: {{file.groups}} -->
<!-- MD5: {{file.md5}} -->
{% end %}