{% init op = "view" %}
{% init error = "" %}

<script type="text/javascript" src="/static/lib/wangEditor/wangEditor-3.0.10.min.js"></script>
{% if op == "view" %}
    <h2 id="name">{{file["name"]}} <a href="/file/post/edit?id={{file.id}}">[编辑]</a></h2>

    {% include "file/tags.html" %}
    <hr/>
    <div id="editor">
        {% raw file["content"] %}
    </div>
    <br/>
    <!-- <a href="javascript:deleteConfirm()" class="btn btn-danger">删除</a> -->
{% else %}
    <div class="alert">{{error}}</div>
    <form method="POST" enctype="multipart/form-data">
        <input name="version" value="{{file.version}}" class="hide">
        <input name="type" value="post" class="hide"/>
        <p>
            <input name="name" type="text" value="{{file.name}}">
            {% if file.groups == "*" %}
                <input name="public" type="checkbox" checked>
            {% else %}
                <input name="public" type="checkbox">
            {% end %}
            所有人可见
            <a href="/file/view?id={{file.id}}" style="float:right">预览</a>
        </p>

    
<!--         <div class="col-md-12">
            <input type="file" name="file"/>
            <button>上传图片</button>
        </div>
        <div class="col-md-12">
            <button>保存</button>
        </div> -->

        <!-- <textarea name="content" style="width:100%;margin-top:10px;font-family:monospace;" rows={{rows}}>{{file.content}}</textarea> -->

        <div id="toolbar" style="border:1px solid #ccc;background-color: #f1f1f1;"></div>
        <div id="editor" style="height: 500px;border:1px solid #ccc;border-top: none;">
            {%raw file.content%}
        </div>
    </form>

    <input id="saveBtn" type="button" value="保存">


    <script type="text/javascript">
    function deleteConfirm () {
        var name = $("#name").text();
        var conf = confirm("确认删除 " + name + " 吗?");
        if (conf) {
            window.location.href = "/file/post/del?id={{file.id}}";
        }
    }

    var editor = new wangEditor('#toolbar', "#editor");
    editor.create();

    $("#saveBtn").click(function () {
        var content = editor.txt.html();
        $.post("/file/autosave", {id:{{file.id}}, content:content}, function (resp) {
            console.log(resp);
            if (resp.code == "success") {
                window.location.reload();
            } else {
                alert(resp.message);
            }
        })
    })
    </script>


{% end %}
