{% extends base.html %}

{% block head %}
<style type="text/css">
  .date {
    color: green;
    font-size: small;
  }
</style>

{% end %}

{% block body %}

  {% init recent_created = [] %}
  {% init recent_modified = [] %}

  <h2>最近添加</h2>

  {% for file in recent_created %}
    <p> {{to_date(file.sctime)}} <a href="{{file.url}}">{{file.name}}</a>
  {% end %}

  <h2>最近修改</h2>
  {% for file in recent_modified %}
    <p> {{to_date(file.smtime)}} <a href="{{file.url}}">{{file.name}}</a>
  {% end %}

{% end %}