{% extends base.html %}

{% block head %}
<style type="text/css">
    .tag-span {
        border: 1px solid #ccc;
        background-color: #69c;
        padding: 5px;
        margin: 5px;
        display: block;
        float: left;
        line-height: 20px;
    }
</style>
{% end %}

{% block body %}
    <div class="top-offset-1">
    {% for tag_info in tag_list %}
        <span class="tag-span">
            <a class="tag-link" href="/file/tagname/{{tag_info.name}}">{{tag_info.name}}</a>
            {{tag_info.amount}}
        </span>
    {% end %}
    </div>
{% end %}