{% extends base.html %}

{% block head %}
<script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.js"></script>
<script type="text/javascript" src="/static/js/marked-ext.js"></script>
<script type="text/javascript" src="/static/lib/vue/vue-2.2.6.min.js"></script>
<style>
.CodeMirror {
    width: 60rem;
    font-size:16px;
    height: auto;
}

#markdown-input {
    font-family: monospace;
}

.small {
    font-size: small;
}

img {
    max-width: 100%;
}

.alert {
    color: red;
    background-color: #FFCCCC;
    width: initial;
}

.x-code-block {
    font-family: Consolas,monospace;
    word-wrap: break-word;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 3px;
    background-color: #ffffcc;
}

.bottom-fixed-pannel {
    background-color: white; 
    position: fixed; 
    padding-bottom: 5px; 
    padding-top:5px; 
    bottom: 0px; 
    z-index: 100
}

.marked-heading {
    /* 避免顶部fixed菜单遮挡 */
    padding-top: 50px;
    margin-top: -50px;
}

.pathlist {
    background-color: lightgreen;
    padding:3px;
}

table td {
    border-left: none;
    border-right: none;
}

</style>
{% end %}


{% block body %}
    {% init file_type = "md" %}
    {% init pathlist = [] %}
    {% init file = None %}

    {% if file != None %}
        {% set globals()['file_type'] = file.type %}
    {% end %}

    {% include "search.html" %}
    
    <div class="col-md-12 pathlist">
        <a href="/file/group">Home</a> /
        {% for item in pathlist %}
            <a href="/file/view?id={{item.id}}">{{ item.name }}</a> /
        {% end %}
    </div>

    {% comment 如果有新类型的文件，继续增加file_type即可，后台实现不用变更 %}

    {% if file_type == "md" or file_type == "text" %}
        {% include "file/markdown.html" %}
    {% elif file_type == "table" %}
        {% include "file/table.html" %}
    {% elif file_type == "group" %}
        {% include "file/group.html" %}
    {% else %}
        {% include "file/post.html" %}
    {% end %}

{% end %}

