<!-- 所有的 postMessage 事件都在这里做转换 -->
<script type="text/javascript">
$(function () {
    function onMessageReceivedByJson(data) {
        try {
            var msg = JSON.parse(data);
            var msg_value = msg;
            
            console.log("convert event", msg.type);

            if (msg.__value) {
                msg_value = msg.__value;
            } 

            xnote.fire(msg.type, msg_value);
        } catch (e) {
            console.error("parse window message failed", e);
        }
    }

    function onMessageReceived(event) {
        var data = event.data;
        if (data == "message.updated") {
            xnote.fire("message.updated", "");
        } else {
            onMessageReceivedByJson(data);
        }
    }
});

</script>