{% init message_tag = "" %}

{% if message_tag == "task" %}
    <div class="card">
        <a class="list-link" href="/message/done">
            <span>已完成任务</span>
            <div class="float-right">
                <span class="book-size-span">{{message_stat.done_count}}</span>
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>

        <a class="list-link" href="/message?tag=task_tags">
            <span>按标签查看</span>
            <div class="float-right">
                <span class="book-size-span"></span>
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>

    </div>
{% end %}

{% if tag == "key" %}
    <div class="card">
        <a class="list-link" href="/message?tag=key&orderby=visit">
            <span>常用标签</span>
            <div class="float-right">
                <span class="book-size-span"></span>
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
    </div>
{% end %}

{% if tag == "calendar" %}
    <!-- 日期视图 -->
    <div class="card">
        <a id="viewByDayLink" href="/message/list_by_day?date={{date}}" class="list-link">
            <span>按天查看</span>
            <div class="float-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>

        <a class="list-link" href="/message?tag=month_tags&date={{date}}&displayTag=date">
            <span>按标签查看</span>
            <div class="float-right">
                <span class="book-size-span"></span>
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
        
    </div>
{% end %}