
<div class="message-list-item-tpl hide">
    <div class="message-row card">
        <div class="msg-item-header">
            <span class="chat-msg-time">${ctime}</span>
        </div>
        <div class="msg-item-content">
            ${html}
        </div>
    </div>
</div>

<div class="message-list">

</div>

<script type="text/javascript">
(function () {

    var LAST_DATE;

    function refreshMessageList(date) {
        LAST_DATE = date;
        var params = {
            date: date
        };

        $.get("/message/date", params,function (respText) {
            $(".message-list").html(respText);
        }).fail(function (e) {
            console.error(e);
            xnote.alert("调用接口失败");
        });
    };

    function onMessageReceived(event) {
        var data = event.data;
        if (data == "message.updated") {
            xnote.closeAllDialog();
            refreshMessageList(LAST_DATE);
        }
    }

    window.refreshMessageList = refreshMessageList;
    window.addEventListener("message", onMessageReceived, false);

})();
</script>