{% init show_tab = True %}

{% if show_tab %}

{% init message_stat = xutils.call("message.get_current_message_stat") %}

<!-- 桌面版菜单 -->
<div class="card x-tab-box message-tab" data-tab-key="tag">
    <a class="x-tab" data-tag="task">
        待办(<span class="task-count">{{message_stat.task_count}}</span>)
    </a>

    <a class="x-tab" data-tag="log" data-tab-value="log">
        记事(<span class="log-count">{{message_stat.log_count}}</span>)
    </a>
    <a class="x-tab" data-tag="key" data-tab-value="key">
        标签(<span class="key-count">{{message_stat.key_count}}</span>)
    </a>
    <a class="x-tab" data-tag="date" data-tab-value="date">日期</a>
</div>

<!-- 移动端菜单 -->
<div class="card hide">
    <a class="tab-link" href="{{_server_home}}/message?tag=task" data-tag="task">待办</a>
    <a class="tab-link" href="{{_server_home}}/message?tag=log" data-tag="log">记事</a>
    <a class="tab-link" href="{{_server_home}}/message?tag=key" data-tag="key">标签</a>
    <a class="tab-link" href="{{_server_home}}/message/dairy">日期</a>
</div>

{% include message/component/script/tab_script.html %}

{% end %} <!-- show_tab end -->
