{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2021-10-01 18:27:00
@LastEditors  : xupingmao
@LastEditTime : 2022-05-31 22:32:15
@FilePath     : /xnote/handlers/message/component/message_title.html
@Description  : 描述
--> #}
{% init title = "随手记" %}
{% init show_back_btn = False %}

<div class="card">    
    <div class="card-title btn-line-height">
        {% if tag == "task" %}
            <span>{{T("待办任务")}}</span>
        {% else %}
            <span>{{T("随手记")}}</span>
        {% end %}
        <div class="float-right">
            {% if HOME_PATH == "/message/log" and not show_back_btn %}
                <a class="btn btn-default" href="{{_server_home}}/note/group">笔记</a>
                <a class="btn btn-default" href="{{_server_home}}/note/tools">工具</a>
            {% else %}
                {% include common/button/back_button.html %}
            {% end %}
        </div>
    </div>
</div>