<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-08-27 19:31:01
@LastEditors  : xupingmao
@LastEditTime : 2022-10-16 12:12:27
@FilePath     : /xnote/handlers/note/component/filter/note_tag_filter.html
@Description  : 描述
 #} -->

{% if len(tag_meta_list) > 0 %}
<div class="card btn-line-height">
    <div class="row">
        <span>标签</span>
        <a class="tag lightgray large {%if q_tag=='' %}active{%end%}" href="?">全部</a>
        {% for tag in tag_meta_list %}
            <a class="tag lightgray large meta {% if tag.tag_name == q_tag %}active{%end%}" 
                href="{{_server_home}}/note/{{note_id}}?tag={{quote(tag.tag_name)}}">{{tag.tag_name}}</a>
        {% end %}
    </div>
</div>
{% end %}