<div class="card btn-line-height">
    <div class="row">
        {% for type_info in type_list %}
            <a class="tag lightgray large meta"
                data-tag="{{type_info.tag_code}}" 
                href="{{type_info.url}}">{{type_info.name}}</a>
        {% end %}
    </div>
</div>

<script type="text/javascript">
$(function() {
    var noteType = "{{note_type}}";
    if (noteType == "document") {
        noteType = "md";
    }
    xnote.state.noteType = noteType;
    $(".tag[data-tag=" + noteType + "]").addClass("active");
})
</script>