<!-- 笔记类型 -->
{% init note_types = xutils.call("page.list_note_types") %}
{% init show_note_types = True %}
{% init show_note_types_title = False %}

{% if show_note_types %}
<div class="card">

    {% if show_note_types_title %}
        <div class="card-title">
            <span>笔记类型</span>
            <div class="float-right">
                <!-- 更多按钮 -->
            </div>
        </div>
    {% end %}

{% for item in note_types %}
    <!-- 隐藏的记录 -->
    {% if hasattr(item, "hide") and item.hide %}
        {% continue %}
    {% end %}

    <a class="list-link" href="{{_server_home}}{{item.url}}">
        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>
        
        <div class="float-right">
            <span class="book-size-span">{{item.size}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
{% end %}
</div>
{% end %}

