<!-- 笔记类型 -->
{% init fixed_notes = [
    Storage(name = "年度计划", size = "", icon = "", url = "/note/plan?date=2021"),
    Storage(name = "月度计划", size = "", icon = "", url = "/note/plan?date=2021-04"),
] %}

<div class="card">
    <div class="card-title">
        <span>待办</span>
        <div class="float-right">
            <!-- 更多按钮 -->
        </div>
    </div>

{% for item in fixed_notes %}
    <!-- 隐藏的记录 -->
    {% if hasattr(item, "hide") and item.hide %}
        {% continue %}
    {% end %}

    <a class="list-link" href="{{_server_home}}{{item.url}}">
        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>
        
        <div class="float-right">
            <span class="book-size-span">{{item.size}}</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
{% end %}
</div>
