{% extends base %}

{% block body %}
    <div class="card">
        <h3 class="card-title btn-line-height">
            <a href="{{note.url}}" class="link2">{{note.name}}</a> / 管理
            {% include common/back.html %}
        </h3>
    </div>

    <input id="currentDir" type="hidden" value="{{dirname}}"/>
    <input type="hidden" id="dirname" value="{{dirname}}"/>

    <script type="text/javascript" src="/static/js/fs/fs.js"></script>

    <div class="card">    
        {% include fs/component/filelist_simple.html %}
    </div>
{% end %}
