{% extends base.html %}
<!--
@author xupingmao
@since 2020/01/06
@modified 2021/07/31 10:38:21
-->

{% block body_left %}

{% init show_note_path = True %}
{% include note/component/script/create_script.html %}

<div class="card note-list">

    <!-- header -->
    <div class="row card-title btn-line-height">
        <span>笔记本管理</span>
        <div class="float-right">
            <button class="btn btn-default" onclick="xnote.createNotebook()">新建笔记本</button>
            {% include common/button/back_button.html %}
        </div>
    </div>
</div>

{% if show_category_edit %}
<div class="card btn-line-height">
    <span>类目：</span>
    <span>{{category_name}}</span>
    <div class="float-right">
        <button class="btn btn-default rename-cat-btn">重命名类目</button>
        <button class="btn btn-default">添加笔记本</button>
    </div>
</div>
{% end %}

<div class="card">    
    {% if len(files) == 0 %}
        {% include common/text/empty_text.html %}
    {% end %}
    
    {% for item in files %}
        <div class="book-item">
            {% if item.priority>0 %}
                <span class="tag orange">置顶</span>
            {% end %}

            <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>
            <a class="link2" href="{{item.url}}">{{item.name}}</a>
            
            <span class="float-right">
                <a class="item-option" data-id="{{item.id}}" data-name="{{item.name}}" 
                    onclick="renameNoteByAttr(this);" href="javascript:void(0);">重命名</a>
                <input type="checkbox" data-id="{{item.id}}" data-name="{{item.name}}"/>
            </span>
        </div>
    {% end %}
</div>

<div class="card">
    {% include common/pagination.html %}
</div>

{% include note/component/script/rename_script.html %}

<script type="text/javascript">
$(".rename-cat-btn").click(function(e) {
    xnote.prompt("重命名类目", "{{category_name}}", function (newName) {
        var params = {
            code: "{{category_code}}",
            name: newName
        };

        $.post("/api/note/category/update", params, function(resp) {
            if (resp.code=="success") {
                window.location.reload();
            } else {
                xnote.alert(resp.message);
            }
        })
    });
})
</script>

{% end %}


{% block body_right %}
    {% include note/component/sidebar/group_management_sidebar.html %}
{% end %}