{% extends base %}

{% block body %}
    <div class="col-md-12">
        {% for category, groups in groups_tuple %}
            {% if len(groups) > 0 %}
                <div class="card">
                    <h3 class="card-title">{{category}}</h3>
                    {% for item in groups %}
                        <span class="tag-span">
                            <i class="fa {{item.icon}} fa-{{item.icon}}"></i>
                            <a href="{{_server_home}}{{item.url}}">{{item.name}}</a>
                            {% if item.size != None %}<span>{{item.size}}</span>{% end %}
                        </span>
                    {% end %}
                </div>
            {% end %}
        {% end %}
    </div>
{% end %}