{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2021-10-01 18:27:00
@LastEditors  : xupingmao
@LastEditTime : 2022-06-18 08:42:54
@FilePath     : /xnote/handlers/note/page/old/group_list_archived.html
@Description  : 描述
--> #}
{% extends base %}

{% block body %}

    <div class="card">
        <div class="grid-title">
            <span class="path-link">{{T("归档笔记本")}}</span>
            <div class="float-right">
                <a class="btn" href="javascript:createGroup();">新建项目</a>
                <a class="btn btn-default" href="javascript:history.back();">返回</a>
            </div>
        </div>
    </div>

    {% include note/component/script/create_script.html %}
    {% include note/component/note_list_component.html %}
{% end %}