{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-02-11 22:35:52
@LastEditors  : xupingmao
@LastEditTime : 2022-06-18 08:42:31
@FilePath     : /xnote/handlers/note/component/timeline/timeline_create_option.html
@Description  : 描述
--> #}
{% init file = Storage(id = "0") %}
{% init show_create = True %}
{% init parent_id = 0 %}

{% if type in CREATE_BTN_TEXT_DICT.keys() %}
    <!-- 分类节点 -->
    <a class="btn" href="{{_server_home}}/note/add?type={{type}}">{{CREATE_BTN_TEXT_DICT[type]}}</a>
{% else %}
    <a class="btn" href="{{_server_home}}/note/create?parent_id={{parent_id}}">新建笔记</a>
{% end %}

{% include note/component/script/create_script.html %}
