{% init xnote_table_var = "table" %}
{% set _xnote_table = globals()[xnote_table_var] %}


{% render _xnote_table.action_bar %}
{% raw _xnote_table.action_bar_html %}

<div class="overflow-table-container">
<table class="table">
    {% raw _xnote_table.render_heads_html() %}
    {% raw _xnote_table.render_rows_html() %}
</table>
</div>

{% if len(_xnote_table.rows) == 0 %}
    {% include common/text/empty_text.html %}
{% end %}

<script type="text/javascript">
    var tableMinWidth = parseInt("{{_xnote_table.get_min_width()}}");
    if (xnote.getWindowWidth() < tableMinWidth) {
        $(".table").width(tableMinWidth);
    }
</script>
{% include common/table/table_script.html %}

{% raw _xnote_table.pagination_html %}
