<style type="text/css">
.mobile-search {
    float: left;
    margin-bottom: 10px;
    padding: 0px;
    width: 100%;
    display: none;
}

</style>

{% if _user_config.nav_style == "left" %}
<style>
    .mobile-search {
        display: block;
    }
</style>
{% else %}
<style>
    @media screen and (max-width: 800px) {
        .mobile-search {
            display: block;
        }
    }
</style>
{% end %}


{% init show_nav = True %}
{% init show_menu = True %}
{% init show_search = True %}

{% if show_nav and show_menu and show_search %}
    <div class="mobile-search">
        <form id="searchForm" method="GET" action="{{_server_home}}{{search_action}}">
            {% include common/search_box.html %}
        </form>
    </div>
{% end %}