{% extends base.html %}
<!--
@author xupingmao
@since 2017/11/29
@modified 2021/10/28 23:34:53
-->

{% block body %}

    <div class="card">
        <div class="card-title">
            <span>搜索历史</span>

            <div class="float-right">
                <a class="btn btn-default" href="/system/settings?category=search">搜索设置</a>
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>

    <div class="card">
        {% if len(recent) == 0 %}
            {% include common/text/empty_text.html %}
        {% end %}

        {% for value in recent %}
            <a class="tag-span" href="/search?key={{quote(value)}}">{{value}}</a>
        {% end %}
    </div>

{% end %}