{% extends base.html %}
<!--
@author xupingmao
@since 2017/11/29
@modified 2021/03/21 18:14:59
-->

{% block body %}

    <div class="col-md-12 card">
        <div class="card-title">
            <span>搜索历史</span>

            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>

        {% if len(recent) == 0 %}
            {% include common/text/empty_text.html %}
        {% end %}

        {% for value in recent %}
            <a class="tag-span" href="/note/timeline?type=search&key={{quote(value)}}">{{value}}</a>
        {% end %}
    </div>

{% end %}