{% extends base.html %}
<!--
@author xupingmao
@since 2017/11/29
@modified 2021/04/25 10:14:27
-->

{% block body %}

    <div class="card">
        <div class="card-title">
            <span>搜索历史</span>

            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>

    <div class="card">
        {% if len(recent) == 0 %}
            {% include common/text/empty_text.html %}
        {% end %}

        {% for value in recent %}
            <a class="tag-span" href="/search?key={{quote(value)}}&search_type=note">{{value}}</a>
        {% end %}
    </div>

{% end %}