{% include system/component/system_css.html %}
{% init comment_html = "" %}

<script src="{{_server_home}}/_static/js/admin.js?ts={{_ts}}"></script>

<style>
    .book-size-span.green {
        color: green;
    }
    .book-size-span.red {
        color: red;
    }
</style>

<div class="card">
    {% for item in item_list %}
        <div class="list-item">
            <span>{{item.name}}</span>
            <div class="float-right">
                <span class="book-size-span {{item.value_css_class}}">{{item.value}}</span>
                {% if not item.is_installed %}
                    <button class="btn danger" data-lib-name="{{item.lib_name}}" onclick="xnote.admin.installPythonLib(this);">安装</button>
                {% end %}
            </div>
        </div>
    {% end %}
</div>
