<div class="settings-row">
    <div class="settings-key">我的账号</div>
    <div class="settings-value">
        <a href="{{_server_home}}/user/info">{{_user_name}}</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">关于系统</div>
    <div class="settings-value">
        <a class="btn btn-default" href="{{xconfig.WebConfig.about_url}}">查看</a>
    </div>
</div>

<div class="settings-row admin-visible mobile-only">
    <div class="settings-key">文件管理</div>
    <div class="settings-value">
        <a class="btn btn-default" href="{{_server_home}}/fs_list">进入</a>
    </div>
</div>

<div class="settings-row admin-visible mobile-only">
    <div class="settings-key">插件管理</div>
    <div class="settings-value">
        <a class="btn btn-default" href="{{_server_home}}/plugins_list">进入</a>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">桌面端首页</div>
    <div class="settings-value">
        <select name="HOME_PATH" data-type="str" value="{{HOME_PATH}}">
            <option value="/note/group">笔记本列表</option>
            <option value="/note/all">笔记列表</option>
            <option value="/system/index">功能列表</option>
            <option value="/message/log">随手记</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">移动端首页</div>
    <div class="settings-value">
        <select name="HOME_PATH_MOBILE" data-type="str" value="{{_user_config.HOME_PATH_MOBILE}}">
            <option value="/note/group">笔记本列表</option>
            <option value="/note/all">笔记列表</option>
            <option value="/system/index">功能列表</option>
            <option value="/message/log">随手记</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">字体大小</div>
    <div class="settings-value">
        <select name="FONT_SCALE" data-type="int" value="{{_user_config.FONT_SCALE}}">
            <option value="80">缩小</option>
            <option value="100">正常</option>
            <option value="120">放大</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">{{T("Language")}}</div>
    <div class="settings-value">
        <select name="LANG" data-type="str" value="{{_user_config.LANG}}">
            <option value="zh">中文</option>
            <option value="en">English</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">{{T("导航风格")}}</div>
    <div class="settings-value">
        <select name="nav_style"
                data-p="user"
                data-type="str"
                value="{{_user_config.nav_style}}">
            <option value="top">顶部导航</option>
            <option value="left">左侧导航</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">Markdown预览</div>
    <div class="settings-value">
        <select name="show_md_preview"
                data-p="user"
                data-type="str"
                value="{{_user_config.show_md_preview}}">
            <option value="true">默认打开</option>
            <option value="false">默认关闭</option>
        </select>
    </div>
</div>


<div class="settings-row">
    <div class="settings-key">允许编辑评论</div>
    <div class="settings-value">
        <select name="show_comment_edit"
                data-p="user"
                data-type="str"
                value="{{_user_config.show_comment_edit}}">
            <option value="true">允许</option>
            <option value="false">不允许</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">表格宽度</div>
    <div class="settings-value">
        <select name="note_table_width"
                data-p="user"
                data-type="str"
                value="{{_user_config.note_table_width}}">
            <option value="normal">正常</option>
            <option value="wide">宽屏</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">搜索设置</div>
    <div class="settings-value">
        <a class="btn btn-default" href="{{_server_home}}/system/settings?category=search">进入</a>
    </div>
</div>

{% if _is_admin %}
    <div class="settings-row">
        <div class="settings-key">管理员设置</div>
        <div class="settings-value">
            <a class="btn btn-default" href="{{_server_home}}/system/settings?category=admin">进入</a>
        </div>
    </div>
{% end %}

