<div class="settings-row">
    <div class="settings-key">我的账号</div>
    <div class="settings-value">
        <a href="/user/info">{{_user_name}}</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">关于系统</div>
    <div class="settings-value">
        <a href="/code/wiki/README.md">查看</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="settings-row admin-visible mobile-only">
    <div class="settings-key">文件管理</div>
    <div class="settings-value">
        <a href="/fs_list">进入</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="settings-row admin-visible mobile-only">
    <div class="settings-key">插件管理</div>
    <div class="settings-value">
        <a href="/plugins_list">进入</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">首页</div>
    <div class="settings-value">
        <select name="HOME_PATH" data-type="str" value="{{HOME_PATH}}">
            <option value="/note/group">笔记本列表</option>
            <option value="/note/all">笔记列表</option>
            <option value="/note/date">时间轴</option>
            <option value="/note/tools">功能列表</option>
            <option value="/message/log">随手记</option>
            <option value="/note/workspace">工作台</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">字体大小</div>
    <div class="settings-value">
        <select name="FONT_SCALE" data-type="int" value="{{_user_config.FONT_SCALE}}">
            <option value="80">缩小</option>
            <option value="100">正常</option>
            <option value="120">放大</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">{{T("Language")}}</div>
    <div class="settings-value">
        <select name="LANG" data-type="str" value="{{_user_config.LANG}}">
            <option value="zh">中文</option>
            <option value="en">English</option>
        </select>
    </div>
</div>

{% if _is_admin %}
    <div class="settings-row">
        <div class="settings-key">管理员设置</div>
        <div class="settings-value">
            <a href="/system/settings?category=admin">进入</a>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
{% end %}


<div class="settings-row">
    <div class="settings-key">搜索设置</div>
    <div class="settings-value">
        <a href="/system/settings?category=search">进入</a>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>

