<!--
 * @Author       : xupingmao
 * @email        : 578749341@qq.com
 * @Date         : 2021-10-31 11:54:18
 * @LastEditors  : xupingmao
 * @LastEditTime : 2022-04-30 12:53:10
 * @FilePath     : /xnote/handlers/settings/component/search_settings.html
-->
<div class="settings-row">
    <div class="settings-key">自动展开记事详情</div>
    <div class="settings-value">
        <select name="search_message_detail_show" data-type="str" value="{{_user_config.search_message_detail_show}}">
            <option value="true">展开</option>
            <option value="false">不展开</option>
        </select>
    </div>
</div>

<div class="settings-row">
    <div class="settings-key">{{T("自动展开插件详情")}}</div>
    <div class="settings-value">
        <select name="search_plugin_detail_show" data-type="str" value="{{_user_config.search_plugin_detail_show}}">
            <option value="true">展开</option>
            <option value="false">不展开</option>
        </select>
    </div>
</div>

{% if _is_admin %}
<div class="settings-row">
    <div class="settings-key">{{T("相关词词库")}}</div>
    <div class="settings-value">
        <a class="btn btn-default" href="{{_server_home}}/dict/relevant/list">进入</a>
    </div>
</div>
{% end %}
