{% extends base %}

{% block head %}
<style type="text/css">
label {
    float: left;
    width: 80px;
}
</style>
{% end %}

{% block body %}

{% init type = "md" %}
<div class="card">
    <h3>{{T("创建笔记")}}</h3>
    <form method="POST" action="">
        <div class="row">
            <label>{{T("标题")}}</label> 
            <input type="text" class="mid-text" name="name" value="{{name}}" style="width:200px;"/>
        </div>
        <div class="row">
            <label>{{T("类型")}}</label>
            <input type="radio" name="type" value="md" {% if type=="md" %} checked {% end %}>Markdown
            <input type="radio" name="type" value="html" {% if type=="html" %} checked {% end %}>富文本
            <input type="radio" name="type" value="csv" {% if type=="csv" %} checked {% end %}>表格
        </div>
        <div class="row">
            <label>{{T("文集")}}</label>
            <select name="parent_id">
                {%for item in groups %}
                    <option value="{{item.id}}" {%if item.id==parent_id%} selected {%end%}>{{item.name}}</option>
                {% end %}
            </select>
        </div>
        <div class="row">
            <label>&nbsp;</label>
            <button class="mid-text">{{T("添加")}}</button>
        </div>
    </form>
</div>
{% end %}

{% block aside %}
    {% include note/mod_aside.html %}
{% end %}
