{% init file_type = "group_list" %}
{% init ungrouped_count = 0 %}
{% set fixed_books = [
    ("未分类", "/note/ungrouped"),
    ("回收站", "/note/removed"),
    ("表格", "/note/table"),
    ("相册", "/note/gallery"),
]%}

<div class="grid-row card">
    <h3>{{T("NoteBook")}}
        <div class="float-right">
            <a class="prompt-btn btn" message="新建笔记本" 
                        action="/note/add?type=group&name=">+笔记本</a>
            <a class="btn" href="/note/add">+笔记</a>
        </div>
    </h3>

    {% for name, url in fixed_books %}
        <a href="{{url}}">
            <div class="book-item">
                <img src="/static/image/folder.gif"/>
                {{name}}
            </div>
        </a>
    {% end %}

    {% for item in files %}
        <a href="/note/view?id={{item.id}}">
        <div class="book-item">
            <img src="/static/image/folder.gif"/>
            {% if item.priority > 0 %}[置顶]{% end %}
            {{item.name}}
            <span class="book-size">[{{item.size}}]</span>
        </div>
        </a>
    {% end %}
</div>
