<!-- 
@since 2018/03/06
@modified 2019/09/18 00:28:02
-->

{% init files = [] %}
{% init pseudo_groups = False %}
{% init show_opts = True %}
{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_next  = False %}
{% init file = None %}

{% include "note/view_header.html" %}

<div class="grid-row note-list">
    {% for item in files %}
        <a class="dialog-link" href="{{item.url}}">
            <div class="book-item">
                {% if item.type == "group" %}
                    <img src="/static/image/folder.gif"/>
                {% elif item.type == "csv" %}
                    <img src="/static/image/icon_csv.png"/>
                {% end %}

                {%if item.priority>0%}[置顶]{%end%}
                {{item.name}}
                
                <span class="book-size">
                    {% if show_cdate %}
                        {{format_date(item.ctime).replace('-', '/')}}
                    {% end %}

                    {% if show_mdate %}
                        {{format_date(item.mtime).replace('-', '/')}}
                    {% end %}

                    {% if show_adate %}
                        {{format_date(item.atime).replace('-', '/')}}
                    {% end %}

                    {% if show_next %}
                        <span class="icon-next">&nbsp;</span>
                    {% end %}
                </span>
            </div>
        </a>
    {% end %}
</div>

