<!-- 
@since 2018/03/06
@modified 2019/09/30 13:13:30
-->

{% init files = [] %}
{% init show_opts = True %}
{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_next  = False %}
{% init file = None %}
{% init dir_type = "" %}
{% init tags = "" %}

{% include "note/view_header.html" %}
<div class="grid-row note-list">
    {% for item in files %}
        <a class="dialog-link" href="{{item.url}}?dir_type={{dir_type}}&tags={{tags}}">
            <div class="book-item">
                {% if item.type == "group" %}
                    <i class="fa fa-folder black"></i>
                {% elif item.type == "csv" %}
                    <i class="fa fa-table black"></i>
                {% elif item.type == "gallery" %}
                    <i class="fa fa-image black"></i>
                {% else %}
                    <i class="fa fa-file-text-o black"></i>
                {% end %}

                {%if item.priority>0%}[置顶]{%end%}
                {{item.name}}
                
                <span class="book-size">
                    {% if show_cdate %}
                        {{format_date(item.ctime).replace('-', '/')}}
                    {% end %}

                    {% if show_mdate %}
                        {{format_date(item.mtime).replace('-', '/')}}
                    {% end %}

                    {% if show_adate %}
                        {{format_date(item.atime).replace('-', '/')}}
                    {% end %}

                    {% if show_next %}
                        <span class="icon-next">&nbsp;</span>
                    {% end %}
                </span>
            </div>
        </a>
    {% end %}
</div>

