{% extends base %}

{% block head %}
<style type="text/css">
    .tag-link {
        color: blue;
    }
</style>
{% end %}

{% block body %}
<div class="grid-card">
    <div class="grid-title">
        标签云
    </div>
    <div class="top-offset-1">
    {% for tag_info in tag_list %}
        <span class="tag-span">
            <a class="tag-link" href="/note/tagname/{{tag_info.name}}">{{tag_info.name}}</a>
            {{tag_info.amount}}
        </span>
    {% end %}
    </div>
</div>
{% end %}

{% block aside %}
    {% include note/mod_aside.html %}
{% end %}
