{% extends base %}

{% block head %}
<style type="text/css">
  .note-header-span {
    line-height: 32px;
  }

  .things {
    padding-left: 20px;
  }

  #loadMore {
    text-align: center;
    width: 100%;
    float: left;
    color: blue;
  }
</style>
{% end %}

{% block body %}

{% init type = "ctime" %}
{% init base_path = "/note/timeline" %}
{% init key = "" %}

<script src="/static/lib/vue/vue-2.2.6.min.js"></script>

<div id="app" class="card content">

  <div class="note-header card-title">
    <span class="note-header-span">{{title}}</span>

    <div class="float-right">
        {% if type not in ("search", "public") %}
          {% include note/component/create_option.html %}
        {% end %}

        {% if type == "default" %}
          {% include note/component/group_option.html %}
        {% elif type == "search" %}
          <a class="btn btn-default" href="/search?key={{quote(key)}}&category=content">高级搜索</a>
        {% elif type != "public" %}
          <div class="dropdown">
              <span class="dropdown-btn link btn">更多▾</span>
              <div class="dropdown-content">
                  <a class="dropdown-option" href="{{base_path}}?type=sticky">只看置顶</a>
                  <a class="dropdown-option" href="{{base_path}}?type=document">只看文档</a>
                  <a class="dropdown-option" href="{{base_path}}?type=gallery">只看相册</a>
                  <a class="dropdown-option" href="{{base_path}}?type=list">只看清单</a>
                  <a class="dropdown-option" href="{{base_path}}?type=table">只看表格</a>
                  <a class="dropdown-option" href="{{base_path}}?type=archived">只看归档</a>
                  <a class="dropdown-option" href="/note/index">统计</a>
              </div>
          </div>
        {% end %}
    </div>
  </div>

  <article class="row" v-for="item in itemList">
    <h3 class="card-title-2">{{!item.title}}</h3>
    <section v-for="file in item.files">
      <span class="point-time point-green"></span>
      <time datetime="">
        <span>{{!item.ctime}}</span>
      </time>
      <aside>
        <p class="things">
          <!-- <input type="checkbox" class="icon-check" v-if="file.type == 'gallery'"/> -->
          <i class="fa" v-bind:class="file.icon"></i>
          <a v-bind:href="file.url">{{!file.name}}</a>
          <span v-if="file.type=='group' || file.type=='system'" class="float-right gray-text">{{!file.size}}</span>
        </p>
        <p class="brief"><span class="text-green"></span></p>
      </aside>
    </section>
  </article>
</div>

<header class="site-footer card">
  <div class="wrapper">
    {% if type != "root" %}
      <a id="loadMore" href="javascript:void(0)">加载更多</a>
    {% end %}
  </div>
</header>

<script type="text/javascript">
  // 全局变量
  var QUERY_LIMIT = 100;

    var itemList = {};
    
    var app = new Vue({
        el: "#app",
        data: {
            itemList: itemList,
            offset: 0
        }
    });

    app.itemList = [];
    app.offset = 0;

    function mergeFiles(list, key, files) {
      for (var i = 0; i < list.length; i++) {
        var item = list[i];
        if (item.title == key) {
          item.files = item.files.concat(files);
          return;
        }
      }
      list.push({title: key, files: files});
    }

    function loadMore(showToast) {
      var type = "{{type}}" || getUrlParam("type");
      var parent_id = getUrlParam("parent_id");
      var searchKey = "{{key}}";
      var loadingNoteIndex;
      layer.ready(function(){
        // 等待layer的资源加载完再显示，不然样式会漂移
        loadingNoteIndex = layer.load(2);
      }); 

      $.get("/note/api/timeline?_type=json&type=" + type, 
        { 
          offset: app.offset,
          limit : QUERY_LIMIT,
          parent_id: parent_id,
          key: searchKey
        }, 
        function (resp, status) {
          layer.close(loadingNoteIndex);
          var data = resp.data;
          if (data == "{}") {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
          var resp = data;
          // app.itemList = [];
          var count = 0;
          for (var key in resp) {
            console.log(key, resp[key]);
            var files = resp[key];
            app.offset += files.length;
            mergeFiles(app.itemList, key, files);
            count++;
            // app.itemList.push({title: key, files: files});
          }
          if (count == 0) {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
          
          app.itemList.sort(function (a, b) {
            if (a.title == "置顶") {
              return -1;
            }
            if (a.title < b.title) {
              return 1;
            }
            if (a.title > b.title) {
              return -1;
            }
            return 0;
          });
      }).fail(function (error) {
          layer.close(loadingNoteIndex);
      });
    }


    $("#loadMore").on("click", function() {
      loadMore(true);
    })

    layer.ready(function () {
      // 等待layer资源加载
      loadMore(false);
    });
</script>
{% end %}

{% block aside %}
  {% include note/mod_aside.html %}
{% end %}
