<div style="">    
    <span id="fileId" style="display:none;">{{file.id}}</span>
    <h2>{{file.name}} </h2>
    
    <div class="col-md-12">
        {% if _has_login and (_is_admin or _user_name == item.creator) %}
            <a href="/note/edit?id={{file.id}}">编辑</a>
            <a href="javascript:rename({{item.id}}, '{{item.name}}')">重命名</a>
            {% if file.is_public %}
                <a href="/file/share/cancel?id={{file.id}}">取消分享</a>
            {% else %}
                <a href="/file/share?id={{file.id}}">分享</a>
            {% end %}

            {% if file.is_marked > 0 %}
                <a href="/file/unmark?id={{file.id}}">取消收藏</a>
            {% else %}
                <a href="/file/mark?id={{file.id}}">收藏</a>
            {% end %}

            <a class="dialog-btn" dialog-url="/file/group?id={{item.id}}&filetype=xml" href="javascript:void({{item.id}})">移动</a>
            <a class="red" href="javascript:remove({{item.id}}, '{{item.name}}', {{item.parent_id}})">删除</a>

        {% end %}
    </div>

    {% include note/tags.html %}
    <span id="result" style="color:green"></span>
</div>