{% init xnote_table_var = "table" %}
{% set _xnote_table = globals()[xnote_table_var] %}

<script type="text/javascript" src="/_static/lib/layDate-v5.0.9/laydate.js"></script>

<table class="table">
    <tr>
        {% for head in _xnote_table.heads %}
            <th style="width:{{head.width}}">{{head.title}}</th>
        {% end %}

        {% if len(_xnote_table.actions) > 0 %}
            <th>操作</th>
        {% end %}
    </tr>

    {% for row in _xnote_table.rows %}
        <tr class="hover-tr">
            {% for head in _xnote_table.heads %}
                <td class="{{head.get_css_class(row)}}">
                {% if head.has_link(row) %}
                    <a href="{{head.get_link(row)}}">{{row.get(head.field)}}</a></td>
                {% else %}
                    {{row.get(head.field)}}
                {% end %}
                </td>
            {% end %} 

            {% if len(_xnote_table.actions) > 0 %}
                <td>
                    {% for action in _xnote_table.actions %}
                        {% if action.type == "link" and action.get_link(row) != None %}
                            <a href="{{action.get_link(row)}}">{{action.title}}</a>
                        {% end %}
                        {% if action.type == "button" and action.get_link(row) != None %}
                            <button class="btn-default {{action.css_class}}" onclick="xnote.table.handleAction(this)" 
                            data-url="{{action.get_link(row)}}" data-title="{{action.get_title(row)}}">{{action.get_title(row)}}</button>
                        {% end %}
                        {% if action.type == "confirm" and action.get_link(row) != None %}
                            <button class="btn-default {{action.css_class}}" onclick="xnote.table.handleConfirmAction(this)" 
                            data-url="{{action.get_link(row)}}" data-msg="{{action.get_msg(row)}}">{{action.get_title(row)}}</button>
                        {% end %}
                        {% if action.type == "edit_form" and action.get_link(row) != None %}
                            <button class="btn-default {{action.css_class}}" onclick="xnote.table.handleEditForm(this)"
                            data-url="{{action.get_link(row)}}" data-title="{{action.get_title(row)}}">{{action.get_title(row)}}</button>
                        {% end %}
                    {% end %}
                </td>
            {% end %}
        </tr>
    {% end %}
</table>

<script>
xnote.table.handleAction = function (target) {
    var url = $(target).attr("data-url");
    var title = $(target).attr("data-title");
    var xnoteDialogId = xnote.showIframeDialog(title, url, ["确认", "取消"]);
}

xnote.table.handleConfirmAction = function (target) {
    var url = $(target).attr("data-url");
    var msg = $(target).attr("data-msg");
    xnote.confirm(msg, function () {
        xnote.http.get(url, function (resp) {
            if (resp.success) {
                xnote.toast("操作成功");
                window.location.reload();
            } else {
                xnote.toast(resp.message);
            }
        }); 
    });
}

xnote.table.handleEditForm = function (target) {
    var url = $(target).attr("data-url");
    var title = $(target).attr("data-title");

    xnote.http.get(url, function (respHtml) {
        var options = {};
        options.title = title;
        options.html = respHtml;
        xnote.showDialogEx(options);
    });
}

</script>