<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-07-13 20:18:28
@LastEditors  : xupingmao
@LastEditTime : 2023-12-02 13:19:18
@FilePath     : /xnote/handlers/note/component/sort/note_sort_tab.html
@Description  : 描述
 #} -->


{% init orderby = "name_asc" %}
<div class="row">
    <div class="x-tab-box" data-tab-default="{{orderby}}" data-tab-key="orderby">
        <a class="x-tab" data-tab-value="name_asc">名称排序</a>
        <a class="x-tab" data-tab-value="hot_desc">热门</a>
        <a class="x-tab" data-tab-value="size_desc">大小</a>
        <a class="x-tab" data-tab-value="ctime_desc">最新</a>
    </div>
</div>