<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-07-13 20:18:28
@LastEditors  : xupingmao
@LastEditTime : 2023-12-02 13:19:18
@FilePath     : /xnote/handlers/note/component/sort/note_sort_tab.html
@Description  : 描述
 #} -->

{% from handlers.note.models import OrderTypeEnum %}
{% init order_type = 0 %}

<div class="row">
    <div class="float-left">
        <a class="x-tab title">排序</a>
    </div>
    <div class="x-tab-box btn-style float-left" data-tab-default="{{order_type}}" data-tab-key="order_type">
        {% for item in OrderTypeEnum.enums() %}
            <a class="x-tab" href="#" data-tab-value="{{item.value}}" data-id="{{file.id}}" data-value="{{item.value}}" 
                onclick="javascript:xnote.note.updateOrderType(this)">{{item.name}}</a>
        {% end %}
    </div>
</div>