{% import os %}
{% from xutils import fsutil %}
{% init show_rename_file_link = True %}

<table class="table row">
    {% for fpath in pathlist %}
        {% set fname = os.path.basename(fpath) %}
        {% set display_name = fsutil.get_display_name(fpath, dirname) %}
        <tr>
            <td class="option-name"><a href="{{fsutil.get_webpath(fpath)}}">{{display_name}}</a></td>
            <td class="option-td">
                {{xutils.format_file_size(fpath)}}
            </td>
            <td class="option-td">
                <div class="float-right">
                    {% if show_rename_file_link %}
                        <a class="rename-btn" data-name="{{display_name}}" 
                            onclick="xnote.action.fs.rename(this);">重命名</a>
                    {% end %}
                    <a class="danger-link" data-path="{{fpath}}" data-name="{{display_name}}" 
                        onclick="xnote.action.fs.delete(this);">删除</a>
                </div>
            </td>
        </tr>
    {% end %}
</table>
