{% set data_list = [
    Storage(name = "收藏夹", url = "/fs_bookmark"),
    Storage(name = "索引管理", url = "/fs_index"),
    Storage(name = "图片管理(TODO)", url = "/system/todo"),
    Storage(name = "文档管理(TODO)", url = "/system/todo"),
] %}

{% init show_app_index_icon = False %}
{% include common/sidebar/app_index.html %}

<div class="card list">

    {% for item in data_list %}
        <a class="list-link" href="{{_server_home}}{{item.url}}">
            <span>{{item.name}}</span>
            <div class="float-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
    {% end %}

</div>


<div class="card">
    <div class="card-title">
        <span>中转站</span>
        <div class="float-right">
            <button class="btn btn-default">清空</button>
        </div>
    </div>
</div>