
<style type="text/css">
    .fs-image {
        width: 180px;
    }
    .fs-path {
        padding: 5px;
        background-color: #eee;
    }

    .file-list {
        display: block;
        float: left;
        width: 100%;
        overflow: auto;
    }

    .checkboxTd {
        width: 20px;
        padding-left: 0px;
    }
        
    /* 上传文件样式 */
    .progress {
        background-color: #f90;
        color: #fff;
        height: 20px;
        display: none;
        margin-left: 5px;
        border-width: 3px;
    }
    .progress span {
        display: block;
        background-color: #f90;
        color: #fff;
        height: 100%;
    }
    
    .finished-tag {
        color: #fff;
        background-color: green;
        border-width: 3px;
        border-radius: 3px;
        margin-left: 5px;
    }

    #dropArea {
        float: left;
        width: 100%;
        height: 80px;
        line-height: 80px;
        border: 3px dashed silver;
        text-align: center;
        font-size: 36px;
        color: #d3d3d3;
        cursor: pointer;
    }

    tr:hover td {
        background: none;
    }

    tr:hover {
        background-color: #eee;
    }

    .cmd-input {
        width: 100%;
        max-width: 700px;
        background-color: rgb(230, 230, 255);
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-family: monospace;
        font-size: 16px;
        display: none;
    }

    #uploadFileArea {
        display: none;
    }

    .size-td {
        width: 100px;
    }

    .options-td {
        width: 25%;
        text-align: right;
    }

    {% if not xconfig.DEV_MODE %}
        .advanced-opt {
            display: none;
        }
    {% end %}

    #controlArea {
        margin-bottom: 5px;
    }

    #result {
        border: 1px solid #ccc;
        padding: 4px;
        background-color: #eee;
        margin: 0px;
        border-top: none;
        font-family: consolas, monospace;
    }

    .panel-title {
        width: 100%;
        border: 1px solid #ccc;
        padding-left: 5px;
        margin-top: 5px;
    }

    .plugin {
        margin-top: 5px;
    }

    .nav-path {
        padding: 5px;
        background-color: #eee;
    }

    .fs-move-row {
        line-height: 30px;
        padding: 0px 5px;
    }

    .fs-move-row:hover {
        background-color: #eee;
    }

    .fs-scrollbar::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 10px;
        height: 10px;
        background-color: #eee;
    }

    .fs-scrollbar::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        background-color: #999;
    }


    .fs-scrollbar::-webkit-scrollbar-track { 
        /*滚动条里面轨道*/
        /*border-radius: 10px; */
        /*background: #eee; */
    } 

    .move-file-dialog {
        padding: 5px;
    }

    .fs-size-span {
        color: #888;
    }
     
</style>