{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-04-30 10:07:51
@LastEditors  : xupingmao
@LastEditTime : 2022-04-30 12:56:40
@FilePath     : /xnote/handlers/search/component/search_sidebar.html
--> #}


<div class="card">
    <div class="card-title">
        <span>相关搜索</span>
        <div class="float-right">
            <a class="btn btn-default" href="/dict/relevant/list">编辑词库</a>
        </div>
    </div>

    <div class="list">
        <div class="list-item">
            开发中...
        </div>
    </div>
</div>