<script type="text/javascript">
$(function () {
    $(".delete-user-btn").click(function (e) {
        var name = $(this).attr('data-name');
        var user_id = $(this).attr("data-id");

        xnote.confirm("确定删除[" + name + "]?", function (ret) {        
            if (ret) {
                $.post("/system/user/remove", 
                    {user_id: user_id},
                    function (result) {
                        window.location = "/user/list";
                    });
            }
        })
    });  

    $(".show-password-link").click(function (e) {
        var data = $(this).attr("data-value");
        var data = $("<div>").text(data).html();
        xnote.alert(data);
    });
})
</script>