
/** 列表样式 **/
.list-item, .list-link {
    width: 100%;
    padding: 10px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    line-height: 25px;
    border-bottom: 1px solid #eee;
}

.list-item.no-padding {
    padding: 0px;
}

.list-item-link {
    display: block;
    width: 100%;
    padding: 10px 5px;
}

.list-link, a.list-item {
    cursor: pointer;
}

.list-item:last-of-type, .list-link:last-of-type {
    border-bottom: none;
}

.list-item:hover, .list-link:hover {
    background-color: #eee;
}

.list-link i, .list-item i {
    color: black;
}

.list-item-badge {
    color: #888;
}

.list-item-black {
    color: black;
}

.list-item-black a {
    color: black;
}
