.border-bottom {
    border-bottom: 1px solid #eee;
}

.padding-right-small {
    padding-right: 4px;
}

.padding-left-small {
    padding-left: 4px;
}

.padding-x-small {
    padding-left: 4px;
    padding-right: 4px;
}

.padding-x-mid {
    padding-left: 8px;
    padding-right: 8px;
}

.padding-y-small {
    padding-top: 4px;
    padding-bottom: 4px;
}

.badge-info, .book-size-span {
    color: #888;
}
