
.btn-link, .button-link {
    text-decoration: none;
    cursor: pointer;
}

.btn-link:hover, .button-link:hover {
    background: #ccc;
}

.link, .black-link, .link2 {
    cursor: pointer;
}

.link {
    /*color: #37a; */
    color: #08c;
}

.link.margin-0 {
    margin: 0px;
}

.black-link, .link.black {
    color: black;
}

.link2 {
    color: black;
}

.link2:hover {
    color: gray;
}

.path-link, .default-path-link {
    line-height: 28px;
    color: #000;
    margin-right: 0;
}

.path-link:hover, .default-path-link:hover {
    color: #888;
}

.default-path-link {
    color: #08c;
}

.danger-link, a.danger {
    color: red;
}

.selected-link {
    /*border-bottom: 2px solid red;*/
    color: red;
}

/* 高对比度link */
.contract-link {
    display: block;
    color: #08c;
    line-height: 20px;
    float: left;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
}

.contract-link:hover {
    color: white;
    background-color: #08c;
    text-decoration: none;
}


.link.active {
    color: white;
    background-color: #08c;
    padding: 3px;
    border-radius: 3px;
}

.action-link {
    word-break: keep-all;
}

a.small {
    font-size: 12px;
}
