/**
 * description here
 * @author xupingmao
 * @since 2021/07/25 12:04:40
 * @modified 2022/03/13 16:38:20
 * @filename common-button.css
 */


.fixed-button-box {
    position: fixed;
    right: 20px;
    bottom: 20%;
}

.fixed-bottom-box {
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 0px;
}

.fixed-button {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.6;
    box-shadow: 2px 2px 2px #888;
}

.fixed-button:hover {
    opacity: 1.0;
}

.fixed-button-inner-box {
    float: left;
    width: 50%;
    padding: 10px;
}

.fixed-button-2 {
    color: white;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.6;
    box-shadow: 2px 2px 2px #888;
}


/** 按钮样式 **/

/* 不能指定input[type=button]不然会覆盖其他class样式(选择器优先级过高) */
.btn, [type=submit], [type=button], button, .inline-btn, .x-tab-btn {
    display: inline-block;
    -webkit-appearance: none; /* 消除IOS默认的按钮样式 */
    background-color: #337ab7;
    /*background-color: #067bef;*/
    /*background-color: #06f;*/
    border-color: #2e6da4;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    padding: 3px 7px 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    border-radius: 3px;
    font-family: "Open Sans",Arial,Helvetica,sans-senif,"Microsoft Yahei",SimSun,"宋体";
}

.btn.large, [type=button].large, button.large {
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover, .inline-btn:hover, button:hover, [type=submit]:hover, [type=button]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
    text-decoration: none;
}

.btn-default, .btn-cancel {
    color: black;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-default:hover, .btn-cancel:hover {
    color: black;
    background-color: #ccc;
}

.btn-danger {
    background-color: #f00;
    border-radius: 3px;
}

.btn-danger:hover {
    background-color: #c00;
}

.btn-line-height {
    line-height: 32px;
}

.inline-btn {
    margin-top: 0px;
    border-radius: 3px;
}

.prompt-btn:hover {
    cursor: pointer;
}

.btn.danger {
    color: red;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn.danger:hover {
    background-color: #ccc;
    border-color: #000;
}

.btn.danger2 {
    color: red;
}


.toolbar.homepage {
    position: fixed;
    right: 10px;
    bottom: 20%;
}

.toolbar.homepage>.action {
    width: 50px;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    opacity: 0.5;
}

.toolbar.homepage>.action:hover {
    opacity: 1.0;
}

.btn.large {
    width: 100px;
    height: 30px;
}

.btn.huge {
    width: 100%;
    height: 30px;
}