

/** 移动端样式放在最后 **/
@media screen and (max-width: 1000px) {
    /** mobile **/

    .root {
        left: 0px;
        right: 0px;
        width: 100%;
    }

    .x-body {
        /*top: 80px;*/
    }

    .nav {
        border: none;
    }

    /* 移动端菜单样式 */
    .menu-box, .nav-ul {
        width: 100%;
    }

    .nav-item {
        width: 25%;
        text-align: center;
    }

    .nav-search {
        /*width: 100%;*/
        display: none;
    }

    .main-content {
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .aside {
        width: 100%;
        padding: 0px;
        margin-left: 0px;
    }

    .aside li {
        float: left;
        width: auto;
        padding-right: 5px;
        width: 25%;
    }

    .small-device {
        display: inherit;
    }

    .grid-item {
        width: 50%;
    }

    .plugin-item {
        width: 100%;
        margin-left: 0px;
    }

    .input-group {
        width: 100%;
    }

    .input-group label, .input-group input[type=text], .input-group input[type=password], .input-group select {
        width: 100%;
        text-align: left;
        padding-left: 5px;
    }
}
