/**
 * markdown的样式扩展
 * @author xupingmao
 * @since 2021/08/01 14:25:17
 * @modified 2022/03/27 16:53:38
 * @filename common-markdown.css
 */

.markdown-box img {
    width: 100%;
    text-align: center;
}

.xnote-todo {
    background-color: #FFDEAD;
    padding: 2px;
    border-radius: 2px;
    line-height: 26px;
}

div.xnote-todo {
    display: inline-block;
    margin-top: 5px;
}

div.xnote-done {
    display: inline-block;
    margin-top: 5px;
}

.xnote-done {
    color: #aaa;
    border-radius: 2px;
}

.xnote-todo.doing {
    color: black;
    background-color: #98FB98;
}