.input-group {
    float:left;
    width:170px;
    height: 65px;
    padding-bottom:5px;
    max-width: 700px;
    line-height: 29px;
    overflow-y: hidden;
}

.input-group label {
    width: 100%;
    float: left;
    line-height: 29px;
    text-align: left;
}

.input-group input[type=text], .input-group input[type=password], .input-group select {
    width: 160px;
}

.input-group button {
    margin-top: 0px;
}

.input-group.row {
    width: 100%;
}

.input-group-row {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.input-group-row input, .input-group-row select, .input-group-value, 
.input-group.row input, .input-group.row select {
    width: 200px;
    float: left;
}

input[readonly] {
    background-color: #eee;
}

/** 默认表单(编辑表单) **/
.form-row {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    float: left;
}
.form-row label {
    width: 100px;
    display: block;
    float: left;
    line-height: 29px;
}

.form-row input, .form-row select, .form-row textarea {
    width: 300px;
}

.form-row textarea {
    height: 50px;
}

.form-body {
    position: absolute;
    padding: 10px;
    top: 0px;
    bottom: 50px;
    overflow-y: auto;
    right: 0px;
    left: 0px;
}
.form-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 10px;
}


.form-heading {
    width: 100%;
    background-color: #eee;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: normal;
}

.form-heading label {
    line-height: normal;
}

/* 查询表单相关样式 */
.query-form.form-body {
    position: static;
    padding: 0px;
}
.query-form.form-footer {
    position: static;
    padding: 0px;
    height: auto;
}
.query-form .form-row {
    width: 170px;
    float: left;
    padding-left: 0px;
    margin-bottom: 5px;
}
.query-form .form-row-value {
    width: 160px;
}

/* 页面编辑表单（非弹窗） */
.page-edit-form.form-body {
    position: static;
    padding: 0px;
}
.page-edit-form.form-footer {
    position: static;
    padding: 0px;
    height: auto;
}