/**
 * 下拉选项列表控件
 * @author mark
 * @since 2022/03/12 10:32:46
 * @modified 2022/04/04 23:56:22
 * @filename common-dropdown.css
 */

.x-dropdown, .dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-btn {
    margin-right: 0px;
}

.dropdown-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    left: -67px;
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    cursor: pointer;
}

.dropdown-content.mobile {
    position: fixed;
    height: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    top: unset;
    overflow-y: auto;
}

/* 左对齐 */
.x-dropdown.align-left > .dropdown-content {
    left: 0px;
    text-align: left;
}

/* 右对齐 */
.x-dropdown.align-right > .dropdown-content {
    left: -67px;
}

.dropdown-option {
    padding: 8px;
    margin: 0px;
    color: black;
    font-weight: bold;
    display: block;
}

.dropdown-option:hover {
    background-color: #09f;
    color: white;
}

.dropdown-option-red {
    padding: 8px;
    margin: 0px;
    color: red;
    font-weight: bold;
    display: block;
}

.dropdown-option-red:hover {
    background-color: #09f;
    color: red;
}
