.border-bottom {
    border-bottom: 1px solid #ccc;
}

.padding-right-small {
    padding-right: 5px;
}

.padding-left-small {
    padding-left: 5px;
}

.padding-x-small {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-x-mid {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-y-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.badge-info, .book-size-span {
    color: #888;
}
