/**
 * description here
 * @author xupingmao
 * @since 2022/04/09 18:42:06
 * @modified 2022/04/09 19:07:19
 * @filename common-photo.css
 */

.layui-layer-imgbar.imgbar-top {
    bottom: unset;
    top: 0px;
    text-align: left;
    font-size: 14px;
    background-color: rgba(100,100,100,0.7);
    z-index: 1;
    position: fixed;
}

.layui-layer-imgbar.imgbar-bottom {
    position: fixed;
    background-color: rgba(100,100,100,0.7);
}

.layui-layer-imgbar .clickable {
    cursor: pointer;
    padding: 5px;
}

.layui-layer-imgbar .clickable:hover {
    background-color: #ccc;
    color: black;
}