/**
 * description here
 * @author xupingmao
 * @since 2021/11/28 19:24:44
 * @modified 2021/11/28 19:28:07
 * @filename common-dialog.css
 */

.dialog-textarea {
    position: absolute;
    left: 0px;
    right: 0px;
    font-size: 14px;
    top: 0px;
    bottom: 0px;
}


.dialog-body {
    position: absolute;
    padding: 10px;
    top: 0px;
    bottom: 50px;
    overflow-y: auto;
    right: 0px;
    left: 0px;
}

.dialog-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 10px;
}