/**
 * 标签的样式
 * @author xupingmao
 * @since 2021/05/22 12:56:05
 * @modified 2022/01/02 12:23:54
 * @filename common-tag.css
 */

/** .tag的优先级最低，要放在最前面 **/
.tag {
    font-size: 12px;
    background-color: green;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin-right: 2px;
}


.tag-link {
    text-decoration: none;
    color: white;
}

.tag-link:hover {
    background-color: initial;
    text-decoration: underline;
}

.inline-tag {
    display: inline-block;
}

.pink-tag {
    background-color: pink;
}

.red-tag {
    background-color: red;
    color: white;
}

.orange-tag {
    background-color: orange;
    color: white;
}

.gray-tag {
    color: white;
    background-color: #ccc;
}


.lightgray-tag {
    background-color: #eee;
    color: black;
}


.tag-span, .tag-span-danger {
    display: block;
    float: left;
    font-size: 12px;
    line-height: 20px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tag-span:hover {
    background-color: #eee;
}

.tag-span-danger {
    color: red;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}

.gray-tag-link, .gray-tag-span {
    background-color: #ccc;
    color: white;
    padding: 3px;
    border-radius: 3px;
    word-break: keep-all;
}

.info-tag {
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
    background: rgb(13, 202, 240);
    color: #fff;
}
