
/** 表格 **/
.no-border-table td {
    border: none;
}

.table {
    width: 100%;
}

.table th{
    border-color: #ccc;
    text-align: left;
}

.table td {
    border-color: #ccc;
    word-wrap: break-word;
    word-break: break-all;
}

/* 
这种方式走不通,需要声明hover-tr
.table tr:hover td{
    background-color: none;
}

.table tr:hover{
    background-color: #eee;
}
*/

.row-no, .index-td {
    width: 50px;
}

.hover-tr:hover td {
    /* td的背景不展示才能让tr的背景展示出来 */
    background: none;
}

.hover-tr:hover {
    background-color: #eee;
}

.table-action-row, .table-action-bar {
    padding-bottom: 5px;
    width: 100%;
    float: left;
}

.info-table {
    width: 100%;
}

.info-table .name {
    font-weight: bold;
    width: 20%;
}

.info-table .value {
    width: 30%;
}

/* 2列信息表格定制样式 */
.info-table.col-2 .name {
    width: 150px;
}
.info-table.col-2 .value {
    width: auto;
}

/* 6列信息表格 */
.info-table.col-6 .name {
    width: 10%;
}
.info-table.col-6 .value {
    width: 13.3%;
}