/**
 * 标签的样式
 * @author xupingmao
 * @since 2021/05/22 12:56:05
 * @modified 2022/03/12 10:52:50
 * @filename common-tag.css
 */

/** .tag的优先级最低，要放在最前面 **/
.tag {
    font-size: 12px;
    background-color: green;
    color: white;
    border-radius: 3px;
    padding: 3px 5px;
    margin-left: 2px;
    margin-right: 2px;
    word-break: keep-all;
    display: inline-block;
    line-height: 17px;
}


a.tag {
    text-decoration: none;
    color: white;
    word-break: keep-all;
    word-wrap: unset;
    display: inline-block;
}

a.tag:hover {
    text-decoration: underline;
}

.inline-tag {
    display: inline-block;
}

.tag.pink {
    background-color: pink;
}

.tag.red, .red-tag {
    background-color: red;
    color: white;
}

.tag.orange, .orange-tag {
    background-color: orange;
    color: white;
}

.gray-tag, .tag.gray, .tag.grey {
    color: white;
    background-color: #ccc;
}


.tag.lightgray {
    background-color: #eee;
    color: #08c;
}

.tag.lightgray:hover {
    background-color: #eee;
}

.tag.lightgray.active {
    background-color: #08c;
    color: white;
}


.tag-span, .tag-span-danger {
    display: block;
    float: left;
    line-height: 20px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tag-span:hover {
    background-color: #eee;
}

.tag-span-danger {
    color: red;
}

.tag-span-light {
    border: 1px solid #ccc;
    background-color: #cf9;
    padding: 5px;
    color: #000;
    margin: 2px;
    display: block;
    float: left;
    line-height: 20px;
}

.tag-span-light a {
    color: #000;
}

.gray-tag-link, .gray-tag-span {
    background-color: #ccc;
    color: white;
    padding: 3px;
    border-radius: 3px;
    word-break: keep-all;
}

.info-tag, .tag-info, .tag.info {
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
    background: rgb(13, 202, 240);
    color: #fff;
}

.tag.system {
    background-color: #000;
    color: white;
}

.tag.large {
    font-size: 14px;
    line-height: 19px;
}

.tag.lightblue {
    color: #08c;
    background-color: #ddf4ff;
}