/* 宽屏设备 */
@media screen and (min-width: 1500px) {
    body, a, textarea, span, .card-title, .grid-title {
        font-size: 16px;
    }
    
    button, .btn, .btn-default, input[type=button] {
        font-size: 14px;
        line-height: 20px;
    }
    
    .send-button {
        width: 80px;
    }
    
    .tag-span {
        font-size: 16px;
    }
}

