{% extends base.html %}

{% block body %}

{% init address = "" %}
{% init images = [] %}
{% init scripts = [] %}
{% init texts = [] %}

<div class="rol-md-12 top-offset-1">
    <form method="POST" enctype="multipart/form-data">
        <h2>上传文件或者填写网址</h2>
        <p><input type="file" name="file" /></p>
        <p>网址<input type="text" name="address" style="width: 50em;" value="{{address}}" /></p>
        <p>下载资源<input type="checkbox" name="download_res"/></p>
        <input type="submit" value="Submit"/>
    </form>
</div>

<h2>Images</h2>
<textarea rows={{len(images)+2}} class="col-md-12">
{% for image in images %}{{image}}
{% end %}
</textarea>

<!-- {% for image in images %}
<img src="{{image}}"/>
{% end %} -->

<h2>Scripts</h2>
<textarea rows="{{len(scripts)+2}}" class="col-md-12">
{% for script in scripts%}{{script}}
{% end %}
</textarea>

<h2>Markdown 文本</h2>
<div>
    资料名:<input id="savedName">
    <input type="button" id="saveToDbBtn" class="btn" value="保存到资料库">
</div>
<textarea rows="30" class="col-md-12" id="content">
{% for text in texts%}{{text}}
{% end %}
</textarea>

<script type="text/javascript">
$("#saveToDbBtn").on("click", function () {
    var name = $("#savedName").val();
    var content = $("#content").val();
    $.post("/file/add", 
        {"_type": "json", "name": name, "content": content, "type": "markdown"}, 
        function (responseText) {
            console.log(responseText);
            var data = JSON.parse(responseText);
            if (data.code == "success") {
                alert("添加成功");
            } else {
                alert(data.message);
            }
    })
})
</script>

{% end %}