{% extends base.html %}

{% block head %}
<script src="/static/lib/base64.js"></script>
<script type="text/javascript" src="/static/lib/utf.js"></script>
{% end %}
{% block body %}

<h3>Base64编解码</h3>
<div class="col-md-6">
<label>Input</label>
<textarea id="input" class="col-md-12" rows=10></textarea>
</div>

<div class="col-md-6">
<label>Output</label>
<textarea id="output" class="col-md-12" rows=10></textarea>
</div>

<div class="col-md-12">
    <button onclick="base64Encode()">Encode</button>
    <button onclick="base64Decode()">Decode</button>
</div>

<script>
function base64Encode() {
    var bytes = utf16to8($("#input").val());
    $("#output").val(btoa(bytes));
}

function base64Decode() {
    var chars = atob($("#input").val());
    var str = utf8to16(chars);
    $("#output").val(str);
}
</script>
{% end %}