{% extends base.html %}

{% block body %}
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>User Agent</td>
        <td id="userAgent"></td>
    </tr>
    <tr>
        <td>AppName</td>
        <td id="appName"></td>
    </tr>
    <tr>
        <td>AppVersion</td>
        <td id="appVersion"></td>
    </tr>
    <tr>
        <td>Vendor</td>
        <td id="vendor"></td>
    </tr>
    <tr>
        <td>Screen</td>
        <td id="screen"></td>
    </tr>
    <tr>
        <td>getUserMedia</td>
        <td id="checkGetUserMedia"></td>
    </tr>
    <tr>
        <td>RTCPeerConnection</td>
        <td id="checkRTCPeerConnection"></td>
    </tr>
    <tr>
        <td>Worker</td>
        <td id="checkWorker"></td>
    </tr>
</div>

<script type="text/javascript">
$("#userAgent").html(navigator.userAgent);
$("#appName").html(navigator.appName);
$("#appVersion").html(navigator.appVersion);
$("#vendor").html(navigator.vendor);
$("#screen").html("screen.width:"+screen.width+",screen.height:"+screen.height);
$("#checkGetUserMedia").html(navigator.getUserMedia ? navigator.getUserMedia.toString() : undefined);
$("#checkRTCPeerConnection").html(window.RTCPeerConnection ? window.RTCPeerConnection.toString() : undefined);
$("#checkWorker").html(typeof Worker);
</script>
{% end %}