{% extends base.html %}

{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<style type="text/css">
    .chat-box {
        background-color: #CCFF99;
        padding: 1em;
        padding: 1rem;
        height: 60%;
        overflow-y: scroll;
    }

    .chat-msg-div {
        margin-top: 1rem;
        float: left;
        width: 100%;
    }

    .chat-avatar {
        padding: 5px;
        background-color: #FFCCCC;
        color: black;
        margin-right: 5px;
        border-width: 5px;
        border-radius: 5px;
        width: 50px;
        float: left;
    }
    .chat-msg {
        /*background-color: #99CCFF;*/
        padding: 0.3em;
        padding: 0.3rem;
        margin-top: 0.1rem;
        float: left;
        width: calc(100% - 6em);
    }
    .chat-msg-content {
        padding-left: 0.5rem;
        border-width: 5px;
        border-radius: 5px;
        background-color: #99CCFF;
    }

    .input-box {
        /*position: relative;*/
        /*left: 0;*/
        /*right: 0;*/
        width: 100%;
    }

    .send-button {
        float: right;
        width: 4rem;
    }

</style>
{% end %}

{% block body %}
<script src="/static/lib/vue/vue-2.2.6.min.js"></script>

<div id="app">
    <h2>{{! title }}</h2>
    <div class="chat-box">
        <div class="chat-msg-div" v-for="message in messageList">
            <div class="chat-avatar">
                {{! message.user }}
            </div>
            <div class="chat-msg">
                <div class="chat-msg-content">
                    {{! message.content }}
                </div>
            </div>
        </div>
    </div>
    <div class="chat-box hide">
        <div class="chat-msg-div" v-for="message in messageList">
            <p><span class="chat-avatar">{{! message.user }}</span> {{!message.content}}</p>
        </div>
    </div>
    <div class="hide">
        <input type="text" class="input-box" v-model="input" @keyup.enter="sendMessage()"/>
        <input type="button" name="" class="send-button" value="发送" @click="sendMessage()">
    </div>
    <div class="col-md-12">
        <textarea class="input-box" v-model="input" @keyup.enter="sendMessage()"></textarea>
        <input type="button" name="" class="send-button btn" value="发送" @click="sendMessage()">
    </div>
</div>

<script type="text/javascript">
    function newMessage(content, user) {
        return {"content": content, user:user}
    }

    var app = new Vue({
        el: "#app",
        data: {
            title: "聊天室",
            message: "Hello, Vue!",
            messageList: [newMessage("Welcome to chatroom")],
            person: {
                name:"Jhon",
                age: 20,
            },
            bindmessage: "页面加载于 " + new Date(),
            seen: false,
            rawHtml: "{{!message}}",
            url: "https://www.baidu.com",
            input: "",
        },
        methods: {

            refreshMessage: function () {
                var self = this;
                $.get("/file/chatroom/list", function (respText) {
                    var data = JSON.parse(respText);
                    if (data.code == "success") {
                        var messageList = [];
                        data.data.forEach(function (item, index) {
                            // console.log(item, index);
                            messageList.push(item);
                        })
                        self.messageList = messageList;
                    }
                })
            },

            sendMessage: function () {
                if (this.input == "") {
                    return;
                }
                var self = this;
                $.post("/file/chatroom/add", {content:self.input}, function (respText) {
                    var data = JSON.parse(respText);
                    if (data.code == "success") {
                        var msg = data.data;
                        self.messageList.push(msg);
                        self.input = "";
                        $(".input-box").focus();
                        setTimeout(function () {
                            $(".chat-box").scrollTop($(".chat-box")[0].scrollHeight);
                        }, 200);
                    } else {
                        alert(data.message);
                    }
                    
                }).fail(function (data) {

                })
            }
        }
    });

    app.refreshMessage();
</script>

{% end %}