{% extends base.html %}
{% block head %}

{% end %}

{% block body %}

<div class="col-md-12" style="padding-top: 20px;">
	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="file"/>
		<button>上传</button>
	</form>
</div>

<div class="col-md-12">
<label>Command</label>
<textarea id="command" class="col-md-12" rows=10></textarea>
</div>

<div class="col-md-12" style="padding: 5px 0px;">
    <input id="re_exp" style="width:500px;"/>
</div>

<button>执行</button>

<div class="col-md-12" id="error" style="color:red">
</div>
        
<script>

</script>

{% end %}