{% extends base %}

{% block head %}
    <script type="text/javascript" src="/static/lib/jquery.qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/static/lib/utf.js"></script>
{% end %}

{% block body %}

<div class="card">
    {% set title = "二维码生成" %}
    {% include "tools/base_title.html" %}

    <textarea id="qrcode_input" class="col-md-12" rows=5></textarea>
    <button id="generate">生成</button>

    
</div>
   
<div id="qrcode" class="card hide"></div>

    <script>
    $(function () {
        function showBarCode() {
            var key = $("#qrcode_input").val();
            key = utf16to8(key);
            if (key) {
                $("#qrcode").html("").show();
                $("#qrcode").qrcode(key);
            }    
        }

        $("#generate").click(function () {
            showBarCode();
        });

        var content = getUrlParam("content");
        $("#qrcode_input").text(content);
        showBarCode();
    });
    </script>

{% end %}