{% extends base %}

{% block init_vars_block %}
{% init show_right = False %}
{% end %}

{% block body %}

<div class="card">
    {% set title = "sha1" %}
    {% include "tools/base_title.html" %}
</div>

{% include tools/text_tab.html %}

<div class="card">
    <div class="col-md-6">
        <label>Input</label>
        <textarea id="input" name="input" class="col-md-12" rows=10></textarea>
    </div>

    <div class="col-md-6">
        <label>Output</label>
        <textarea id="output" class="col-md-12" rows=10></textarea>
    </div>

    <div class="col-md-12 top-offset-1">
        <button class="btn" onclick="encodeText()">Encode</button>
    </div>
</div>

<script>
    function encodeText() {
        var inputText = $("#input").val();
        var params = {type:"sha1", input: inputText};
        xnote.http.post("/api/encode", params, function (resp) {
            if (resp.success) {
                $("#output").val(resp.data);
            } else {
                xnote.toast(resp.message);
            }
        })
    }
</script>

{% end %}