{% extends base.html %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/static/lib/webuploader/webuploader.css">
    <script type="text/javascript" src="/static/lib/webuploader/webuploader-0.1.5.min.js"></script>
{% end %}

{% block body %}
<h3>Web Uploader示例</h3>
<!--dom结构部分-->
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>

<script type="text/javascript">
var BASE_URL = "/static/lib/webuploader"
// 初始化Web Uploader
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: BASE_URL + '/Uploader.swf',

    // 文件接收服务端。
    server: '/fs_upload/range',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 需要分片
    chunked: true,
    // 默认5M
    // chunkSize: 1024 * 1024 * 5,
    chunkSize: 1024 * 1024 * 5,
    // 文件上传域的name
    fileVal: "file",

    // 只允许选择图片文件。
    // accept: {
        // title: 'Images',
        // extensions: 'gif,jpg,jpeg,bmp,png',
        // mimeTypes: 'image/*'
    // }
});

// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name +
                '<span class="green-bg" id="' + file.id + '-result"></span>' + 
                 '</div>' +
            '</div>'
            ),
        $img = $li.find('img');

    $list = $("#fileList");
    // $list为容器jQuery实例
    $list.append( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    var thumbnailWidth = 100;
    var thumbnailHeight = 100;
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});

// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

uploader.on( 'uploadBeforeSend', function (object, data, headers) {
    data.dirname = location.hash.substr(1);
})

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ) {
    $( '#'+file.id ).addClass('upload-state-done');
    $( '#'+file.id + "-result" ).text("上传完成!!!");
});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});

</script>


{% end %}