{% extends base/base.html %}

{% block body_top %}
    {% include message/component/message_title.html %}
{% end %}

{% block body_left %}

    <!-- Tab页 -->
    {% include message/component/message_tab_log.html %}

    <!-- 月份选择器 -->
    {% include common/date/month_picker.html %}

    <!-- 二级目录 -->
    {% include message/component/message_sub_link.html %}

    <!-- 文字区域 -->
    {% include message/component/message_list.html %}

    <script type="text/javascript">
        $(function (e) {
            var date = "{{date}}";

            function getPage() {
                var page = getUrlParam("page");
                if (page == undefined) {
                    return 1;
                } else {
                    return parseInt(page);
                }
            }

            function onMonthSelected(event) {
                var date = event.target;
                window.location.href = "?date=" + date;
            }

            xnote.on("date.month.selected", onMonthSelected);

            refreshMessageList(date);
        })
    </script>

{% end %}
  
{% block body_right %}
    {% include message/component/message_date_right.html %}
{% end %}
