{% extends base %}

<!-- 查看标签视图 -->

{% block body_left %}
    {% include message/component/message_title.html %}

    {% include message/component/message_tab_task.html %}

    {% include message/component/message_sub_link.html %}

    {% if message_tag == "calendar" %}
        <!-- 月份选择器 -->
        {% include common/date/month_picker.html %}
    {% end %}

    {% include message/component/message_tag_list.html %}

    <script type="text/javascript">
        $(function (e) {
            
            function getInputTag() {
                return getUrlParam("tag", "");
            }

            function getDisplayTag() {
                return getUrlParam("displayTag", "");
            }

            function copyFromUrl() {
                var url = "?"
                for (var i = 0; i < arguments.length; i++) {
                    var key = arguments[i];
                    var value = getUrlParam(key, "");
                    if (i !== 0) {
                        url += "&";
                    }
                    url += key + "=" + value;
                }
                return url;
            }

            function onMonthSelected(event) {
                var date = event.target;
                window.location.href = copyFromUrl("tag", "displayTag", "orderby") + "&date=" + date;
            }

            xnote.on("date.month.selected", onMonthSelected);
        })
    </script>


{% end %}

{% block body_right %}
    {% include message/component/message_date_right.html %}
{% end %}

  