{% extends base %}

{% block body %}
    {% include message/component/message_header.html %}

    <div class="card">
        {% if len(tag_list) == 0 %}
            {% include common/text/empty_text.html %}
        {% end %}

        {% for tag_item in tag_list %}
            <a href="{{ tag_item.url }}" class="list-link">
                <span>{{ tag_item.name }}</span>
                <div class="float-right">
                    <span class="book-size-span">{{ tag_item.amount }}</span>
                    <i class="fa fa-chevron-right"></i>
                </div>
            </a>
        {% end %}
    </div>

{% end %}
  