{% extends base %}

{% block body_top %}

    {% init default_content = "" %}
    {% init show_tab = True %}

    <link rel="stylesheet" type="text/css" href="{{_server_home}}/_static/lib/webuploader/webuploader.css">
    <script type="text/javascript" src="{{_server_home}}/_static/lib/webuploader/webuploader.nolog.min.js"></script>
    <script type="text/javascript" src="{{_server_home}}/_static/js/message/message.js?ts={{_ts}}"></script>

    <input class="msg-search-key" type="hidden" value="{{key}}"/>
    <input class="default-content-input" type="hidden" value="{{default_content}}"/>
{% end %}

{% block body_left %}
    <!-- 编辑 -->
    {% include message/component/message_edit.html %}

    {% init message_tag = "" %}
    {% init p = "" %}
    <!-- Tab页 -->
    {% init message_tab = "log" %}
    {% init default_content = "" %}
    {% init date = "" %}

    <!-- 事件转换 -->
    {% include message/component/message_event.html %}
    {% include message/page/message_search_head.html %}
    
    <div class="message-left">
        {% include message/component/right/tags.html %}
    </div>

    <div class="message-right">
        {% include message/component/message_keyword_info.html %}
        <!-- 内容区域 -->
        {% include message/component/message_list.html %}
    </div>

    <script type="text/javascript">
        xnote.state.message.messageTag = "{{message_tag}}";
        xnote.state.message.tag = "{{tag}}";
        MessageView.refreshList();
    </script>

{% end %}


{% block body_right %}
    <div class="desktop-only">
        {% include common/sidebar/app_index.html %}
        {% include note/component/group_special_folder.html %}
    </div>
{% end %}
