{% extends base %}

<!-- 查看标签视图 -->

{% block body_left %}

    {% include message/component/message_title.html %}

    {% include message/page/task_tab.html %}

    {% include message/component/message_sub_link.html %}

    {% if message_tag == "calendar" %}
        <!-- 月份选择器 -->
        {% include common/date/month_picker.html %}
    {% end %}

    {% include message/component/message_tag_list.html %}

{% end %}

{% block body_right %}
    {% include message/component/message_date_right.html %}
{% end %}

  