{% extends base %}

{% block head %}
<style type="text/css">
  .note-header-span {
    line-height: 32px;
  }

  .things {
    padding-left: 20px;
  }

  #loadMore {
    text-align: center;
    width: 100%;
    float: left;
    color: blue;
  }
</style>
{% end %}

{% block body_left %}

{% init parent_link = None %}
{% init title_link = None %}
{% init type = "ctime" %}
{% init base_path = "/note/timeline" %}
{% init key = "" %}
{% init show_old_create = False %}
{% init show_create_btn = False %}
{% init show_recent_btn = False %}
{% init show_back_btn = False %}
{% init show_group_btn = False %}

<script src="/static/lib/vue/vue-2.2.6.min.js"></script>


<div class="card">
  <div class="note-header card-title">
    <span class="note-header-span">{{title}}</span>

    <div class="float-right">
        {% if show_old_create %}
          <!-- 原来使用 create_option.html 弹窗创建并没有预期的方便，而且不好做扩展 -->
          {% include note/component/timeline/timeline_create_option.html %}
        {% end %}

        {% if show_create_btn %}
          <a class="btn" href="{{_server_home}}/note/create?parent_id={{parent_id}}">新建笔记</a>
        {% end %}

        {% if show_group_btn %}
          <a href="{{_server_home}}/note/timeline?type=group_list&orderby=name" class="btn btn-default">笔记本</a>
        {% end %}

        {% if show_recent_btn %}
          <a href="{{_server_home}}/note/timeline/recent" class="btn btn-default">最新笔记</a>
        {% end %}

        {% if type == "default" %}
          {% include note/component/option/group_option.html %}
        {% elif type == "public" %}
          {% include note/component/share_dialog.html %}
        {% end %}

        {% if show_back_btn %}
          {% include common/button/back_button.html %}
        {% end %}
    </div>
  </div>
</div>

{% if len(pathlist) > 1 %}
<div class="card">
  {% include note/component/note_path.html %}
</div>
{% end %}


<div id="app" class="content card">
  <div class="note-timeline-body">
    <article v-if="itemList.length == 0">
      {% include common/text/empty_text.html %}
    </article>
    
    <article class="row" v-for="item in itemList">
      <h3 class="card-title-2">{{!item.title}}</h3>
      <section v-for="file in item.files">
        <span class="point-time point-green"></span>
        <time datetime="">
          <span>{{!item.ctime}}</span>
        </time>
        <aside>
          <p class="things">
            <!-- <input type="checkbox" class="icon-check" v-if="file.type == 'gallery'"/> -->
            <i class="fa" v-bind:class="file.icon"></i>
            <a v-bind:href="file.url">{{!file.name}}</a>
            <span class="tag lightblue" v-for="tag_info in file.tag_info_list">{{!tag_info.name}}</span>
            <span v-if="file.is_public == 1" class="tag info">分享</span>
            <span v-if="file.type=='group' || file.type=='system'" 
              class="float-right gray-text">{{!file.children_count}}</span>
          </p>
          <p class="brief"><span class="text-green"></span></p>
        </aside>
      </section>
    </article>
  </div>
</div>

<header class="site-footer card">
  <div class="wrapper">
    {% if type != "root" %}
      <a id="loadMore" href="javascript:void(0)">加载更多</a>
    {% end %}
  </div>
</header>

<script type="text/javascript">
  // 全局变量
  var QUERY_LIMIT = 100;

    var itemList = {};
    
    var app = new Vue({
        el: "#app",
        data: {
            itemList: itemList,
            offset: 0
        },
        isLoading: false
    });

    app.itemList = [];
    app.offset = 0;

    function mergeFiles(list, key, files) {
      for (var i = 0; i < list.length; i++) {
        var item = list[i];
        if (item.title == key) {
          item.files = item.files.concat(files);
          return;
        }
      }
      list.push({title: key, files: files});
    }

    /** 加载更多笔记
     * @param {boolean} showToast 是否展示toast信息
     */
    function loadMore(showToast) {
      if (app.isLoading) {
        return;
      }

      var param = {};
      param.type = "{{type}}" || getUrlParam("type");
      param.parent_id = getUrlParam("parent_id");
      param.search_tag = getUrlParam("search_tag");
      param.key = "{{quote(key)}}";
      param.orderby = xnote.getUrlParam("orderby", "ctime");
      param.offset = app.offset;
      param.limit = QUERY_LIMIT;

      var loadingNoteIndex;
      layer.ready(function(){
        // 等待layer的资源加载完再显示，不然样式会漂移
        loadingNoteIndex = layer.load(2);
      }); 

      app.isLoading = true;
      xnote.http.get("/note/api/timeline?_type=json", param,
        function (resp, status) {
          app.isLoading = false;
          layer.close(loadingNoteIndex);
          var data = resp.data;
          if (data.length == 0) {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
          var resp = data;
          // app.itemList = [];
          var count = 0;
          for (var i = 0; i < data.length; i++) {
            // console.log(key, resp[key]);
            var item  = data[i];
            var files = item.children;
            var title = item.title;
            app.offset += files.length;
            mergeFiles(app.itemList, title, files);
            count++;
            // app.itemList.push({title: key, files: files});
          }
          if (count == 0) {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
      }).fail(function (error) {
          app.isLoading = false;
          layer.close(loadingNoteIndex);
      });
    }


    $("#loadMore").on("click", function() {
      loadMore(true);
    })

    layer.ready(function () {
      // 等待layer资源加载
      loadMore(false);
    });

</script>
{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}