{% extends base %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/lib/webuploader/webuploader.css">
<script type="text/javascript" src="/static/lib/webuploader/webuploader.nolog.min.js"></script>
{% end %}

{% block body %}
    <style type="text/css">
        .content-left {
            float: left;
            width: 700px;
        }

        .content-right {
            padding-left: 10px;
            float: left;
            width: 300px;
        }

        /** 移动端样式放在最后 **/
        @media screen and (max-width: 1000px) {
            /** mobile **/
            .content-left {
                width: 100%;
            }

            .content-right {
                padding-left: 0px;
                width: 100%;
            }
        }
    </style>


    {% init key = "" %}
    {% init default_content = "" %}
    {% init show_tab = True %}

    <script src="/static/lib/vue/vue-2.2.6.min.js"></script>
    <script type="text/javascript" src="/static/js/message/message.js"></script>

    <input class="default-content-input" type="hidden" value="{{default_content}}"/>

    {% if show_tab %}
        {% include message/header.html %}
    {% end %}

    <div id="app" class="row">
        {% include message/card/msg_left.html %}
    </div>

    <!-- TODO 新增一个标签过滤的功能
    <div class="content-right">
        {% include message/card/msg_tags_card.html %}
    </div>
    -->

{% end %}

