{% init comment_class = "" %}
{% init comment_btn_text = "评论" %}

<style type="text/css">
    .chat-msg-img {
        width: 180px;
    }
</style>

<link rel="stylesheet" type="text/css" href="/static/lib/webuploader/webuploader.css">
<script type="text/javascript" src="/static/lib/webuploader/webuploader.nolog.min.js"></script>

<div class="card {{comment_class}}">
    {% if _has_login %}
    <div class="col-md-12">
        <textarea id="commentText" class="col-md-12 no-outline"></textarea>
        <button class="btn-default" id="saveCommentBtn">{{comment_btn_text}}</button>

        <input type="file" id="filePicker" class="hide" multiple/>
        <input type="button" id="filePickerBtn" class="send-button btn btn-default" value="添加附件"/>
    </div>
    {% end %}

    <div class="col-md-12" id="comments">
    </div>
</div>

<script type="text/javascript">
$(function () {

    function refreshComments() {    
        $.get("/note/comments", {note_id: "{{file.id}}"}, function (resp) {
            $("#comments").empty();
            for (var i = 0; i < resp.length; i++) {
                var item = resp[i];
                var html = $("<div>").addClass("comment-row");
                var user = $("<div>").addClass("comment-user").text(item.user);
                var content = $("<div>").addClass("comment-content").html(item.html);
                var time = $("<div>").addClass("comment-time").text(item.ctime);
                var deleteLink = $("<a>").addClass("delete-comment-btn")
                    .text("删除")
                    .attr("data-id", item.id)
                    .attr("data-content", item.content);
                if (window.xuser == item.user) {
                    var operation = $("<div>").addClass('float-right').append(deleteLink);
                } else {
                    var operation = $("<div>").addClass('float-right');
                }
                var foot = $("<div>").addClass("comment-foot").append(operation);
                html.append(user).append(time).append(content).append(foot);
                $("#comments").append(html);
            }
        }).fail(function (resp) {
            console.log("请求失败", resp);
        });
    }

    function appendToInputText (line) {
        // body...
        var oldTextValue = $("#commentText").val();
        $("#commentText").val(oldTextValue + line);
    }

    refreshComments();

    $("#saveCommentBtn").click(function () {
        var comment = {
            note_id: "{{file.id}}",
            content: $("#commentText").val()
        };
        $.post("/note/comment/save", comment, function (resp) {
            console.log(resp);
            $("#commentText").val("");
            refreshComments();
        });
    });

    $("#comments").on("click", ".delete-comment-btn", function () {
        var id = $(this).attr("data-id");
        var content = $(this).attr("data-content");
        var conf = confirm("确定删除`" + content + "`?");
        if (conf) {
            $.post("/note/comment/delete", {comment_id: id}, function (resp) {
                refreshComments();
            });
        }
    });

        // 文件上传
    var BASE_URL = "/static/lib/webuploader"
    // 初始化Web Uploader
    var uploader = xnote.createUploader();

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name +
                    '<span class="finished-tag" id="' + file.id + '-result"></span>' + 
                     '</div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $list = $("#fileList");
        // $list为容器jQuery实例
        $list.append( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        var thumbnailWidth = 100;
        var thumbnailHeight = 100;
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });


    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#uploadProgress' ),
        $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress"><span></span></div>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
        $percent.text( (percentage * 100).toFixed(2) + '%');
    });

    uploader.on( 'uploadBeforeSend', function (object, data, headers) {
        $( '#uploadProgress' ).find('.progress').remove();
        data.dirname = "auto";
    })

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file, resp) {
        $( '#uploadProgress' ).find('.progress').remove();
        var $li = $( '#uploadProgress' );
        $('<div class="progress"><span>上传完成</span></div>')
                    .appendTo( $li )
                    .find('span');
        file.webpath = resp.webpath;
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        var webpath = file.webpath;
        var content = 'file://$name'.replace(/\$name/g, file.webpath);
        // app.input += content + "\n";
        appendToInputText(content + "\n");
    });

    $("#filePickerBtn").on("click", function (event) {
        console.log("select file button click");
        $("#filePicker").click();
    })

    $("#filePicker").on("change", function (event) {
        console.log(event);
        var fileList = event.target.files; //获取文件对象 
        console.log(fileList);
        if (fileList && fileList.length > 0) {
            uploader.addFile(fileList);
        }
    });
})
</script>