<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2021-10-01 18:27:00
@LastEditors  : xupingmao
@LastEditTime : 2022-07-14 22:34:39
@FilePath     : /xnote/handlers/note/component/create_note_header.html
@Description  : 描述
 #} -->
<h3 class="card-title btn-line-height">
    <span>{{T("创建笔记")}}</span>

    <div class="float-right">
        <button class="btn btn-default" onclick="javascript:history.back();">返回</button>
    </div>
</h3>

{% if error != "" %}
    <pre class="col-md-12 error">
        {{error}}
    </pre>
{% end %}