
<style>
    .CodeMirror {
        width: 100%;
        font-size: 16px;
        height: auto;
    }

    #markdown-input {
        position: relative;
        font-family: monospace;
    }

    .alert {
        color: red;
        background-color: #FFCCCC;
        width: initial;
    }

    .small {
        font-size: small;
    }

    #submit-div {
        background-color: white;
        top: 0px;
        z-index: 100
    }

    #editor-area {
        border: 1px solid #ccc;
        height: 500px;
        overflow-y: scroll;
    }

    #autosaveResult {
        color: green;
        font-size: small;
    }

    .pathlist {
        background-color: #eee;
        padding: 3px;
    }

    .toolbox {
        background-color: #eee;
        border: 1px solid #ccc;
        border-bottom: none;
    }

    .toolbox-btn {
        display: block;
        float: left;
        background-color: #eee;
        color: #000;
        border-right: 1px solid #ccc;
        outline: none;
        margin-top: 0px;
    }

    .toolbox-btn:hover {
        display: block;
        float: left;
        color: #fff;
        background-color: #aaa;
        border: 1px solid #ccc;
    }

    #markdown-output-div {
        border-left: 1px solid #ccc;
        padding-left: 3px;
    }
</style>