{% init show_path_list = False %}
{% init error = None %}
{% init is_iframe = False %}
{% init file = Storage(id = 0, parent_id=0) %}
{% init page = 0 %}

<input id="fileId" type="hidden" value="{{file.id}}"/>

{% if show_path_list %}
    <div class="grid-title">
        {% for i, path_item in enumerate(pathlist) %}
            {% if i > 0 %} / {% end %}
            <a href="{{path_item.url}}" class="link2 path-link">{{ path_item.name }}</a>
        {% end %}

        <div class="float-right">
            {% include note/component/group_option.html %}
        </div>
    </div>
{% end %}

{% if error != "" and error != None%}
    <div class="col-md-12 error">
        {{error}}
    </div>
{% end %}

