<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-08-20 18:22:02
@LastEditors  : xupingmao
@LastEditTime : 2022-08-21 23:38:43
@FilePath     : /xnote/handlers/note/component/group_tags.html
@Description  : 描述
 #} -->
<div class="card btn-line-height">
    <div class="row">
        <span>标签</span>
        <a class="tag lightgray large {%if len(q_tags)==0 %}active{%end%}" href="?">全部</a>
        {% for tag in tag_meta_list %}
            <a class="tag lightgray large meta {% if tag.tag_name in q_tags%}active{%end%}" 
                href="/note/group?tag_name={{quote(tag.tag_name)}}">{{tag.tag_name}}</a>
        {% end %}
    </div>
</div>