{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_action_time = False %}
{% init show_hot_index = False %}
{% init show_next = True %}
{% init show_size = False %}
{% init date_type = "" %}
{% init ACTION_TEXT_MAP = {
    "create": "创建了笔记",
    "view": "查看了笔记",
    "edit": "更新了笔记"
} %}
{% init get_date_by_type = xutils.get_func_by_name("note.get_date_by_type") %}

{% if False %}
    <a class="dialog-link" href="/note/{{file.parent_id}}">
        <div class="book-item">
            <i class="fa fa-mail-reply black"></i>
            
            <span>上级目录</span>
            <span class="book-size">
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
    </a>
{% end %}


<div class="card">

{% if len(files) == 0 %}
    {% include common/text/empty_text.html %}
{% end %}

{% for item in files %}
    <!-- 隐藏的记录 -->
    {% if hasattr(item, "hide") and item.hide %}
        {% continue %}
    {% end %}

    <!-- 检查角色 -->
    {% if hasattr(item, "roles") and item.roles != None and _user_role not in item.roles %}
        {% continue %}
    {% end %}

    <a class="list-link" href="{{item.url}}">
        <!-- 标签 -->
        {% if hasattr(item, "action") and item.action != None %}
            <div class="row">
                <span class="gray-text small-font">{{ACTION_TEXT_MAP.get(item.action)}}</span>
                <div class="float-right">
                    <span class="book-size-span">{{format_date(item.action_time).replace('-', '/')}}</span>
                </div>
            </div>
        {% end %}

        {% if item.priority>0 %}
            <i class="fa fa-thumb-tack black"></i>
        {% end %}

        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>                
        <span>{{item.name}}</span>

        {% if hasattr(item, "is_public") and item.is_public %}
            <span class="info-tag">分享中</span>
        {% end %}

        <div class="float-right">
            {% if item.is_deleted %}
                <span class="gray-tag-span" href="/note/removed">删除</span>
            {% end %}
            
            {% set sub_info = "" %}

            {% if show_size and item.size != None %}
                {% set sub_info = item.size %}
            {% end %}

            {% if show_cdate or date_type == "cdate" %}
                {% set sub_info = format_date(item.ctime).replace('-', '/') %}
            {% end %}

            {% if show_mdate or date_type == "mdate" %}
                {% set sub_info = format_date(item.mtime).replace('-', '/') %}
            {% end %}

            {% if show_adate or date_type == "adate" %}
                {% set sub_info = format_date(item.atime).replace('-', '/') %}
            {% end %}

            {% if show_hot_index or date_type == "hot_index" %}
                {% set sub_info = item.hot_index or 0 %}
            {% end %}

            {% if date_type == "ddate" %}
                {% set sub_info = get_date_by_type(item, date_type) %}
            {% end %}

            <span class="book-size-span">{{sub_info}}</span>
            {% if item.show_next or show_next %}
                <i class="fa fa-chevron-right"></i>
            {% end %}
        </div>
    </a>
{% end %}
</div>
