{% init file = None %}
{% init show_rename_btn = True %}
{% init can_edit = False %}

{% if len(pathlist) > 0 %}
    <div class="btn-line-height pad-left-5">
    {% for i, item_local in enumerate(pathlist) %}
        {% if i > 0 %} / {% end %}<a href="{{item_local.url}}" class="link">{{ item_local.name }}</a>
    {% end %}

    {% if file != None and hasattr(file, "is_public") and file.is_public %}
        <span class="info-tag">分享中</span>
    {% end %}

    <div class="float-right">
        {% if file != None %}
            {% if can_edit and _is_desktop and show_rename_btn %}
                <a class="btn btn-default rename-btn" data-id="{{file.id}}" data-name="{{file.name}}">重命名</a>
            {% end %}
        {% end %}
    </div>
    </div>
{% end %}

