{% init sticky_position = "left" %}
{% if hasattr(item, "is_public") and item.is_public %}
    <span class="info-tag">分享中</span>
{% end %}

{% if sticky_position == "right" %}
    {% if item.is_sticky %}
        <span class="tag orange-tag">置顶</span>
    {% end %}
    {% if item.archived %}
        <span class="tag system">归档</span>
    {% end %}
    {% if item.is_alias %}
        <span class="tag lightblue">别名</span>
    {% end %}
{% end %}

{% if item.tags != None %}
    {% for tag_code in item.tags %}
        <span class="tag lightblue">{{get_tag_name_by_code(tag_code)}}</span>
    {% end %}
{% end %}