<div class="note-detail-head"> 
    <span id="fileId" style="display:none;">{{file.id}}</span>    
    <div class="col-md-12 hide">
        {% if _has_login and  (_is_admin or _user_name == item.creator) %}
            <a class="link" href="/note/edit?id={{file.id}}">编辑</a>
            <a class="link" href="javascript:rename('{{item.id}}', '{{item.name}}')">重命名</a>

            {% if file.is_public %}
                <a class="link" href="/note/share/cancel?id={{file.id}}">取消分享</a>
            {% else %}
                <a class="link" href="/note/share?id={{file.id}}">分享</a>
            {% end %}

            <a class="move-btn link" data-url="/note/group/select?id={{item.id}}">移动</a>
            
            {% if file.priority > 0 %}
                <a class="link" href="/note/unstick?id={{file.id}}">取消置顶</a>
            {% else %}
                <a class="link" href="/note/stick?id={{file.id}}">置顶</a>
            {% end %}

            {% if file.archived %}
                <a class="link" href="/note/unarchive?id={{file.id}}">取消归档</a>
            {% else %}
                <a class="link" href="/note/archive?id={{file.id}}">归档</a>
            {% end %}

            {% if _is_admin and file.type == "gallery" %}
                <a class="link" href="/note/management?parent_id={{file.id}}">管理文件</a>
            {% end %}
            <!-- <a class="link" href="/note/print?id={{file.id}}" target="_blank">打印</a> -->
            <a class="red" href="javascript:remove('{{item.id}}', '{{item.name}}', '{{item.parent_id}}')">删除</a>
        {% end %}
    </div>

    <div class="row">
        <span>类型: <a href="/note/{{item.type}}">{{type_dict.get(item.type, item.type)}}</a></span>
        <span>字数: {{len(file.content)}}</span>
        <span>行数: {{file.content.count("\n")}}</span>
    </div>

    {% comment include note/view_tag.html %}
    <span id="result" style="color:green"></span>
</div>