{# <!--
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2021-10-31 11:54:18
@LastEditors  : xupingmao
@LastEditTime : 2022-06-05 12:17:15
@FilePath     : /xnote/handlers/note/component/note_orderby_select.html
@Description  : 描述
--> #}
<div class="row">
    <span class="btn-line-height">排序</span>
    <div class="float-right">
        <select class="orderby-select" data-id="{{file.id}}" value="{{file.orderby}}" onchange="xnote.note.changeOrderBy(this);">
            <option value="ctime_priority">最近创建</option>
            <option value="name_priority">名称</option>
        </select>
    </div>
</div>