{% init show_cdate = False %}
{% init show_mdate = False %}
{% init show_adate = False %}
{% init show_action_time = False %}
{% init show_hot_index = False %}
{% init show_next = True %}
{% init show_size = False %}
{% init show_orderby = False %}
{% init orderby = "ctime_asc" %}

{% init date_type = "" %}
{% init ACTION_TEXT_MAP = {
    "create": "创建了笔记",
    "view": "查看了笔记",
    "edit": "更新了笔记"
} %}
{% init get_date_by_type = xutils.get_func_by_name("note.get_date_by_type") %}

{% if False %}
    <a class="dialog-link" href="/note/{{file.parent_id}}">
        <div class="book-item">
            <i class="fa fa-mail-reply black"></i>
            
            <span>上级目录</span>
            <span class="book-size">
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
    </a>
{% end %}


<div class="card">

{% if len(files) == 0 %}
    {% include common/text/empty_text.html %}
{% end %}

{% if show_orderby and len(files) > 0 %}
    <div class="card-title hide">
        <span>笔记列表</span>
        <div class="float-right">
            <select>
                <option>名称</option>
                <option>热度</option>
                <option>数量</option>
            </select>
        </div>
    </div>

    <div class="pad5">
        <div class="x-tab-box" 
                data-auto-href=true
                data-tab-default="{{orderby}}" 
                data-tab-key="orderby">
            <a class="x-tab" data-tab-value="name_asc">默认排序</a>
            <a class="x-tab" data-tab-value="hot_desc">热度优先</a>
            <a class="x-tab" data-tab-value="size_desc">数量优先</a>
            <a class="x-tab" data-tab-value="ctime_desc">最近创建</a>
        </div>
    </div>
{% end %}

{% for item in files %}
    <!-- 隐藏的记录 -->
    {% if hasattr(item, "hide") and item.hide %}
        {% continue %}
    {% end %}

    <!-- 检查角色 -->
    {% if hasattr(item, "roles") and item.roles != None and _user_role not in item.roles %}
        {% continue %}
    {% end %}

    <a class="list-link" href="{{item.url}}">
        <!-- 标签 -->
        {% if hasattr(item, "action") and item.action != None %}
            <div class="row">
                <span class="gray-text small-font">{{ACTION_TEXT_MAP.get(item.action)}}</span>
                <div class="float-right">
                    <span class="book-size-span">{{format_date(item.action_time).replace('-', '/')}}</span>
                </div>
            </div>
        {% end %}

        <!-- 图标和标题 -->
        <i class="fa {{item.icon}} fa-{{item.icon}} black"></i>

        <span>{{item.name}}</span>

        {% if hasattr(item, "is_public") and item.is_public %}
            <span class="info-tag">分享中</span>
        {% end %}

        <div class="float-right">
            {% if item.priority>0 %}
                <span class="tag orange-tag">置顶</span>
            {% end %}

            {% if item.is_deleted %}
                <span class="gray-tag-span" href="/note/removed">删除</span>
            {% end %}

            {% comment 新的统一使用badge_info %}
            {% if hasattr(item, "badge_info") and item.badge_info != None %}
                <span class="book-size-span">{{item.badge_info}}</span>
            {% else %}
                {% comment 兼容老的展示逻辑 %}
                {% include note/component/note_list_com_sub.html %}
            {% end %}

            {% if item.show_next or show_next %}
                <i class="fa fa-chevron-right"></i>
            {% end %}
        </div>
    </a>
{% end %}
</div>
