{% init file = None %}

{% if len(pathlist) > 0 %}
    <div class="btn-line-height pad-left-5">
    {% for i, item_local in enumerate(pathlist) %}
        {% if i > 0 %} / {% end %}<a href="{{item_local.url}}" class="link">{{ item_local.name }}</a>
    {% end %}

        <div class="float-right desktop-only">
            {% if file != None %}
                <a class="btn btn-default rename-btn" data-id="{{file.id}}" data-name="{{file.name}}">重命名</a>
            {% end %}
        </div>
    </div>
{% end %}

