<div class="dropdown">
    <span class="dropdown-btn link btn">更多▾</span>
    <div class="dropdown-content">
        <a class="dropdown-option" href="{{base_path}}?type=sticky">只看置顶</a>
        <a class="dropdown-option" href="{{base_path}}?type=document">只看文档</a>
        <a class="dropdown-option" href="{{base_path}}?type=gallery">只看相册</a>
        <a class="dropdown-option" href="{{base_path}}?type=list">只看清单</a>
        <a class="dropdown-option" href="{{base_path}}?type=table">只看表格</a>
        <a class="dropdown-option" href="{{base_path}}?type=archived">只看归档</a>
        <a class="dropdown-option" href="{{_server_home}}/note/index">统计</a>
    </div>
</div>