{% extends base %}

{% block head %}
<style type="text/css">
  .things {
    padding-left: 20px;
  }

  #loadMore {
    text-align: center;
    width: 100%;
    float: left;
    color: blue;
  }
</style>
{% end %}

{% block body %}

{% init type = "ctime" %}
{% init base_path = "/note/timeline" %}
{% init key = "" %}

<script src="/static/lib/vue/vue-2.2.6.min.js"></script>

<div id="app" class="card content">

  <div class="note-header row card-title">
    {{title}}

    <div class="float-right">
        {% if type not in ("search", "public") %}
          {% include note/component/create_option.html %}
        {% end %}

        {% if type == "default" %}
          {% include note/component/group_option.html %}
        {% elif type == "search" %}
          <a class="btn btn-default" href="/search?key={{quote(key)}}&category=content">高级搜索</a>
        {% elif type != "public" %}
          <div class="dropdown">
              <span class="dropdown-btn link btn">更多▾</span>
              <div class="dropdown-content">
                  <a class="dropdown-option" href="/message?tag=task">任务</a>
                  <a class="dropdown-option" href="{{base_path}}?type=sticky">只看置顶</a>
                  <a class="dropdown-option" href="{{base_path}}?type=document">只看文档</a>
                  <a class="dropdown-option" href="{{base_path}}?type=gallery">只看相册</a>
                  <a class="dropdown-option" href="{{base_path}}?type=list">只看清单</a>
                  <a class="dropdown-option" href="{{base_path}}?type=archived">只看归档</a>
                  <a class="dropdown-option" href="/note/index">统计</a>
              </div>
          </div>
        {% end %}
    </div>
  </div>

  <article class="row" v-for="item in itemList">
    <h3 class="card-title-2">{{!item.title}}</h3>
    <section v-for="file in item.files">
      <span class="point-time point-green"></span>
      <time datetime="">
        <span>{{!item.ctime}}</span>
      </time>
      <aside>
        <p class="things">
          <!-- <input type="checkbox" class="icon-check" v-if="file.type == 'gallery'"/> -->
          <i class="fa" v-bind:class="file.icon"></i>
          <a v-bind:href="file.url">{{!file.name}}</a>
          <span v-if="file.type=='group'" class="float-right gray-text">{{!file.size}}</span>
        </p>
        <p class="brief"><span class="text-green"></span></p>
      </aside>
    </section>
  </article>
</div>

<header class="site-footer card">
  <div class="wrapper">
      {% if type != "root" %}
        <a id="loadMore" href="javascript:void(0)">加载更多</a>
      {% end %}
  </div>
</header>

<script type="text/javascript">
  // 全局变量
  var QUERY_LIMIT = 100;

    var itemList = {
        "2016": []
    }

    var list = [
        {"title": "1977 Aug. 20", "description": "Voyager 2 launched from Kennedy Space Flight Center"},
        {"title": "2017 Mar. 17", "description": "This is a test"}
    ]

    function customWayPoint(className, addClassName, customOffset) {
        var waypoints = $(className).waypoint({
            handler: function (direction) {
                if (direction == "down") {
                    $(className).addClass(addClassName);
                } else {
                    $(className).removeClass(addClassName);
                }
            },
            offset: customOffset
        });
    }

    var defaultOffset = '50%';

    for (i = 0; i < itemList.length; i++) {
        customWayPoint('.timeline__item--' + i, 'timeline__item-bg', defaultOffset);
    }

    var app = new Vue({
        el: "#app",
        data: {
            itemList: itemList
        }
    });

    app.itemList = [];
    window.offset = 0;

    function mergeFiles(list, key, files) {
      for (var i = 0; i < list.length; i++) {
        var item = list[i];
        if (item.title == key) {
          item.files = item.files.concat(files);
          return;
        }
      }
      list.push({title: key, files: files});
    }

    function loadMore(showToast) {
      var type = "{{type}}" || getUrlParam("type");
      var parent_id = getUrlParam("parent_id");
      var searchKey = "{{key}}";

      $.get("/note/api/timeline?_type=json&type=" + type, 
        { 
          offset: window.offset,
          limit : QUERY_LIMIT,
          parent_id: parent_id,
          key: searchKey
        }, 
        function (data, status) {
          if (data == "{}") {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
          var resp = data;
          // app.itemList = [];
          var count = 0;
          for (var key in resp) {
            console.log(key, resp[key]);
            var files = resp[key];
            window.offset += files.length;
            mergeFiles(app.itemList, key, files);
            count++;
            // app.itemList.push({title: key, files: files});
          }
          if (count == 0) {
            // alert("没有更多了");
            if (showToast) {
              layer.msg("没有更多了");
            }
            return;
          }
          
          app.itemList.sort(function (a, b) {
            if (a.title < b.title) {
              return 1;
            }
            if (a.title > b.title) {
              return -1;
            }
            return 0;
          });
      });
    }


    $("#loadMore").on("click", function() {
      loadMore(true);
    })

    loadMore(false);
</script>
{% end %}

{% block aside %}
  {% include note/mod_aside.html %}
{% end %}
