{% extends base %}

{% block head %}
<style type="text/css">
  .things {
    padding-left: 20px;
  }

  #loadMore {
    text-align: center;
    width: 100%;
    float: left;
    color: blue;
  }
</style>
{% end %}

{% block body %}
{% init CREATE_TYPE_MAPPING = {
  "ctime": "md"
} %}

{% init type = "ctime" %}
{% init create_type = CREATE_TYPE_MAPPING.get(type, type) %}
{% init ADD_BTN_TEXT_DICT = {
  ""       : "创建笔记",
  "table"  : "创建表格",
  "csv"    : "创建表格",
  "gallery": "创建相册",
  "list"   : "创建清单"
} %}

<script src="/static/lib/vue/vue-2.2.6.min.js"></script>

<div id="app" class="card content">

  <div class="note-header row card-title">
    {{title}}
    <!-- <a class="tab tab-link x-tab" href="/note/timeline">全部</a> -->
    <!-- <a class="tab tab-link x-tab" href="/note/sticky">置顶</a> -->
    <!-- <a class="tab tab-link x-tab" href="/note/document">文档</a> -->
    <!-- <a class="tab tab-link x-tab" href="/note/gallery">相册</a> -->
    <!-- <a class="tab tab-link x-tab" href="/note/public">公共</a> -->

    <div class="float-right">
      <a class="btn" href="/note/create?type={{create_type}}">{{ADD_BTN_TEXT_DICT.get(type, "创建笔记")}}</a>
    </div>
  </div>

  <article class="row" v-for="item in itemList">
    <h3 class="card-title-2">{{!item.title}}</h3>
    <section v-for="file in item.files">
      <span class="point-time point-green"></span>
      <time datetime="">
        <span>{{!item.ctime}}</span>
      </time>
      <aside>
        <p class="things">
          <i class="fa" v-bind:class="file.icon"></i>
          <a v-bind:href="file.url">{{!file.name}}</a>
        </p>
        <p class="brief"><span class="text-green"></span></p>
      </aside>
    </section>
  </article>
</div>

<header class="site-footer card">
  <div class="wrapper">
    <a id="loadMore" href="javascript:void(0)">加载更多</a>
  </div>
</header>

<script type="text/javascript">
  // 全局变量
  var QUERY_LIMIT = 100;

    var itemList = {
        "2016": []
    }

    var list = [
        {"title": "1977 Aug. 20", "description": "Voyager 2 launched from Kennedy Space Flight Center"},
        {"title": "2017 Mar. 17", "description": "This is a test"}
    ]

    function customWayPoint(className, addClassName, customOffset) {
        var waypoints = $(className).waypoint({
            handler: function (direction) {
                if (direction == "down") {
                    $(className).addClass(addClassName);
                } else {
                    $(className).removeClass(addClassName);
                }
            },
            offset: customOffset
        });
    }

    var defaultOffset = '50%';

    for (i = 0; i < itemList.length; i++) {
        customWayPoint('.timeline__item--' + i, 'timeline__item-bg', defaultOffset);
    }

    var app = new Vue({
        el: "#app",
        data: {
            itemList: itemList
        }
    });

    app.itemList = [];
    window.offset = 0;

    function mergeFiles(list, key, files) {
      for (var i = 0; i < list.length; i++) {
        var item = list[i];
        if (item.title == key) {
          item.files = item.files.concat(files);
          return;
        }
      }
      list.push({title: key, files: files});
    }

    function loadMore() {
      var type = "{{type}}" || getUrlParam("type");
      $.get("/note/api/timeline?_type=json&type=" + type, 
        { 
          offset: window.offset,
          limit : QUERY_LIMIT
        }, 
        function (data, status) {
          if (data == "{}") {
            // alert("没有更多了");
            layer.msg("没有更多了");
            return;
          }
          var resp = data;
          // app.itemList = [];
          var count = 0;
          for (var key in resp) {
            console.log(key, resp[key]);
            var files = resp[key];
            window.offset += files.length;
            mergeFiles(app.itemList, key, files);
            count++;
            // app.itemList.push({title: key, files: files});
          }
          if (count == 0) {
            // alert("没有更多了");
            layer.msg("没有更多了");
            return;
          }
          
          app.itemList.sort(function (a, b) {
            if (a.title < b.title) {
              return 1;
            }
            if (a.title > b.title) {
              return -1;
            }
            return 0;
          });
      });
    }


    $("#loadMore").on("click", function() {
      loadMore();
    })

    loadMore();

</script>
{% end %}

{% block aside %}
  {% include note/mod_aside.html %}
{% end %}
