{% extends base %}

{% block body_left %}
    <div class="card">
        <div class="card-title">
            <span>我的评论</span>
            <div class="float-right">
                {% include common/button/back_button.html %}
            </div>
        </div>
    </div>

    {% from xnote_handlers.note.type_filter_tab import build as build_type_filter_tab %}
    {% init type_list = [] %}
    {% init note_type = "unknown" %}
    {% render build_type_filter_tab(type_list, note_type) %}

    {% include note/page/comment/comment.html %}
{% end %}

{% block body_right %}
    {% include note/component/sidebar/group_list_sidebar.html %}
{% end %}
