<!--
@since 2018/05/27
@modified 2026/09/13
搜索类型切换 Tab，使用 TabBox 组件渲染（客户端 x-tab.js 按 URL 参数 search_type 自动高亮）
-->

{% init key = "" %}
{% init parent_note = None %}

{% if search_tab != None %}
<div class="card">
    {% raw search_tab.render() %}
</div>
{% end %}

{% if parent_note != None %}
    <div class="card btn-line-height">
        <span>搜索目录:</span>
        <a href="{{parent_note.url}}">{{parent_note.name}}</a>
        <div class="float-right">
            <a class="btn btn-default" href="{{_server_home}}/search?key={{key}}&search_type=note">搜索全站</a>
        </div>
    </div>
{% end %}

{% if len(relevant_words) > 0 %}
<div class="card">
    {% raw relevant_tab.render() %}
</div>
{% end %}
