<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0"/>
{% init html_title = None %}
{% import xconfig %}
{% init _user_name = None %}
<title>Xnote{%if html_title%} | {{T(html_title)}}{%end%}</title>

<style type="text/css">
.root {
  max-width: {{xconfig.PAGE_WIDTH}}px;
}
</style>

<link rel="shortcut icon" href="/static/favicon.ico"/>
<link rel="bookmark" href="/static/favicon.ico"/>
<link rel="stylesheet" href="/static/css/common.css"/>
<link rel="stylesheet" href="/static/css/app.css"/>

{% if xconfig.THEME == "card" %}
  <link rel="stylesheet" href="/static/css/common-card.css"/>
{% end %}

{% if xconfig.THEME == "left" %}
  <link rel="stylesheet" href="/static/css/common-left.css"/>
{% end %}

<script type="text/javascript" src="/static/lib/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/layer.js"></script>
<script type="text/javascript">
  window.xuser = "{{_user_name}}";
  window.PAGE_OPEN = "{{xconfig.PAGE_OPEN}}";
</script>

<!-- 应用JS脚本,优先级更高，所以放在后面 -->
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/xnote-ui.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>

{% if xconfig.RECORD_LOCATION %}
<script type="text/javascript" src="/system/stats"></script>
{% end %}

{# 自定义的样式 #}
{% if xconfig.get("USER_CSS") %}
<link rel="stylesheet" type="text/css" href="/system/user.css">
{% end %}

{# 自定义脚本 #}
{% if xconfig.get("USER_JS") %}
<script type="text/javascript" src="/system/user.js"></script>
{% end %}

{% block head %} {% end %}
{% init show_aside = False %}
{% init show_menu = True %}

{% if not show_menu %}
<style type="text/css">
  body {
    background: transparent;
  }
  .main {
    padding: 0px;
  }
  .nav {
    display: none;
  }
  .nav-left {
    display: none;
  }
</style>
{% end %}

{% if xconfig.DEBUG_HTML_BOX %}
<style type="text/css">
  * {
    box-sizing: border-box;
    border: solid 1px red;
  }
</style>
{% end %}

{# 侧边栏(右侧)是否显示 #}
{% if not show_aside %}
<style type="text/css">
.main-content {
  padding-right: 0px;
}
.aside {
  display: none;
}
</style>
{% end %}

</head>
<body>
{% init warn = "" %}

