{% init show_menu = True %}
{% init show_nav  = True %}
{% init search_placeholder = "搜索或指令" %}
{% init search_action = "/search/search" %}
{% init nav_type = "default" %}

{% include $base_nav_top %}

{% if _user_config.nav_style == "left" %}
  {% include $base_nav_left %}
{% end %}

{% if _is_admin and show_menu and show_nav and xconfig.get_system_config("node_role") == "follower" %}
<div class="row warn">
  <div class="x-center">
    <div class="dev-info">
      当前系统以从节点身份运行，请勿编辑
      <a href="{{_server_home}}/system/sync?p=home">查看同步状态</a>
    </div>
  </div>
</div>
{% end %}

{% if xconfig.WebConfig.ui_show_translate_js %}
<!-- 展示translate.js组件 -->
<div class="row warn">
  <div class="x-center">
    {% include common/script/translate_script.html %}
  </div>
</div>
{% end %}

<div class="toolbar homepage hide">
  <div class="action">
    回到<br/>顶部
  </div>
</div>