
{% init search_placeholder = "搜索或指令" %}
{% init search_action = "/search/search" %}

{% if show_menu %}
<div class="nav">
  <!-- 保持对称 -->
  <div class="menu-box float-left">
    <ul class="nav-ul">
      {% if _has_login %}
        <li><a class="menu-link" href="{{HOME_PATH}}">{{T("笔记")}}</a></li>
        <li><a class="menu-link" href="/note/public">{{T("公共")}}</a></li>
        <li><a class="menu-link" href="/plugins_list">{{T("工具")}}</a></li>
        <li><a class="menu-link" href="/system/index">{{T("系统")}}</a></li>
      {% end %}
      
      {% if not _has_login %}
        <li><a class="menu-link" href="/">{{T("笔记")}}</a></li>
        <li><a class="menu-link" class="link" href="/login">{{T("Login")}}</a></li>
      {% end %}

    </ul>
  </div>

  <div class="search-box">
    <form id="searchForm" method="GET" action="{{search_action}}">
      {% include common/search_box.html %}
    </form>
  </div>
</div>

<div class="nav-left">
  <!-- 侧边菜单栏 -->
  <div class="nav-left-inner-box">
    <ul class="navMenu">
      {% if _has_login %}
        <!-- 登录状态 -->
        <li><a href="{{HOME_PATH}}">{{T("我的笔记")}}</a></li>
        <li><a href="/note/public">{{T("公共笔记")}}</a></li>
        <li><a href="/search/rules">{{T("话题搜索")}}</a></li>
        <li><a href="/plugins_list">工具插件</a></li>
        {% if _is_admin %}
          <li><a href="/fs_list">文件管理</a></li> 
        {% end %}
        <li><a href="/system/index">系统设置</a></li>
      {% else %}
        <!-- 未登录状态 -->
        <li><a href="/note/public">公开笔记</a></li>
        <li><a href="/login" class="afinve"><span>登陆系统</span></a></li>
      {% end %}

    </ul>
    <div id="poweredBy">
      Powered by <a href="/code/wiki/README.md">Xnote</a>
    </div>
  </div>
</div>

{% end %}
