<!-- {#
@Author       : xupingmao
@email        : 578749341@qq.com
@Date         : 2022-08-07 19:09:56
@LastEditors  : xupingmao
@LastEditTime : 2023-09-02 20:35:26
@FilePath     : /xnote/handlers/common/base_footer.html
@Description  : 描述
 #} -->
{% init _cost_time = -1 %}

{% if xconfig.DEV_MODE %}
<div class="x-center">
    <div class="dev-info">
        <div class="card sql-info">
            <span>SQL信息 - ({{len(_debug_info.sql_logs)}})</span>
            <textarea class="row" rows="{{len(_debug_info.sql_logs)}}">{{"\n".join(_debug_info.sql_logs)}}</textarea>
        </div>
    </div>
</div>
{% end %}

{% if show_nav and xconfig.WebConfig.ui_show_footer %}
<div class="footer">
    <div class="x-center pad10">
        <div>
            <!-- left -->
        </div>
    
        <div class="float-right">
            请求处理耗时: {{"%.3fs" % _cost_time }}
        </div>
    </div>
</div>
{% end %}
