<div class="nav-left">
  <!-- 侧边菜单栏 -->
  <div class="nav-left-inner-box">
    <ul class="navMenu">
      {% if _has_login %}
        <!-- 登录状态 -->
        <li><a href="{{HOME_PATH}}">{{T("我的笔记")}}</a></li>
        <li><a href="/note/recent?orderby=create">{{T("最近笔记")}}</a></li>
        <li><a href="/note/public">{{T("公共笔记")}}</a></li>
        <li><a href="/search/history">{{T("搜索历史")}}</a></li>
        <li><a href="/plugins_list">{{T("工具插件")}}</a></li>
        {% if _is_admin %}
          <li><a href="/fs_list">{{T("文件管理")}}</a></li> 
        {% end %}
        <li><a href="/system/settings">{{T("系统设置")}}</a></li>
      {% else %}
        <!-- 未登录状态 -->
        <li><a href="/note/public">公开笔记</a></li>
        <li><a href="/login" class="afinve"><span>登陆系统</span></a></li>
      {% end %}

    </ul>
    <div id="poweredBy">
      Powered by <a href="/code/wiki/README.md">Xnote</a>
    </div>
  </div>
</div>
