<!DOCTYPE html>
<html>
{% init search_placeholder = "综合搜索" %}
{% init search_action = "/search/search" %}
{% init warn = "" %}
{% init CONTENT_WIDTH = 1000 %}

<!-- 初始化参数 -->
{% block init_vars_block %} {% end %}

{% comment HTML的head部分 %}
{% include common/base_head.html %}

<body>
    <noscript>
        <strong class="align-center row">抱歉，您的浏览器不支持访问该网站，建议更换更新版本的浏览器，例如Chrome/Firefox/Safari等</strong>
    </noscript>
    
    <div class="root">
        <!-- 导航/菜单栏 -->
        {% include common/base_nav.html %}

        <!-- 二级导航 -->
        {% block second_nav %} {% end %}

        <!-- 主体部分（内容） -->
        <div class="x-body">
            <div class="main-content">
                <div class="col-md-12">
                    {% if warn != "" and warn != None %}
                    <pre class="col-md-12 warn global-warn">
                        {{warn}}
                    </pre>
                    {% end %}

                    <!-- 标题栏 -->
                    {% block body_top %} {% end %}

                    <!-- 主要内容 -->
                    <div class="content-left">
                        <!-- 移动端搜索 -->
                        {% include common/search/search_mobile.html %}

                        {% block body %} {% end %}
                        {% block body_left %} {% end %}
                    </div>

                    <!-- 辅助内容 -->
                    <div class="content-right desktop-only">
                        {% block body_right %} {% end %}
                    </div>

                    <!-- TODO 可配置左右分栏? -->
                </div>
            </div>
        </div>
    </div>

    <!-- 弹窗的蒙版 -->
    <div class="x-dialog-background"></div>
    <div class="aside-background background"></div>

    {% include common/base_footer.html %}

    <!-- 调整样式的js -->
    {% include common/script/safe_script.html %}
    {% include common/script/adjust.html %}
    {% include common/script/debug_script.html %}
</body>
</html>
