<!--
@since 2018/06/20
@modified 2019/11/23 13:34:31
-->

{% set notice_list1 = xconfig.get_notice_list('today',    _user_name) %}
{% set notice_list2 = xconfig.get_notice_list('tomorrow', _user_name) %}
{% set get_short_text = xutils.get_short_text %}
{% set msg_len = 15 %}

<div class="col-md-12 card">
    <h3 class="grid-title">今日提醒</h3>
    <div class="grid-row" style="padding:5px;">
        {% for item in notice_list1 %}
            <div><a class="link" href="{{item.link}}">{{item.message}}</a></div>
        {% end %}
        {% for item in notice_list2 %}
            <div><a class="link" href="{{item.link}}">明天 - {{item.message}}</a></div>
        {% end %}
    </div>
</div>
