<style type="text/css">
.mobile-search {
    float: left;
    margin-top: 10px;
    padding: 0px 10px;
    width: 100%;
    display: none;
}

@media screen and (max-width: 1000px) {
    .mobile-search {
        display: block;
    }
}

</style>

{% init show_nav = True %}
{% init show_menu = True %}

{% if show_nav and show_menu %}
    <div class="mobile-search">
        <form id="searchForm" method="GET" action="{{search_action}}">
            {% include common/search_box.html %}
        </form>
    </div>
{% end %}