{% extends base.html %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/lib/webuploader/webuploader.css">
<script type="text/javascript" src="/static/lib/webuploader/webuploader.nolog.min.js"></script>

<style type="text/css">
    .fs-dir {
        
    }

    .fs-file {

    }
    .fs-image {
        width: 180px;
        /*height: 90px;*/
    }
    .fs-path {
        padding: 5px;
        box-sizing: border-box;
        background-color: #eee;
    }
    table td {
        border: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .checkboxTd {
        width: 20px;
    }
        
    /* 上传文件样式 */
    .progress {
        background-color: #ffcccc;
        height: 20px;
    }
    .progress span {
        display: block;
        background-color: green;
        color: #fff;
        height: 100%;
    }
    #dropArea {
        float: left;
        width: 100%;
        height: 80px;
        line-height: 80px;
        border: 3px dashed silver;
        text-align: center;
        font-size: 36px;
        color: #d3d3d3;
        cursor: pointer;
        box-sizing: border-box;
    }
    .finished-tag {
        color: #fff;
        background-color: green;
        border-width: 3px;
        border-radius: 3px;
        margin-left: 5px;
    }

    tr:hover td {
        background: none;
    }

    tr:hover {
        background-color: #eee;
    }

    .cmd-input {
        width: 100%;
        max-width: 700px;
        background-color: rgb(230, 230, 255);
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-family: monospace;
        font-size: 16px;
        display: none;
    }

</style>

{% end %}

{% block body %}

{% init find_key = "" %}

{% set search_category = "fs" %}

<div class="fs-path">
<a href="/fs//">Home</a> /
{% for item in fspathlist %}
    <a href="/fs/{{ item.path }}">{{ item.name }}</a> / 
{% end %}
</div>

<div class="col-md-12 top-offset-1" style="padding-bottom: 5px;">
    <form action="/fs/find">
        <div class="right">
            <input class="hide" name="path" value="{{path}}">
            <input name = "find_key" type="text" value="{{find_key}}">
            <input type="submit" value="Find"/>
        </div>
    </form>
    <div class="left">
        <input type="button" class="btn" value="预览图片" id="previewImg"/>
        <input type="button" class="btn" value="新建文件夹" id="addDirectory"/>
        <input type="button" class="btn" value="重命名" id="renameBtn" 
            message="重命名为">
        <input type="button" class="btn-danger" value="删除" id="deleteFile"/>
        <input id="showMoreOptsBtn" type="button" class="btn" value="更多"/>
    </div>
</div>


<div id="moreOpts" class="hide">
    <div>
        <input type="button" class="btn" value="打开文件管理器" id="openDirectory"/>
        <input type="button" class="link-btn" href="/code/analyze?path={{path}}&recursive=on" value="高级搜索"/>
        <input type="button" class="link-btn" href="/code/lines?path={{path}}&recursive=on" value="统计"/>
        <input type="button" class="link-btn" href="/tools/zip?dirname={{path}}" value="压缩"/>
    </div>
    <!-- 文件上传区域 -->
    <div id="uploader-demo">
        <!--用来存放item-->
        <div id="fileList" class="uploader-list"></div>
        <div id="filePicker" class="hide">选择文件</div>
        <div id="dropArea">点击或拖拽上传文件</div>
    </div>
</div>
<hr/>
<div class="col-md-12">

<!-- <li style="padding-top:6px;"><a href="{{path}}/..">上一级目录</a></li> -->

<table class="col-md-12">
{% for item in filelist %}
    {% if not item.name.startswith("._") %}
    <tr>
        <td class="checkboxTd"><input type="checkbox" data-path="{{item.path}}" data-name="{{item.name}}"></td>
        <td>
        {% if item.type == "dir" %}
            <img src="/static/image/folder.gif"/>
            <a href="/fs/{{item.path}}" class="fs-dir">{{item.name}}</a>
        {% else %}
            <a href="/fs/{{item.path}}" class="fs-file">{{item.name}}</a>
            {% if item.ext in (".jpg", ".png", ".gif", ".jpeg", ".bmp", ".ico") %}
                <div class="fs-image-div" img-src="/fs/{{item.path}}"></div>
            {% end %}

            {% if item.ext == ".txt" %}
                <a class="item-option" href="/tools/bookreader?path={{item.path}}&from=/fs/{{path}}">阅读</a>
            {% end %}

            {% if item.ext == ".db" %}
                <a class="item-option" href="/tools/sql?path={{item.path}}&from=/fs/{{path}}">查看</a>
            {% end %}

            {% if xutils.is_editable(item.path) or item.ext in (".js", ".command", ".xml", ".html") %}
                <a class="item-option" href="/code/view_source?path={{url_escape(item.path)}}">编辑</a>
            {% end %}

            {% if item.ext in (".md", ".csv") %}
                <a class="item-option" href="/wiki?path={{item.path}}">预览</a>
            {% end %}
        {% end %}
        </td>
        <td>
            {{item.size}}
        </td>
    </tr>
    {% end %}
{% end %}
</table>
<hr/>
<input type="text" class="cmd-input" placeholder="请输入指令">
</div>

<script type="text/javascript">
    $("#previewImg").on("click", function (target) {
        var self = this;
        var value = $(self).val();
        if (value == "预览图片") {
            $(".fs-image-div").each(function (index, target) {
                var img = $("<img>").attr("src", $(target).attr("img-src")).addClass("fs-image");
                $(target).append(img);
                img.on("load", function (event) {
                    $(target).append($("<span class='fs-image-size'>").text(img[0].naturalWidth + "*" + img[0].naturalHeight));
                });
            })
            $(self).val("取消预览");
        } else {
            $(".fs-image").remove();
            $(".fs-image-size").remove();
            $(self).val("预览图片");
        }  
    })
    $("#addDirectory").on("click", function (target) {
        var dirname = prompt("新建文件夹");
        if (dirname && dirname != "") {
            $.post("/fs_api/add_dir", {path: "{{path}}", dirname: dirname}, function (respText) {
                console.log(respText);
                var data = respText;
                if (data.code == "success") {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }).fail(function (data) {
                console.log(data);
                alert(data);
            })
        }
    })
    $("#openDirectory").on("click", function () {
        $.post("/tools/open", {path: "{{path}}"});
    });
    $("#deleteFile").on("click", function () {
        var checked = $(".checkboxTd :checked");
        if (checked.length == 0) {
            alert("请选择文件");
        } else if (checked.length > 1) {
            alert("不支持批量删除");
        } else {
            var name = checked.attr("data-name");
            var path = checked.attr("data-path");
            var conf = confirm("确认删除 '%s' ?".format(name));
            if (conf) {
                $.post("/fs_api/remove", {path: path}, function (resp) {
                    if (resp.code == "success") {
                        location.reload();
                    } else {
                        alert("删除失败, %s".format(resp.message));
                    }
                }).fail(function (resp) {
                    console.log(resp);
                    alert("删除失败");
                })
            }
        }
    });

    $("#renameBtn").on("click", function () {
        var checked = $(".checkboxTd :checked");
        if (checked.length == 0) {
            alert("请选择文件");
        } else if (checked.length > 1) {
            alert("不支持批量重命名");
        } else {
            var name = checked.attr("data-name");
            var dirname = "{{path}}";
            var new_name = prompt("重命名为", name);
            if (new_name) {
                $.post("/fs_api/rename", 
                    {dirname: dirname, old_name: name, new_name: new_name}, 
                    function (resp) {
                        if (resp.code == "success") {
                            location.reload();
                        } else {
                            alert("重命名失败, %s".format(resp.message));
                        }
                }).fail(function (resp) {
                    console.log(resp);
                    alert("重命名失败");
                })
            }
        }
    });
    $("#showMoreOptsBtn").click(function (event) {
        $("#moreOpts").toggle(200);
    })
</script>


<!-- 文件上传逻辑 -->
<script type="text/javascript">
var BASE_URL = "/static/lib/webuploader"
$("#target-path").text(location.hash.substr(1)).attr("href", "/fs/" + location.hash.substr(1));
// 初始化Web Uploader
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: BASE_URL + '/Uploader.swf',

    // 文件接收服务端。
    server: '/fs_upload/range',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 需要分片
    chunked: true,
    // 默认5M
    // chunkSize: 1024 * 1024 * 5,
    chunkSize: 1024 * 1024 * 5,
    // 重试次数
    chunkRetry: 10,
    // 文件上传域的name
    fileVal: "file",
    // 不开启并发
    threads: 1
});

// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name +
                '<span class="finished-tag" id="' + file.id + '-result"></span>' + 
                 '</div>' +
            '</div>'
            ),
        $img = $li.find('img');

    $list = $("#fileList");
    // $list为容器jQuery实例
    $list.append( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    var thumbnailWidth = 100;
    var thumbnailHeight = 100;
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});

// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
    $percent.text( (percentage * 100).toFixed(2) + '%');
});

uploader.on( 'uploadBeforeSend', function (object, data, headers) {
    data.dirname = "{{path}}"
})

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ) {
    $( '#'+file.id ).addClass('upload-state-done');
    $( '#'+file.id + "-result" ).text("上传完成");
});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});

uploader.on( 'error', function (file) {
    alert("未知错误" + file);
})

// 必须先禁用所有的拖拽默认行为
$(document).on("dragenter", function (event) {
    event.preventDefault();
})
$(document).on("dragleave", function (event) {
    event.preventDefault();
})
$(document).on("drop", function (event) {
    event.preventDefault();
})
$(document).on("dragover", function (event) {
    event.preventDefault();
})

$("#dropArea").on("drop", function (event) {
    console.log(event);
    event.preventDefault(); //取消默认浏览器拖拽效果 
    var originalEvent = event.originalEvent;
    var fileList = originalEvent.dataTransfer.files; //获取文件对象 
    console.log(fileList);
    if (fileList && fileList.length > 0) {
        uploader.addFile(fileList);
    }
});

$("#dropArea").on("click", function (event) {
    console.log(event);
    event.preventDefault(); //取消默认浏览器拖拽效果 
    $("[name=file]").click();
})


</script>

{% end %}