{% extends base.html %}

{% block head %}

<style type="text/css">
    .fs-dir {
        
    }

    .fs-file {

    }
    .fs-image {
        width: 180px;
        /*height: 90px;*/
    }
    table td {
        border: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
</style>

{% end %}

{% block body %}

{% init find_key = "" %}

<div class="hide">
    <form action="/fs_upload" enctype="multipart/form-data" method="POST" style="padding-top:20px;">
        <input name="dirname" style="display:none;" value="{{path}}"/>
        <input type="file" name="file"/>
        <input type="submit" value="上传"/>
    </form>
</div>

<div class="col-md-12 top-offset-1">
    <div class="left">
        <input type="button" class="btn" value="预览图片" id="previewImg"/>
        <a href="/code/analyze?path={{path}}">分析</a>
        <a href="/tools/zip?dirname={{path}}">压缩</a>
        <a href="/tools/webuploader#{{path}}">上传大文件</a>
    </div>

    <form action="/fs/find">
    <div class="right">
        <input class="hide" name="path" value="{{path}}">
        <input name = "find_key" type="text" value="{{find_key}}">
        <input type="submit" value="Find File"/>
    </div>
    </form>
</div>

<hr/>

<div>

<div style="background: lightgreen;">
<a href="/fs//">Home</a> /
{% for item in fspathlist %}
    <a href="/fs/{{ item.path }}">{{ item.name }}</a> / 
{% end %}
</div>

<div class="col-md-12">

<!-- <li style="padding-top:6px;"><a href="{{path}}/..">上一级目录</a></li> -->

<table class="col-md-12">
{% for item in filelist %}
    {% if not item.name.startswith("._") %}
    <tr>
        <td>
        {% if item.type == "dir" %}
            <img src="/static/img/folder.gif"/>
            <a href="/fs/{{item.path}}" class="fs-dir">{{item.name}}</a>
        {% else %}
            <a href="/fs/{{item.path}}" class="fs-file">{{item.name}}</a>
            {% if item.name.lower().endswith((".jpg", "png", "gif", "jpeg")) %}
                <!-- <div><img src="/fs/{{item.path}}" class="fs-image" alt="{{item.name}}"/></div> -->
                <div class="fs-image-div" img-src="/fs/{{item.path}}"></div>
            {% end %}
        {% end %}
        </td>

        <td>
            {{item.size}}
        </td>

        <td>
            {% if item.path.endswith((".md", ".csv")) %}
                <a href="/wiki/{{item.path}}">[编辑]</a>
            {% end %}
        </td>
    </tr>
    {% end %}
{% end %}
</table>
<hr/>

</div>

<script type="text/javascript">
    $("#previewImg").on("click", function (target) {
        var self = this;
        var value = $(self).val();
        if (value == "预览图片") {
            $(".fs-image-div").each(function (index, target) {
                var img = $("<img>").attr("src", $(target).attr("img-src")).addClass("fs-image");
                $(target).append(img);
            })
            $(self).val("取消预览");
        } else {
            $(".fs-image").remove();
            $(self).val("预览图片");
        }
        
    })
</script>

{% end %}