{% extends base %}

{% block head %}
<style type="text/css">
p {
    margin: 0px;
}
</style>
{% end %}

{% block body %}

{% init action = "" %}
{% init index_size = 0 %}

<div class="box">
    <p>索引数量: {{index_size}}</p>

    {% if action == "reindex" %}
    <p>重建索引耗时: {{"%.2f"%cost}}秒</p>
    {% end %}

    <div class="row">
        <p>外部索引目录:</p>
        {% for fpath in xconfig.get('INDEX_DIRS', []) %}
            <div>{{fpath}}</div>
        {% end %}
    </div>

    <div class="row">
        <form method="POST">
            <input type="hidden" name="action" value="reindex">
            <button>重建索引</button>
        </form>
    </div>
</div>
{% end %}

{% block aside %}
    {% include fs/mod_aside.html %}
{% end %}
