{% init error = "" %}

{% include fs/component/options-css.html %}

<input id="currentPath" type="hidden" value="{{path}}"/>
<input id="currentError" type="hidden" value="{{error}}"/>

<div id="controlArea" class="col-md-12">
    <div class="float-left">
        <!-- 查看文件 -->
        <input type="button" class="btn" value="{{T('全选')}}" id="selectAllBtn"/>
        <!-- <input type="button" class="btn desktop-only-inline" value="预览图片" id="previewImg"/> -->
        
        <!-- 导入文件 -->
        <input type="button" class="btn" value="上传" id="uploadFileBtn" >
        <div class="dropdown">
            <span class="dropdown-btn link btn">新建▾</span>
            <div class="dropdown-content">
                <a class="dropdown-option" id="addFile">新建文件</a>
                <a class="dropdown-option" id="addDirectory">新建文件夹</a>
                <a class="dropdown-option" id="addPluginFile">新建插件</a>
            </div>
        </div>

        <!-- 管理文件 -->
        <input type="button" class="btn desktop-only-inline" value="删除" id="deleteBtn"/>
        <input type="button" class="btn desktop-only-inline" value="重命名" id="renameBtn" message="重命名为">
        <input type="button" class="btn desktop-only-inline" value="剪切" id="cutBtn" message="剪切"/>
        <input type="button" class="btn desktop-only-inline" value="剪切板" id="clipboardBtn"/>

        <!-- 视图选项 -->
        <div class="dropdown">
            <span class="dropdown-btn link btn">视图▾</span>
            <div class="dropdown-content">
                <a class="dropdown-option" href="/fs/{{path}}?mode=list">列表视图</a>
                <a class="dropdown-option" href="/fs/{{path}}?mode=grid">网格视图</a>
                <a class="dropdown-option" href="javascript:openByNative()">本地浏览</a>
                <a class="dropdown-option" href="javascript:openTerminal()">打开终端</a>
                <a class="dropdown-option" href="javascript:openFileOption(this)" data-path="{{path}}">命令窗口</a>
            </div>
        </div>

        <div class="dropdown">
            <span class="dropdown-btn link btn">更多▾</span>
            <div class="dropdown-content">
                <a class="dropdown-option" href="/code/search?path={{xutils.quote(path)}}&recursive=on">高级搜索</a>
                <a class="dropdown-option" href="/code/lines?path={{xutils.quote(path)}}&recursive=on">代码统计</a>
                <a class="dropdown-option" href="/fs/{{path}}?show_hidden_files=true">显示隐藏文件</a>
            </div>
        </div>
    </div>
</div>

{% include fs/component/clipboard-dialog.html %}

<script type="text/javascript">
$(function () {
    var globalPath = $("#currentPath").val();
    var globalError = $("#currentError").val();

    function previewImages() {
        $(".fs-image-div").each(function (index, target) {
            var src = $(target).attr("img-src");
            var img = $("<img>").attr("src", src)
                .attr("alt", src)
                .addClass("fs-image")
                .addClass("x-photo");
            $(target).append(img);
            img.on("load", function (event) {
                $(target).append($("<span class='fs-image-size'>").text(img[0].naturalWidth + "*" + img[0].naturalHeight));
            });
        })
        $("#previewImg").val("取消预览");
    }

    function togglePreview() {
        var self = this;
        var value = $(self).val();
        if (window.location.hash != '#preview') {
            previewImages();
            window.location.hash = '#preview';
        } else {
            $(".fs-image").remove();
            $(".fs-image-size").remove();
            $(self).val("预览图片");
            window.location.hash = '';
        }  
    }

    $("#previewImg").on("click", togglePreview);

    if (window.location.hash == '#preview') {
        previewImages();
    }

    function showErrorMessage(message) {
        showMessage("error", message);
    }

    function showMessage(level, message) {
        var ele = ".error";
        if (level == "error") {
            ele = ".error";
        }
        if (level == "success") {
            ele = ".success";
        }
        // $(ele).text(message).fadeIn(200).delay(3000).fadeOut(300);
        showToast(message, 3000);
    }

    function createFile(promptMessage, url) {
        xnote.prompt(promptMessage, "", function (fileName) {
            if (fileName && fileName != "") {
                $.post(url, {path: globalPath, filename: fileName}, function (respText) {
                    console.log(respText);
                    var data = respText;
                    if (data.code == "success") {
                        window.location.reload();
                    } else {
                        showErrorMessage(data.message);
                    }
                }).fail(function (data) {
                    console.log(data);
                    showErrorMessage(data);
                })
            }
        });
        
    }

    $("#addDirectory").on("click", function (target) {
        createFile("新建文件夹", "/fs_api/add_dir");
    });

    $("#addFile").click(function () {
        createFile("新建文件", "/fs_api/add_file");
    });

    $("#addPluginFile").click(function(event) {
        createFile("新建插件", "/fs_api/add_plugin");
    });

    $(".native-opener").on("click", function () {
        openByNative();
    });

    window.openByNative = function () {
        $.post("/system/command/open", {path: "{{path}}"});
    }

    window.openTerminal = function () {
        $.post("/system/command/openTerminal", {command: "openTerminal", path: "{{path}}"});
    }

    $(".command-btn").on("click", function () {
        var command = $(this).attr("data-command");
        $.get("/system/command", {command: command, path: globalPath});
    })

    window.removeFile = function(path) {
        var pathlist = path;
        if (path instanceof Array) {
            if (!confirm("确认删除%s个文件?".format(path.length))) {
                return;
            }
        } else {
            // 从path中获取文件名
            var name = /([^\/\\]+)[\\\/]?$/.exec(path)[1];
            name = decodeURI(name);
            if (!confirm("确认删除 '%s' ?".format(name))) {
                return;
            }
            pathlist = [path];
        }
        var rest = pathlist.length;
        for (var i = 0; i < pathlist.length; i++) {
            rest--;
            var path = pathlist[i];        
            $.post("/fs_api/remove", {path: path}, function (resp) {
                if (resp.code == "success" && rest <= 0) {
                    location.reload();
                } else {
                    showErrorMessage("删除失败, %s".format(resp.message));
                }
            }).fail(function (resp) {
                console.log(resp);
                showErrorMessage("删除失败");
            })
        }
    }

    $(".delete-link").click(function (e) {
        var path = $(this).attr("data-path");
        removeFile(path);
    })

    $("#deleteBtn").on("click", function () {
        var checked = $(":checked");
        if (checked.length == 0) {
            alert("请选择文件");
        } else if (checked.length > 1) {
            var pathlist = []
            $(":checked").each(function (index, element) {
                var name = $(element).attr("data-name");
                var path = $(element).attr("data-path");
                pathlist.push(path);
            });

            removeFile(pathlist);
        } else {
            var name = checked.attr("data-name");
            var path = checked.attr("data-path");
            removeFile(path);
        }
    });

    $("#renameBtn").on("click", function () {
        var checked = $(":checked");
        if (checked.length == 0) {
            alert("请选择文件");
        } else if (checked.length > 1) {
            alert("不支持批量重命名");
        } else {
            var name = checked.attr("data-name");
            var path = checked.attr("data-path");
            var dirname = "{{path}}";
            var new_name = prompt("重命名为", name);
            if (new_name) {
                $.post("/fs_api/rename", 
                    {dirname: dirname, old_name: name, new_name: new_name}, 
                    function (resp) {
                        if (resp.code == "success") {
                            location.reload();
                        } else {
                            showErrorMessage("重命名失败, %s".format(resp.message));
                        }
                }).fail(function (resp) {
                    console.log(resp);
                    alert("重命名失败");
                })
            }
        }
    });


    $("#cutBtn").on("click", function () {
        var checked = $(".checkboxTd :checked");
        if (checked.length == 0) {
            alert("请选择文件");
        } else {
            var cutPathList = [];
            checked.each(function (index, element) {
                // console.log(element);
                var path = $(element).attr("data-path");
                console.log(path);
                cutPathList.push(path);
            });
            var data = {"files": cutPathList};
            $.post("/fs_api/cut", data, function (resp) {
                console.log(resp);
                window.location.reload();
            }).fail(function (errorMessage) {
                alert("update clipboard failed!" + errorMessage);
            })
        }
    });

    $("#showMoreOptsBtn").click(function (event) {
        $(".advanced-opt").toggle(200);
    });

    $("#uploadFileBtn").click(function () {
        $("#uploadFileArea").toggle(200);
    });

    $("#selectAllBtn").click(function () {
        var toggle = parseInt($(this).attr("toggle") || 0);
        if (toggle % 2 === 0) {        
            $("input[type=checkbox]").prop("checked", true);
            $(this).val("反选");
        } 

        if (toggle % 2 === 1) {        
            $("input[type=checkbox]").prop("checked", false);
            $(this).val("全选");
        }
        toggle += 1;
        $(this).attr("toggle", toggle);
    });

    $("#clipboardBtn").click(function () {
        showClipboardDialog();
    });

    // do not adjust height in mobile
    if (isPc()) {
        adjustHeight(".file-list", 30);
    }
});
</script>

{% include fs/mod_fs_upload.html %}

