{% extends base %}

{% block head %}
<style type="text/css">
    /* 上传文件样式 */
    .progress {
        background-color: #f90;
        color: #fff;
        height: 20px;
        display: none;
        margin-left: 5px;
        border-width: 3px;
    }
    .progress span {
        display: block;
        background-color: #f90;
        color: #fff;
        height: 100%;
    }
    
    .finished-tag {
        color: #fff;
        background-color: green;
        border-width: 3px;
        border-radius: 3px;
        margin-left: 5px;
    }

    #dropArea {
        float: left;
        width: 100%;
        height: 80px;
        line-height: 80px;
        border: 3px dashed silver;
        text-align: center;
        font-size: 36px;
        color: #d3d3d3;
        cursor: pointer;
        box-sizing: border-box;
    }

</style>


<link rel="stylesheet" type="text/css" href="/static/lib/webuploader/webuploader.css">
<script type="text/javascript" src="/static/lib/webuploader/webuploader.nolog.min.js"></script>

{% end %}

{% block body %}
    {% include "mod_fs_path.html" %}


    <div id="uploadFileArea">
        <!-- 文件上传区域 -->
        <div id="uploader-demo">
            <!--用来存放item-->
            <div id="fileList" class="uploader-list"></div>
            <div id="filePicker" class="hide">选择文件</div>
            <div id="dropArea">点击或拖拽上传文件</div>
        </div>
    </div>

    {% include "fs/mod_fs_upload.html" %}
{% end %}

{% block aside %}
    {% include fs/mod_aside.html %}
{% end %}
