{% extends base %}

{% block body_left %}
<style>
    .value-detail {
        width:100%;
        height:95%;
    }
</style>

{% include common/script/load_select2.html %}
{% include system/component/db_nav.html %}
<script src="{{_server_home}}/_static/js/admin.js?ts={{_ts}}"></script>

<div class="card">
    <form>
        <div class="row">
            <div class="input-group">
                <label>数据库表</label>
                <select name="prefix" value="{{prefix}}">
                    <option value="">全部</option>
                    {% for key in table_names %}
                        <option value="{{key}}">{{key}}</option>
                    {% end %}
                </select>
            </div>

            <div class="input-group">
                <label>用户</label>
                <input name="q_user_name" value="{{q_user_name}}" type="text"/>
            </div>

            <div class="input-group">
                <label>关键字</label>
                <input name="db_key" value="{{db_key}}" type="text"/>
            </div>

            <div class="input-group">
                <label>排序</label>
                <select name="reverse" value="{{is_reverse}}">
                    <option value="False">正序</option>
                    <option value="True">倒序</option>
                </select>
            </div>
        </div>

        <div class="row">
            <input type="button" class="btn do-search-btn" value="查询数据">
            <a class="btn btn-default" href="?p=query&prefix={{prefix}}&reverse=true">重置查询</a>
        </div>

    </form>
</div>

{% if error != "" %}
    <div class="card error">
        <div class="col-md-12 error">
            {{error}}
        </div>
    </div>
{% end %}

<div class="result-rows">
    <!-- 搜索结果 -->
</div>

<div class="card hide">
    <div class="pad5 align-center">
        <a href="?key_from={{quote(last_key)}}&prefix={{prefix}}&&db_key={{quote(db_key)}}&q_user_name={{q_user_name}}">下一页</a>
    </div>
</div>

<script>
$(function () {
    var globalVersion = 0;

    xnote.admin.deleteRecord = function (target) {
        var key = $(target).attr("data-key");
        xnote.confirm("准备删除【" + key + "】，请确认", function (confirmed) {
            var params = {key: key};
            xnote.http.post("?action=delete", params, function (resp) {
                search();
            }).fail(function () {
                xnote.toast("删除失败，请稍后重试~");
            })
        });
    }

    $(".do-search-btn").click(function (e) {
        search();    
    });

    // 搜索接口（结果由后端渲染为 HTML 片段）
    function search() {
        var prefix = $("[name=prefix]").val();
        var reverse = $("[name=reverse]").val();
        var keyword = $("[name=db_key]").val();
        var userName = $("[name=q_user_name]").val();
        var params = {
            action: "search_html",
            keyword: keyword,
            reverse: reverse,
            prefix: prefix,
            q_user_name: userName,
        };
        xnote.http.get("", params, function (html) {
            $(".result-rows").html(html);
        });
    }

    // 初始化
    search();
});
</script>

{% end %}

{% block body_right %}
    {% include system/component/admin_nav.html %}
{% end %}
